---
slugOverride: premios-imediatos-tutan-keno
tags: [instant]
title: "Tutan Keno"
description: "Ainda não será o jogo do bicho, mas Tutan Keno da 1x2Gaming com seus besouros mágicos, sem gráficos deslumbrantes, faz um keno correto e jogável para os amantes dos números."
launch: 2016
provider:
    name: "1x2 Gaming"
    url: "/fornecedor/1x2-gaming-pt-br/"
game:
    ranking: 29
    score: 4
    paylines: 80
    volatility: "Baixa"
    rtp: "92.84%"
areas:
    prizes: "average"
    functions: "average"
    theme: "average"
iframe: https://1x2networkhub.com/f1x2games/loadGame.jsp?platform=desktop&display=flash&gameID=2063&lang=es&sessionID=0&playMode=fun&siteID=13&jurisdiction=&realitycheck_uk_elapsed=0&realitycheck_uk_limit=0&realitycheck_uk_proceed=http://&realitycheck_uk_exit=http://&realitycheck_uk_history=http://&realitycheck_uk_autospin=http://&lobbyUrl=https://www.betizen.org/juego/premios-instantaneos-tutan-keno/&demo=1x2gaming&end=true
---

<h2 id="premios" class="contentIndexTitle mb-1">Prêmios, RTP e volatilidade&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Média</span></h2><h3 class="contentIndexSubTitle">Tutan Keno é o jogo de números que inaugura a categoria de pagamentos imediatos no Betizen. Um jogo com um prêmio máximo de até R$ 10.000 e uma aposta mínima de R$ 0,1.</h3>
<p>Com Tutan Keno abrimos uma nova categoria de jogos em Betizen, aqueles especialmente desenhados para quando não queremos nos envolver em uma viagem chata para muitos de desenvolver estratégias de jogo complicadas, seja nas apostas esportivas, <a href="/jogos/roleta/">jogos de roleta web</a> ou mesmo quando se trata de <a href="/jogos/caca-niqueis/">slots online</a> onde a grande variedade de caça níqueis e mecânicas de jogo podem nos sobrecarregar.</p>
<p>Considerados mais um passo na simplicidade cada vez mais necessária para a qual muitos querem levar as suas apostas online, surgem os jogos de Prêmios imediatos, com os jogos de Keno e Raspadinhas. Sendo Tutan Keno o primeiro representante de um jogo de keno que colocamos no catálogo.</p>
<p>Sendo jogos extremamente simples, pode haver menos coisas para contar sobre eles. Felizmente, como descobrimos recentemente, 1x2Gaming nos oferece alguns dados relevantes sobre seus jogos, como apostas mínimas e máximas, que em Tutan Keno estão entre R$ 0,1 e R$ 20, uma faixa que nos surpreendeu para esse tipo de jogo de apostas.</p>
<p>Os ganhos máximos do jogo, por outro lado, chegam a R$ 10.000, uma quantia mais do que interessante, que de acordo com nosso cálculo deixaria este jogo na faixa de exposição máxima de x500.</p>
<p>Claro, uma nota sobre o RTP ou Retorno de Dinheiro para o jogador presente no Keno em questão e é que ele tem uma média de 92,84%. Repetimos que este é um valor médio, algo realmente baixo se levarmos em conta, por exemplo, que a média de um caça-níqueis é de 96% e que um valor de 95% já é suficiente para nós da Betizen levantarmos uma sobrancelha, como ficou claro na <a href="/juego/caca-niquel-inferno-da-fenix/">análise do Phoenix Inferno</a> recentemente publicada.</p>
<p>Mas isso não é tudo, se falarmos que o Tutan Keno tem um RTP médio muito baixo, o que você acha se informarmos que seu valor mínimo de RTP é tão baixo quanto 87,5%?</p>
<p>Pouco a comentar, a velocidade e a instantaneidade são pagas de alguma forma cara em termos de prêmios.<br>Claro, a frequência de prêmios em mecânicas como essa significa que raramente ficamos sem desfrutar de um prêmio.</p>
<h2 id="funciones-y-mecanica" class="contentIndexTitle mb-1">Funções e mecânica&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Média</span></h2><h3 class="contentIndexSubTitle">Escolha até 15 números de 1 a 80 e espere que 20 dos míticos escaravelhos egípcios lhe tragam suas riquezas neste jogo de keno da 1x2Gaming</h3>
<p>Quem está nesta página provavelmente já conhece a dinâmica básica de um jogo de keno, não há muito o que explicar sobre isso já que, como todos os jogos instantâneos, o funcionamento é super simples. De qualquer forma, o público sempre se renova e vale a pena explicar.</p>
<p>Um jogo de keno tem uma série de números disponíveis para fazer nossas apostas (por isso também são chamados de jogos de números, para diferenciá-los de caça-níqueis ou outros jogos de mesa). No caso do Tutan Keno esses números variam de 1 a 80.</p>
<p>Nele poderemos apostar em pelo menos 1 único número e no máximo 15, com a consequência de que quanto mais caixas de números escolhermos, maiores serão nossas chances de obter prêmios altos.<br>Assim, por exemplo, na aposta máxima de 20, se escolhermos 1 número teremos um prêmio de 20 no caso de obtê-lo, ou seja, só recuperaremos nossa aposta, com 1/80 de chance de obtê-la, mas se apostarmos em dois números obteremos um prêmio máximo de 190 que é quase 10 vezes mais do que com uma aposta.</p>
<p>Dessa forma, nosso prêmio potencial crescerá sucessivamente até atingir o máximo de 10.000 que podemos alcançar no jogo.</p>
<p>Uma vez que nossos números são selecionados no tabuleiro e nós jogamos, nossa sorte dependerá de 20 escaravelhos egípcios que voarão em direção aos números no tabuleiro.</p>
<p>E é assim, senhoras e senhores, que funciona um jogo instantâneo como o Tutan Keno, com um tema que analisaremos a seguir. Um jogo de números um pouco semelhante (embora não tanto em termos de prêmios e possibilidades) aos jogos de <a href="/jogos/video-bingo-pt/">vídeo bingo</a>.</p>
<p>Os jogos de Keno, como todos os jogos instantâneos, vêm com um “cheat”, pois no mundo das apostas quanto menor a incidência do jogador, mais expostos estamos a valores cada vez menores de retorno de dinheiro. Mas deixando isso de lado, vamos ao que nos une nesta seção.</p>
<p>Tutan Keno é um jogo devidamente projetado, embora depois de ter feito a pré-seleção de jogos que publicaremos na categoria Prêmios Imediatos, podemos dizer que, ao lado de maravilhas de design de outros fornecedores, Tutan de 1&#215;2 Gaming é um Keno que resulta pobre curto em termos visuais, repetimos, apesar de estar correto.</p>
<p>Resumindo, mais um jogo ambientado no Egito que é adicionado ao catálogo e que abre uma categoria.<br>Para os amantes dos números, não será o jogo do bicho mas está cada vez mais próximo 😉</p>
