---
slugOverride: caca-niqueis-hades
tags: [slot]
title: "Hades"
description: "Com o caça-níqueis Hades Gigablox da Yggdrasil com volatilidade média, 6 carreteis, 50 linhas de pagamento e 96% RTP podemos ganhar mais de R$6,000,000!"
launch: 2020
provider:
    name: "Yggdrasil"
    url: "/pt-br/fornecedor/yggdrasil-pt-br/"
game:
    ranking: 136
    score: 4
    maxWin: 11129
    paylines: 50
    volatility: "Média"
    rtp: "96%"
areas:
    prizes: "good"
    functions: "good"
    theme: "good"
iframe: https://staticpff.yggdrasilgaming.com/init/launchClient.html?gameid=7390&lang=pt&currency=BRL
---

<p>Os dragões de Hades de <a href="/pt-br/fornecedor/yggdrasil-pt-br/">Yggdrasil</a> têm como personagem principal Hades, um dos deuses olímpicos da mitologia grega. Hades se comparará aos melhores do mundo por rodadas grátis, multiplicadores e bônus de commodities em um caça-níqueis multimídia volátil, 96% RTP, 6 carreteis, 6 filas e 50 linhas de pagamento usando a mecânica Gigablox.</p>
<h2 id="premios" class="contentIndexTitle mb-1">Prêmios, RTP e volatilidade&nbsp;<span class="badge badge-success badge-pill">&#10003; Bom</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>O caça-níqueis Hades é um videogame de 6 carreteis, 6 filas e 50 linhas de pagamento. Seu RTP ou retorno de dinheiro para o jogador é de 96% e tem uma classificação de <a href="/colunas/o-que-e-a-volatilidade-nos-caca-niqueis/">volatilidade</a> média. Yggdrasil incluiu a mecânica Gigablox, que permite que os símbolos apareçam em blocos de 2&#215;2 a 6&#215;6 em qualquer carretel, mudando de local após cada rodada. Também tem multiplicadores, bônus de rodadas grátis e WILD HUNT ou Wild Card Hunt com o qual veremos o protagonista Hades lutar por maiores lucros.</p>
<p>A aposta mínima é de R$ 0,01 e a aposta máxima é de R$ 100. A frequência de obtenção de lucro é de 20,5% e a exposição máxima a atingir é de 11.129x nossas apostas, podendo ganhar US$D 1.112.900 jogando a aposta máxima.</p>
<p>Encontraremos 10 símbolos no caça-níqueis Hades que incluem 4 de menor valor representados pelos símbolos do baralho: Coração, Espada, Diamante e Flores e 4 símbolos de maior valor representados por bestas do submundo: uma Hydra, uma besta com chifres, um pássaro mutante e um Minotauro. O símbolo wild our coringa poderá substituir todos os símbolos regulares e o scatter representado pelo cão CERBERO.</p>
<p>O bônus Wild Hunt será acionado aleatoriamente durante o jogo base e durante o qual Hades lutará contra os símbolos do submundo que aparecem durante a rodada. Cada símbolo derrotado por Hades se tornará WILD selvagem incluído.</p>
<p>O bônus de rodadas grátis será ativado quando 5 ou mais símbolos scatter aparecerem em qualquer uma dos carreteis. O número de rodadas grátis concedidas será igual ao número de símbolos scatter que acionaram o bônus. No caso de símbolos scatter aparecerem durante o bônus, eles serão adicionados como rodadas grátis adicionais. Além disso, o bônus WILD HUNT será ativado em cada rodada.</p>
<p>Antes de iniciar o bônus de rodadas grátis, um contador de pontos aparecerá no lado esquerdo, onde cada ponto é igual a um dos símbolos de maior pagamento que foi derrotado por Hades durante a CAÇA SELVAGEM, incluindo o Gigablox que será calculado por seus tamanhos. No lado direito você encontrará uma barra multiplicadora com a qual obteremos multiplicadores 2x, 3x, 5x e até 10x, além de 2 rodadas grátis adicionais. Para 10 pontos, o multiplicador aumentará 2x, 25 pontos o multiplicador aumentará 3x, 45 pontos o multiplicador aumentará 5x e 70 pontos o multiplicador aumentará 10x.</p>
<h2 id="funciones-y-mecanica" class="contentIndexTitle mb-1">Funções e mecânica&nbsp;<span class="badge badge-success badge-pill">&#10003; Bom</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>A partir da extrema esquerda, encontramos o símbolo +, que é um menu expansível que nos mostra informações sobre o jogo, bem como onde podemos revisar detalhes de bônus, pagamentos, histórico do jogo, símbolos e seus valores. A seguir estão as opções de configuração de volume, efeitos sonoros, gráficos, opções gerais de jogo automático, informações técnicas e operação do jogo e um controle de volume adicional.</p>
<p>As informações adicionais mostradas na parte inferior são o número de linhas de pagamento, opções para aumentar ou diminuir o valor da aposta por rodada, aposta total, opção de aposta máxima por rodada, jogar / parar, opção de jogo automático que pode ser programado entre 10 a 1000 ou rodadas infinitas, informações sobre o lucro do última rodada e, finalmente, nosso saldo atual.</p>
<h2 id="tematica" class="contentIndexTitle mb-1">Tema e design&nbsp;<span class="badge badge-success badge-pill">&#10003; Bom</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>A caça-níqueis Hades foi lançada pela Yggdrasil em outubro de 2020, sendo o segundo jogo que utiliza a mecânica Gigablox com a qual podemos obter lucros muito bons através da obtenção de blocos de símbolos de 2&#215;2 a 6&#215;6. Desta vez, o jogo se passa na entrada do submundo da mitologia grega, onde Hades está esperando para lutar com as feras que aparecem. Efeitos sonoros contínuos e frases do personagem principal nos acompanharão durante o jogo.</p>
<p>O tema dos deuses é continuamente usado por vários fornecedores de software, mas Yggdrasil é um dos desenvolvedores que tira o máximo proveito deles, desenvolvendo designs gráficos excelentes e divertidos e efeitos audiovisuais que complementam suas novas funções e bônus úteis. Outros títulos como Valley of the Gods de Yggdrasil ou Viking Runes de<a href="/pt-br/fornecedor/playn-go-pt-br/"> Play n&#8217;Go</a> podem agradar a temas épicos.</p>
