---
slugOverride: caca-niquel-thunderstruck
tags: [slot]
title: "Thunderstruck"
description: "Com o caça-níqueis Thunderstruck da Microgaming com 5 carreteis, 3 linhas, 9 linhas de pagamento, RTP 96,1% e meia volatilidade, ganharemos até 30 rodadas grátis."
launch: 2004
provider:
    name: "Microgaming"
    url: "/pt-br/fornecedor/microgaming-pt-br/"
game:
    ranking: 128
    score: 4
    maxWin: 10000
    paylines: 9
    volatility: "Média"
    rtp: "96.1%"
areas:
    prizes: "good"
    functions: "average"
    theme: "average"
iframe: https://mobile2.gameassists.co.uk/MobileWebGames/game/mgs/9_3_0_6481?lobbyName=CasinoCalzoneCom&amp;languageCode=pt&amp;casinoID=1867&amp;loginType=VanguardSessionToken&amp;bankingURL=http%3A%2F%2Fmobile2.gameassists.co.uk%2Flobby%3F&amp;gameName=thunderstruck&amp;clientID=40300&amp;moduleID=10025&amp;clientTypeID=40&amp;xmanEndPoints=https%3A%2F%2Fxplay2.gameassists.co.uk%2FXMan%2Fx.x&amp;gameTitle=Thunderstruck&amp;lobbyURL=https://www.betizen.org/pt-br/jogo/caca-niquel-thunderstruck/&amp;helpURL=&amp;isPracticePlay=true&amp;isRGI=true&amp;authToken=
---

<p>A caça-níqueis <strong>Thunderstruck</strong> da <a href="/pt-br/fornecedor/microgaming-pt-br/">Microgaming</a> é um dos clássicos favoritos dos jogadores de vídeo slot que inclui o deus nórdico do trovão Thor como protagonista e com quem iremos duplicar os nossos ganhos, para além de podermos aceder a &#8220;<em>wilds</em>&#8221; ou curingas, multiplicadores e bónus de rodadas grátis.</p>
<p>Vamos lá!</p>
<h2 id="premios" class="contentIndexTitle mb-1">Prêmios, RTP e volatilidade&nbsp;<span class="badge badge-success badge-pill">&#10003; Bom</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>O caça-níqueis Thunderstruck é um vídeo caça-níqueis de 5 carreteis, 3 linhas e 9 linhas de pagamento que inclui símbolos wild ou curingas, símbolos scatters, multiplicadores, uma rodadas grátis e até uma rodada &#8220;APOSTA&#8221; que nos dará a oportunidade de dobrar ou quadruplicar nossos ganhos.</p>
<p>O RTP ou retorno de dinheiro para o jogador é de 96,1% e tem uma classificação de volatilidade média. Os limites de aposta podem variar dependendo da plataforma em que decidirmos jogar, de R$ 1-2 como aposta mínima a R$ 45 &#8211; 90 como aposta máxima, usando denominações de 0,01, 0,02, 0,05, 0,10, 0,20, 0,25 , 0,50, 1 e 2.</p>
<p>O jogo tem um total de 13 símbolos de valor. Os mais baixos pagos são representados por A, K, Q, J, 10 e 9 e os símbolos de maior valor são uma cornucópia ou chifre da abundância, um relâmpago, um castelo, a mão de Thor segurando o martelo de Thor. O símbolo wild ou coringa é representado pelo personagem principal do jogo Thor e, por último, um par de aríetes será o símbolo &#8220;<em>scatter</em>&#8221; ou dispersão. Todas as combinações vencedoras começarão do primeiro carretel do lado esquerdo para a direita do jogo.</p>
<p>O símbolo &#8220;wild&#8221; substituirá todos os símbolos regulares no jogo e completará a sequência de combinações vencedoras durante o jogo, com exceção do símbolo dispersão. O coringa também pode formar sua própria combinação e se 5 símbolos forem obtidos na mesma rodada, teremos 10.000x. Os curingas tem um atributo adicional, com o qual receberemos um multiplicador 2x sobre nossos ganhos sempre que uma combinação vencedora for complementada com um símbolo de wild. Teremos em consideração que o atributo multiplicador dos símbolos WILD não se aplica quando obtemos uma combinação vencedora deles.</p>
<p>Com 2 ou mais símbolos dispersão que apareçam numa linha de pagamento obteremos um lucro em função do número de símbolos, para além de aceder ao bónus de rodadas grátis no caso de obtermos 3, 4 ou 5 símbolos scatters. Seremos premiados com 15 rodadas grátis e os ganhos que obtivermos durante o bônus serão multiplicados por 3x. No caso de 3 ou mais símbolos dispersão aparecerem durante a rodada de bônus, podemos receber até 15 rodadas grátis adicionais, além de receber 3x multiplicadores novamente e receber os ganhos dos símbolos scatters que acessaram uma combinação vencedora.</p>
<p>Em alguns <a href="/cassinos/">cassinos online</a>, podemos encontrar o caça-níqueis Thunderstruck com um bônus adicional chamado GAMBLE ou RISCO, que é comumente encontrado em jogos de <a href="/pt-br/jogos/video-poker-pt/">vídeo póker</a>. Este bônus nos permitirá dobrar e até quadruplicar nossos ganhos obtidos durante o jogo base e até mesmo durante a rodada de bônus de rodadas grátis. Após cada obtenção de lucro aparecerá a opção JOGO, ao selecioná-la nos levará à tela de bônus onde aparecerão: uma carta que devemos adivinhar a cor (Vermelha ou Preta) que nos permitirá dobrar nosso lucro ou também podemos adivinhar qual é o símbolo da carta (Trevo, Espada, Ouro ou Coração) que nos permitirá quadruplicar nossos ganhos.</p>
<h2 id="funciones-y-mecanica" class="contentIndexTitle mb-1">Funções e mecânica&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Média</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>A máquina caça-níqueis Thunderstruck tem uma opção de informação, dentro do ícone de ponto de interrogação localizado no canto superior esquerdo. O índice inclui detalhes sobre o jogo, tais como: informações gerais, regras do jogo, opções de funcionalidade e, finalmente, suas características técnicas.</p>
<p>O menu retrátil localizado no canto superior esquerdo contém as configurações ou opções de configuração que incluem a função para ativar / desativar o som e Rodadas Rápidas ou &#8220;Quick Play&#8221;. Também encontraremos a opção Tabela de pagamento, onde são detalhados os bônus, símbolos, pagamentos e a descrição das linhas de pagamento.</p>
<p>As opções de jogo estão localizadas na parte inferior do jogo: CRÉDITOS detalha nosso saldo atual, em APOSTA aparece o valor da aposta que podemos diminuir ou aumentar usando os símbolos + e &#8211; além de podermos selecionar a denominação de créditos (0,02, 0,05, 0,10, 0,20, 0,25, 0,50, 1 e 2), bem como a quantidade de créditos para jogar por linha (entre 1 a 5 créditos). O GANHO irá detalhar o valor da última vitória e a opção RODAR ou spin iniciará o jogo, que irá alternar entre as rodadas com a opção PARAR ou stop que irá parar o movimento dos carreteis.</p>
<p>Não encontraremos algumas opções encontradas na maioria dos jogos da Microgaming, como Auto Play ou fast play, bem como Aposta Máxima.</p>
<h2 id="tematica" class="contentIndexTitle mb-1">Tema e design&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Média</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>Como mencionamos no início, o caça-níqueis Thunderstruck do renomado fornecedor de software Microgaming é um jogo clássico com mecânica simples e fácil de entender. A slot apresenta-nos um tema nórdico com Thor, o deus do trovão, como personagem principal e símbolos relacionados com os seus poderes.</p>
<p>É óbvio que o jogo não se destaca pelos seus designs gráficos ou efeitos sonoros (lembremos que se trata de um jogo lançado em 2004), tendo como pano de fundo visual a imagem do céu coberto de nuvens escuras, complementada pela efeito de sons que replicam o movimento dos carreteis, bem como aqueles que anunciam uma combinação vencedora ou obtêm rodadas de bônus.</p>
<p>Aos 16 anos, a caça-níquel Thunderstruck da Microgaming tem um bom número de seguidores na maioria das plataformas de casino online devido à gama acessível de apostas, bónus divertidos e pagamentos atractivos. Em 2010, <strong><a href="/pt-br/jogo/caca-niqueis-thunderstruck-2/">Thunderstruck 2</a></strong> foi lançado como uma continuação do jogo, adicionando mais personagens e modos de bônus.</p>
