---
slugOverride: caca-niqueis-crocoman
tags: [slot]
title: "Crocoman"
description: "O caça-níqueis Crocoman é um daqueles jogos adequados para todos os bolsos, mas ao mesmo tempo com um potencial interessante de ganhos. Vamos ver porque está a caminho de se tornar um clássico."
launch: 2017
provider:
    name: "Platipus"
    url: "/pt-br/fornecedor/platipus-br/"
game:
    ranking: 59
    score: 4
    paylines: 10
    volatility: "Média"
    rtp: "94%"
areas:
    prizes: "average"
    functions: "good"
    theme: "average"
iframe: https://softswiss.platipusgaming.com/GetGames/GetGameDemo?gameconfig=crocoman&lang=pt
---

<h2 id="premios" class="contentIndexTitle mb-1">Prêmios, RTP e volatilidade&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Média</span></h2><h3 class="contentIndexSubTitle"></h3><img decoding="async" width="1200" height="900" src="https://i0.wp.com/www.betizen.org/wp-content/uploads/2021/06/premios-en-crocoman.png?resize=1044%2C594&amp;ssl=1" class="attachment-large_crop size-large_crop mb-4" alt="premios-en-crocoman" title="thumb" data-caption data-src="https://i0.wp.com/www.betizen.org/wp-content/uploads/2021/06/premios-en-crocoman.png?resize=1044%2C594&ssl=1" data-large_image="https://i0.wp.com/www.betizen.org/wp-content/uploads/2021/06/premios-en-crocoman.png?resize=1044%2C594&ssl=1" data-large_image_width="1200" data-large_image_height="900" srcset="https://i0.wp.com/www.betizen.org/wp-content/uploads/2021/06/premios-en-crocoman.png?resize=1044%2C594&ssl=1 1200w,
                   https://i0.wp.com/www.betizen.org/wp-content/uploads/2021/06/premios-en-crocoman.png?resize=800%2C594&ssl=1 800w,
                   https://i0.wp.com/www.betizen.org/wp-content/uploads/2021/06/premios-en-crocoman.png?resize=768%2C576&ssl=1 768w,
                   https://i0.wp.com/www.betizen.org/wp-content/uploads/2021/06/premios-en-crocoman.png?resize=200%2C150&ssl=1 200w,
                   https://i0.wp.com/www.betizen.org/wp-content/uploads/2021/06/premios-en-crocoman.png?resize=400%2C300&ssl=1 400w,
                   https://i0.wp.com/www.betizen.org/wp-content/uploads/2021/06/premios-en-crocoman.png?resize=600%2C450&ssl=1 600w" sizes="(max-width: 1200px) 100vw, 1200px" >
<p>Quando pensamos em jogos dinâmicos, como o <strong>caça-níqueis Crocoman</strong>, normalmente esperamos baixa volatilidade. No entanto, este não é o caso do jogo em questão. Pelo contrário, o Crocoman com uma volatilidade estimada média encontra um bom equilíbrio entre simplicidade e interesse.</p>
<p>É sabido que jogos extremamente complicados geralmente ficam aquém em sua corrida para o sucesso e nunca chegam ao pódio dos clássicos. E, no entanto, jogos muito simples não conseguem capturar a atenção dos jogadores.</p>
<p>O segredo em todos os slots (quando muitos pensam que tudo vai nos efeitos visuais) está no bom equilíbrio entre prêmios, funções e qualidade de seus gráficos. Quanto às suas funções, como veremos mais adiante, o <strong>Crocoman</strong> é reduzido ao mínimo necessário para manter nossas expectativas até o momento do bônus. E em termos de prêmios, sem se destacar, nos oferece uma máquina caça-níqueis para todos os bolsos, e com prêmios que nas rodadas grátis em particular podem se tornar muito interessantes com os símbolos em expansão (capazes de cobrir até 5 carreteis).</p>
<p>Mas vamos aos detalhes. Estamos diante de um slot com apenas 10 linhas (novamente o que dissemos sobre simplicidade), e um RTP ou Retorno de Dinheiro ao Jogador de 94%. Algo particularmente baixo e que parece ser uma constante nas <a href="/pt-br/fornecedor/platipus-br/">caça-níqueis Platipus</a>.</p>
<p>Além disso, como estamos lidando com um fornecedor não transparente, devemos estimar a volatilidade desse jogo em média. Tem 9 símbolos + 1 Scatter. Entre os primeiros teremos 4 símbolos de alta denominação e 5 símbolos de baixo prêmio, variando de x5 a x5000. Por sua vez, os Scatters, além de ativar o bônus de rodadas grátis, nos pagarão até x200 o valor apostado se forem obtidos em todos os 5 cilindros.</p>
<p>As apostas mínimas e máximas do jogo variam de R$ 0,02 a R$ 5, tornando o caça-níqueis Crocoman um jogo particularmente acessível.</p>
<p>Em suma, um jogo simples, mas com as funções certas para gerar a expectativa necessária de prêmios interessantes que apostam no tradicional em termos de gráficos. Se em termos de tema Crocoman tenta nos oferecer &#8220;o melhor da África&#8221; ​​em termos de mecânica e prêmios sem ir tão longe Crocoman foi agradável e interessante o suficiente para nós. Algo como um safari sem grandes riscos, mas pelo qual não pediremos reembolso.</p>
<p>Vamos ver mais detalhes sobre suas funções e design nas seções a seguir.</p>
<h2 id="funciones-y-mecanica" class="contentIndexTitle mb-1">Funções e mecânica&nbsp;<span class="badge badge-success badge-pill">&#10003; Bom</span></h2><h3 class="contentIndexSubTitle">No caça-níqueis Crocoman, como em outros fornecedores do estilo Platipus, concentra-se em oferecer poucos e bem equilibrados recursos. E ao contrário de muitos, ele consegue!</h3>
<p>No caça-níqueis Crocoman, que poderia ser traduzido como &#8220;o homem crocodilo&#8221;, Platipus aposta (desculpe a redundância) pela simplicidade, poderíamos dizer, a extrema simplicidade de suas funções.</p>
<p>Tanto que no jogo o símbolo Scatter (Crocoman) que ativará a função de rodadas grátis também cumpre a função de um curinga, além de nos pagar prêmios independentemente da posição em que estiver nos carretéis. De fato, este símbolo Scatter, como dito acima, nos permitirá multiplicar nossa aposta até x200 vezes.</p>
<p>Três ou mais desses símbolos Crocoman nos oferecerão 10 rodadas grátis, com 1 símbolo especial de expansão (outra característica deste slot).</p>
<p>No início do nosso jogo de bônus, que no caça-níqueis Crocoman o único que teremos em nosso arsenal serão as rodadas grátis, um símbolo de expansão aleatório será selecionado.</p>
<p>Isso terá características e comportamentos especiais durante as rodadas grátis, pois uma vez pagos os prêmios das rodadas, esses símbolos especiais se expandirão para cobrir entre 2 e 5 rolos ou tambores, dando origem a novos prêmios que serão pagos de acordo com a tabela normal de o jogo, mas ao contrário do comportamento normal de outros símbolos, estes nos pagarão prêmios mesmo em posições não adjacentes e em cada uma das linhas jogadas.</p>
<p>A contrapartida desses símbolos em expansão é que eles só serão ativados em rodadas grátis em que ganhamos pelo menos 1 prêmio.</p>
<p>E é aí que terminam todas as características especiais do caça-níquel Crocoman. Normalmente um jogo com tão poucas atrações aparentes mereceria uma nota ruim na primeira resenha, porém assim como em outros jogos, por exemplo de Wazdan, vamos nomear <a href="/pt-br/jogo/caca-niqueis-esfinge-dourada/">Golden Sphinx</a> ou <a href="/pt-br/jogo/caca-niqueis-livro-de-magia/">Book of Magic</a>, essa falta de recursos melhora ao invés de diminuir o jogo, já que como já falamos mais de uma vez, geralmente menos é mais quando falamos de slots voltados para um público tradicional.</p>
<p>E este é o caso do caça-níqueis Crocoman. Um jogo simples e dinâmico com as funções certas e necessárias para nos deixar esperando.</p>
<h2 id="tematica" class="contentIndexTitle mb-1">Tema e design&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Média</span></h2><h3 class="contentIndexSubTitle">Finalmente, um slot da Platipus que consegue combinar o tradicional com boa dinâmica e prêmios interessantes.</h3>
<p>Os jogos africanos, o que dizer deles. Depois dos caça-níqueis do Egito, os amantes da natureza são o próximo refúgio em seus caça-níquel. Basta lembrar o famoso <a href="/pt-br/jogo/caca-niqueis-wolf-gold/">Wolf Gold</a>, <a href="/pt-br/jogo/caca-niqueis-cleopatra/">Cleopatra</a> ou os <a href="/pt-br/jogo/caca-niqueis-jungle-giants/">Giants of the Jungle</a>, ambos slots que focam seu tema no mundo natural.</p>
<p>No caso do caça-níqueis Crocoman, estaremos percorrendo a savana africana com um personagem suspeitamente semelhante ao <a href="https://pt.wikipedia.org/wiki/Crocodilo_Dundee">Crocodrilo Dundee</a>. Rodeados de búfalos, leopardos, elefantes e, claro, crocodilos, apreciaremos um slot que tem algo de encantador.</p>
<p>Tal como acontece com vários dos jogos do catálogo Platipus, a Crocoman aposta na boa dinâmica com destaque para os tradicionais ao nível dos efeitos sonoros e das animações.</p>
<p>Ao contrário do que aconteceu com outros jogos de fornecedores, como <a href="/pt-br/jogo/caca-niquel-chilli-fiesta/">Chilli Fiesta</a> ou <a href="/pt-br/jogo/caca-niquel-guises-of-dracula/">Guises of Dracula</a>, desta vez Platipus atinge uma velocidade de jogo muito mais satisfatória, principalmente onde os outros caça-níqueis falharam, que é oferecer giros efetivamente rápidos.</p>
<p>Em suma, em termos de design, o caça-níqueis Crocoman não decepciona se levarmos em conta que não chegou ao nosso catálogo por seus incríveis <a href="/tag/3d-br/">gráficos 3D</a> ou porque nos oferece grandes jackpots ou acumulados, como é o caso de outros jogos de Platipus.</p>
<p>Ao invés de ser um jogo um tanto tradicional e carente de novas ideias, mas que consegue um bom equilíbrio entre prêmios e dinâmica. Nada mal para um jogo de sua volatilidade.</p>
<p>O slot Crocoman pode ser jogado gratuitamente ou com dinheiro real em cassinos como <a href="/pt-br/cassino/tusk-cassino/">Tusk</a>, <a href="/pt-br/cassino/somos-casino/">Somos Casino</a> ou <a href="/pt-br/cassino/analise-vera-john/">Vera e John</a>.</p>
<p>Como já mencionamos em outros caça-níqueis Platipus, estamos desenvolvendo uma seção especial de Betizen Stories onde contarei experiências diretas de outros jogadores de caça-níquel.<br>Enquanto isso está a caminho, vamos para nossa experiência de 100 rodadas em Crocoman (embora seja o máximo que o jogo permite que você defina, ainda tem sido muito menos). Vamos ver por quê.</p>
<p>Foram necessárias apenas 21 rodadas automáticas para iniciar o bônus, o que mal nos deu tempo suficiente para ajustar nosso cronômetro. Não são mais do que alguns minutos e já tínhamos conseguido acessar o bônus e suas 10 rodadas grátis. Entramos com um saldo de R$ 9.996,60 na aposta mínima do jogo e saímos com um saldo positivo de R$ 10.004,80.</p>
<p>Isso apenas confirma o Crocoman como um jogo adequado para todos os <a href="/colunas/bankroll-o-que-e-e-como-gerencia-lo-em-nossas-apostas/">bankrolls</a>, mas ao mesmo tempo com um potencial de vitória interessante. Daqueles jogos para jogar tranquilamente que não vamos perder tudo na tentativa de tirar algo de um <a href="/cassinos/">cassino</a>, daqueles para tentar o destino diariamente.</p>
