---
slugOverride: caca-niqueis-ouro-vodu
tags: [slot]
title: "Ouro Vodu"
description: "O caça-níqueis Ouro Vodu da ELK nos oferece um jogo de 6 carreteis, alta volatilidade e um RTP de 96,1% com o qual podemos ganhar até R$ 500.000."
launch: 2019
provider:
    name: "ELK"
    url: "/pt-br/fornecedor/elk-pt-br/"
game:
    ranking: 151
    score: 4
    maxWin: 5000
    paylines: 4096
    volatility: "Alta"
    rtp: "96.1%"
areas:
    prizes: "good"
    functions: "good"
    theme: "good"
iframe: https://gamelauncher-stage.contentmedia.eu/1.0/game/?operatorid=44&amp;mode=demo&amp;currency=BRL&amp;device=desktop&amp;token=webdemo&amp;language=pt_br&amp;gameid=10037
---

<p>O caça-níqueis Ouro Vodu da <a href="/pt-br/fornecedor/elk-pt-br/">ELK</a> continua com a saga de aventura do explorador Kane, com um slot de 6 carretéis, alta volatilidade e um RTP de 96,1% com o qual podemos chegar a 262.144 linhas de pagamento e ganhar até 5000x nossas apostas.</p>
<h2 id="premios" class="contentIndexTitle mb-1">Prêmios, RTP e volatilidade&nbsp;<span class="badge badge-success badge-pill">&#10003; Bom</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>O lançamento de 2019 do caça-níqueis Ouro Vodu foi o último da série Gold da ELK mostrando recursos semelhantes aos de seus antecessores, incluindo avalanche e gotas gratuitas. O jogo contém 6 carreteis com 4 linhas que podem ser estendidas para 8 linhas, suas linhas de pagamento são inicialmente 4.096, mas podem chegar a 262.144.</p>
<p>O RTP ou retorno de dinheiro para o jogador é de 96,1% e sua classificação é de alta volatilidade. A aposta mínima aceita é de R$ 0,20 e a aposta máxima é de R$ 100. A frequência de obtenção de combinações vencedoras é de 23% e tem uma exposição máxima de 5.000 vezes a nossa aposta o que nos permitirá obter um lucro máximo de R$ 500.000 no caso de jogarmos a aposta máxima.</p>
<p>Encontraremos um total de 12 símbolos no <strong>caça-níqueis Ouro Vodu</strong>: quatro amuletos em forma de coração, uma estrela, uma cabeça de carneiro e uma cruz. Mais uma garrafa de poção, pés de galinha, uma cartola, um feiticeiro, uma bruxa rasta, uma caveira e, finalmente, o personagem principal Kane. O curinga <em>WILD</em> é representado por uma boneca vodu. O símbolo scatter de bônus é uma bomba com a descrição BÔNUS.</p>
<p>Todos os símbolos poderão se tornar símbolos MEGA ocupando blocos 2&#215;2, 3&#215;3 ou até 4&#215;4 dentro dos carreteis, além disso, eles irão remover os símbolos abaixo deles e substituí-los por símbolos WILD.</p>
<p>Os símbolos Wild WILD substituem todos os símbolos, exceto os símbolos BÔNUS. Durante o bônus de &#8220;<em>free drops</em>&#8220;, os wilds WILD que recebermos permanecerão estáticos nas bobinas.</p>
<p>O bônus de <em>drops grátis</em> será ativado quando pelo menos 3 scatters forem obtidos, o que nos dará 6 drops grátis (semelhantes a rodadas grátis). No caso de obtermos 4 scatters, serão concedidas 9 gotas gratuitas, para 5 scatters 12 gotas gratuitas e 6 scatters 15 gotas gratuitas.</p>
<p>O número de linhas de pagamento do slot Voodoo Gold aumentará quando o número de linhas aumentar, então para 4 linhas teremos 4.096 linhas de pagamento, 5 linhas 15.625 linhas, 6 linhas 46.656 linhas de pagamento, 7 linhas 117.649 linhas de pagamento e finalmente 8 linhas 262.144 linhas de pagamento.</p>
<h2 id="funciones-y-mecanica" class="contentIndexTitle mb-1">Funções e mecânica&nbsp;<span class="badge badge-success badge-pill">&#10003; Bom</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>As opções de configuração e funções em jogos ELK são caracterizadas por serem simples e fáceis de localizar. Também oferece ao jogador estratégias de apostas de acordo com seus resultados.</p>
<p>Três linhas horizontais localizadas na parte superior esquerda incluem: o ícone da tabela de pagamento contém a descrição dos símbolos, a tabela mesma de pagamento e estratégias de apostas que podemos usar para maximizar nossas chances de ganhar. O ícone de configurações contém as opções de som, efeitos, música de reprodução rápida e uma amostra de créditos para tocar. O ícone de informações contém as regras do jogo e, por fim, um ícone de promoções caso obtenhamos um código promocional da operadora.</p>
<p>Na parte superior direita, encontraremos a opção de jogo automático que nos fornece 4 alternativas de rodadas ou guros automáticos: 10, 25, 50 e 100 rodadas. No canto inferior direito visualizaremos o botão para iniciar o jogo e no canto inferior direito a aposta total que queremos jogar e as estratégias de apostas.</p>
<p>Na opção de estratégias de apostas podemos selecionar: &#8220;Otimizador&#8221; onde o nível de aposta muda automaticamente de acordo com a porcentagem selecionada para o saldo atual de créditos, &#8220;Nivelador&#8221; onde o nível de aposta aumenta dois níveis após perder 5 rodadas contínuas e reinicia após a obtenção um lucro, &#8220;Booster&#8221; onde o nível de aposta aumenta um nível depois de perder uma rodada até atingir quatro níveis acima da aposta base, reiniciando após obter um lucro e finalmente &#8220;Jumper&#8221; onde aumenta um nível de aposta após uma rodada vencedora até quatro níveis de redefinição da aposta base após perder uma rodada.</p>
<h2 id="tematica" class="contentIndexTitle mb-1">Tema e design&nbsp;<span class="badge badge-success badge-pill">&#10003; Bom</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>Com o caça-níqueis Ouro Vodu os desenvolvedores de ELK apostam na continuação das aventuras de Kane com o terceiro episódio de sua série GOLD. A criação de excelentes designs audiovisuais é uma das características mais marcantes dos jogos da ELK Studios. Desta vez, nosso protagonista estará em busca de tesouros escondidos nos pântanos escuros da Louisiana, acompanhado por xamãs e feitiços de vodu. Se você é fã de aventuras intensas, recomendamos também ou jogo <a href="/pt-br/jogo/caca-niqueis-ouro-do-equador/">Ouro do Equador</a> da ELK e <a href="/pt-br/jogo/caca-niqueis-gonzos-quest-megaways/">Gonzo’s Quest Megaways</a> da <a href="/pt-br/fornecedor/red-tiger-pt-br/">Red Tiger</a> &amp; <a href="/pt-br/fornecedor/netent-brasil/">Netent</a>.</p>
