---
slugOverride: caca-niqueis-reel-king
tags: [slot]
title: "Reel King"
description: "O caça-níqueis Reel King da Novomatic com 94% RTP apresenta os símbolos clássicos de fruta, bobo da corte e 7s e pode ganhar até 500x nossas apostas."
launch: 2014
provider:
    name: "Novomatic"
    url: "/pt-br/fornecedor/novomatic-pt-br/"
game:
    ranking: 121
    score: 4
    maxWin: 500
    paylines: 20
    volatility: "Média"
    rtp: "94%"
areas:
    prizes: "average"
    functions: "good"
    theme: "good"
iframe: https://demoslots.org/api/df6236-3399cb-8c4707-c6854a-6d29bf/red-tiger/reel-king-mega
---

<p>O <strong>caça-níqueis Reel King</strong> é um dos jogos clássicos da Novomatic, que inclui símbolos de frutas retrô, chapéus de bobo da corte e 7s, apresenta figuras das primeiras máquinas de alavanca dos cassinos terrestres no melhor estilo do <a href="/pt-br/jogo/caca-niqueis-mega-joker/">Mega Joker</a> da <a href="/pt-br/fornecedor/netent-brasil/">Netent</a> ou <a href="/pt-br/jogo/caca-niqueis-jokerizer/">Jokerizer</a> da <a href="/pt-br/fornecedor/yggdrasil-pt-br/">Yggdrasil</a>. O jogo de volatilidade média e RTP de 94% inclui uma rodada de bônus aleatória que nos recompensará com até 500x nossas apostas.</p>
<h2 id="premios" class="contentIndexTitle mb-1">Prêmios, RTP e volatilidade&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Média</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>O caça-níqueis Reel King da <a href="/pt-br/fornecedor/novomatic-pt-br/">Novomatic</a> apresenta 5 cilindros, 3 linhas e até 20 linhas de pagamento. O slot de vídeo não tem uma rodada de bônus de rodadas grátis, mas nos oferece um bônus aleatório Reel King, onde o Rei do Jogo nos recompensará com até 500x o valor de nossas apostas.</p>
<p>O RTP ou retorno de dinheiro para o jogador é de 94% e o jogo tem a classificação de volatilidade média, chegando a 17% de chance de obter lucros. A aposta mínima permitida é de R$ 0,50 e a aposta máxima é de R$ 100 (os intervalos de apostas podem variar dependendo do cassino em que jogamos).</p>
<p>Encontraremos um total de 9 símbolos no caça-níqueis Reel King, começando com os símbolos de menor valor, como uma cereja, uma ameixa, o 10 e o J. Os símbolos de maior valor são representados pelo K, Q e o símbolo com um saco cheio de moedas de ouro com a inscrição JACKPOT. Ele também apresenta um símbolo selvagem WILD representado por um chapéu de bobo da corte com a inscrição WILD nele e um símbolo scatter representado pelo Rei do jogo segurando os 3 cilindros de 7s. As combinações vencedoras serão compostas por pelo menos 3 dos mesmos símbolos que apareceram adjacentemente no primeiro rolo do lado esquerdo, em uma linha de pagamento e durante a mesma rodada.</p>
<ul><li>O símbolo cereja pagará 3 símbolos 0,50:1, 4 símbolos 1:1 e 5 símbolos 2:1.</li><li>O símbolo de ameixa pagará por 3 símbolos 0,50:1, por 4 símbolos 1:1 e por 5 símbolos 2:1.</li><li>O símbolo 10 pagará por 3 símbolos 1:1, por 4 símbolos 2:1 e por 5 símbolos 3:1.</li><li>O símbolo J pagará por 3 símbolos 1:1, por 4 símbolos 2:1 e por 5 símbolos 3:1.</li><li>O símbolo Q pagará por 3 símbolos 2:1, por 4 símbolos 3:1 e por 5 símbolos 5:1.</li><li>O símbolo K pagará por 3 símbolos 3:1, por 4 símbolos 5:1 e por 5 símbolos 10:1.</li><li>O símbolo Jackpot pagará por 3 símbolos 5:1, por 4 símbolos 10:1 e por 5 símbolos 25:1.</li></ul>
<p>Nesta oportunidade, o símbolo curinga WILD não conta como símbolo de valor e apenas substituirá o restante dos símbolos para formar ou completar uma combinação vencedora, aparecendo apenas nos rolos 3, 4 e 5.</p>
<p>O símbolo de dispersão acionará a rodada de <a href="/promocoes/">bônus de cassino</a> dos <strong>slots Reel King</strong> e aparecerá aleatoriamente após o término da rodada. O símbolo bônus do Rei do jogo pode aparecer em um e até 5 rolos ao mesmo tempo, onde aparecerão 5 mini rolos com símbolos 7s de cores diferentes (vermelho, dourado e azul), que terão pagamentos diferentes (três 7s mistos 2:1, três 7s azuis 5:1, três 7s dourados 10:1 e três 7s vermelhos 25:1). O pagamento máximo que podemos obter durante o bônus será 500X nossas apostas.</p>
<p>O slot Reel King também possui o recurso GAMBLE. Depois de obter o lucro, escolheremos a opção GAMBLE, que nos levará a uma tela de bônus de 6 níveis, onde escolheremos a opção DOUBLE para tentar dobrar nosso último lucro, se não excedermos o primeiro nível, perderemos o lucro obtido e voltaremos ao início de outra rodada. Caso ultrapassemos o primeiro nível nosso lucro será dobrado e podemos continuar até o último nível ou podemos optar por pegar o ganho acumulado escolhendo a opção COLLECT. Existem 2 coisas que levaremos em consideração para usar esta função, a primeira é que ela não pode ser usada se a função AUTOPLAY estiver ativada e a segunda é que, dependendo do valor da aposta, existem limites que podemos dobrar nossos ganhos (por exemplo, se jogarmos uma única linha de 0,50, o valor máximo para dobrar durante a função GAMBLE será de 25 créditos).</p>
<h2 id="funciones-y-mecanica" class="contentIndexTitle mb-1">Funções e mecânica&nbsp;<span class="badge badge-success badge-pill">&#10003; Bom</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>Encontraremos as opções de configuração do slot Reel King no lado direito do jogo, descrito como MENU como uma opção retrátil. As funções SOM e MÚSICA podem ser ativadas ou desativadas clicando nelas com o mouse. A opção PAYTABLE é indicada com um ícone de informação onde encontraremos na primeira página as descrições dos símbolos que o jogo contém e seus respectivos pagamentos, a segunda página detalha as linhas de pagamento e o bônus aleatório Reel King do jogo. Por fim, na última página, encontraremos um resumo das regras e características gerais do jogo.</p>
<h2 id="tematica" class="contentIndexTitle mb-1">Tema e design&nbsp;<span class="badge badge-success badge-pill">&#10003; Bom</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>O caça-níqueis Reel King é outro dos jogos desenvolvidos pelo <a href="/fornecedores/">fornecedor</a> Greentube para a Novomatic que se baseia nos icônicos símbolos de frutas, chapéus de bobo da corte e 7s dos <a href="/jogos/caca-niqueis/">caça-níqueis</a> clássicos e onde é incorporada uma rodada na qual podemos obter créditos adicionais, acessando aleatoriamente e nos mantendo atentos. Nesta oportunidade, os efeitos sonoros complementam o jogo, dando-lhe mais emoção e até mesmo durante o jogo base com o som dos rolos e durante a rodada de bônus.</p>
