---
slugOverride: caca-niquel-african-simba
tags: [slot]
title: "African Simba"
description: "Com a caça-níquel African Simba da Novomatic de 5 carreteis, 243 linhas de pagamento, volatilidade média e RTP 95,2%, obteremos até 2500x em ganhos em nossas apostas."
launch: 2012
provider:
    name: "Novomatic"
    url: "/pt-br/fornecedor/novomatic-pt-br/"
game:
    ranking: 123
    score: 4
    maxWin: 2500
    paylines: 243
    volatility: "Média"
    rtp: "95.2%"
areas:
    prizes: "average"
    functions: "good"
    theme: "good"
iframe: https://demo.monkeyboxsrv.com/demo/fullstate/html5/novomatic/africansimba
---

<p>O caça-níquel African Simba da Novomatic nos leva ao continente africano, onde o personagem principal, Simba, o rei leão, nos ajudará a obter grandes vitórias em um slot com volatilidade média e RTP de 95,2%, 5 carreteis, 3 linhas e 243 linhas de pagamento. </p>
<h2 id="premios" class="contentIndexTitle mb-1">Prêmios, RTP e volatilidade&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Média</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>O caça-níquel African Simba da <a href="/pt-br/fornecedor/novomatic-pt-br/">Novomatic</a> apresenta símbolos wild e scatter que ativarão a rodada de bônus de rodadas grátis com multiplicadores, além do recurso GAMBLE com o qual podemos aumentar nossos ganhos. O slot de vídeo tem 5 carreteis, 3 linhas e até 243 linhas de pagamento.</p>
<p>O jogo tem uma volatilidade média e um RTP de 95,2%, com uma taxa de vitórias de 29%. Em relação aos intervalos de apostas, encontraremos diferenças entre os cassinos online que oferecem o jogo, oscilando entre apostas mínimas de R$0,01 e apostas máximas de R$ 100. Devemos levar em conta que os pagamentos das combinações de símbolos vencedores, bem como os os limites máximos da função GAMBLE variam automaticamente de acordo com o valor apostado.</p>
<p>Um total de 8 serão os símbolos que encontraremos na máquina caça-níqueis African Simba: os símbolos de menor valor A, K, Q, J, 10 e 9. Os símbolos de maior valor são representados pelo Flamingo, um par de suricatos, um búfalo do cabo e uma girafa. O símbolo de coringa ou &#8220;wild&#8221; é representado por Simba, o Leão, o personagem principal do jogo e, finalmente, o símbolo de dispersão ou &#8220;scatter&#8221; que carrega a figura da famosa montanha africana Kilimanjaro. As rodadas vencedoras serão contadas quando pelo menos 3 símbolos aparecerem adjacentes durante a mesma rodada e em uma linha das linhas de pagamento a partir do primeiro rolo do lado esquerdo.</p>
<ul><li>Os símbolos J, 10 e 9 pagarão por 3 símbolos 5:1, 4 símbolos 20:1 e 5 símbolos 100:1.</li><li>Os símbolos A, K e Q pagarão por 3 símbolos 10:1, 4 símbolos 25:1 e 5 símbolos 125:1.</li><li>O Flamingo pagará 3 símbolos 25:1, 4 símbolos 75:1 e 5 símbolos 250:1.</li><li>Os suricatos pagarão por 3 símbolos 25:1, 4 símbolos 75:1 e 5 símbolos 250:1.</li><li>O Cape Buffalo pagará por 3 símbolos 50:1, 4 símbolos 150:1 e 5 símbolos 750:1.</li><li>A Girafa pagará por 3 símbolos 100:1, 4 símbolos 500:1 e 5 símbolos 2.500:1.</li></ul>
<p>Os símbolos curingas aparecerão apenas nos carreteis 2, 3 e 4 e podem substituir todos os símbolos do jogo durante o jogo base e nas rodadas de bônus, com exceção dos símbolos scatter. No caça-níquel African Simba, os símbolos curinga não podem formar uma combinação vencedora e sua função no jogo é exclusivamente substituir e completar combinações dos símbolos de valor.</p>
<p>Assim como os curingas, os símbolos &#8220;scatter&#8221; não têm uma combinação vencedora e sua função será apenas ativar a rodada de bônus de giros grátis, após 3 símbolos scatter aparecerem nos carreteis 1, 3 e 5 durante o jogo. Seremos premiados com 12 rodadas grátis, mais os ganhos obtidos durante a rodada de bônus serão multiplicados por 3x. Finalmente, será possível obter rodadas grátis durante a rodada de bônus caso 3 scatters apareçam novamente, dando-nos mais 12 rodadas grátis com multiplicadores de 3x para os ganhos obtidos durante o bônus.</p>
<p>Encontraremos a função GAMBLE, como em tudos os títulos da Novomatic, como uma opção alternativa para aumentar nossos ganhos, que serão ativados após a obtenção de uma combinação vencedora. Se quisermos jogar, selecionaremos a opção e ela nos levará a uma tela de bônus onde escolheremos se a carta oculta é VERMELHA ou PRETA. Se escolhermos corretamente, duplicaremos nossos ganhos e podemos dobrar o valor quantas vezes quisermos. Para sacar nossos ganhos escolheremos apenas COLETAR e os créditos obtidos serão transferidos para o nosso saldo credor. A função GAMBLE não será ativada durante a função de &#8220;Jogo automático&#8221;.</p>
<h2 id="funciones-y-mecanica" class="contentIndexTitle mb-1">Funções e mecânica&nbsp;<span class="badge badge-success badge-pill">&#10003; Bom</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>Os controles do caça-níquel African Simba e as opções de funcionalidade estão localizados na parte inferior do jogo. Abaixo dos rolos, iniciando a descrição pelo lado esquerdo, nosso saldo atual será detalhado na opção CRÉDITO. A seguir, no espaço onde está descrito POR FAVOR FAÇA SUA APOSTA, aparecerá o valor do lucro obtido durante a rodada e na seção ÚLTIMO GANHO será especificado o valor do nosso último lucro.</p>
<p>A opção &#8220;Jogo Automático&#8221; ou Auto Play nos permitirá configurar o jogo com rodadas automáticas, sem ter um número predeterminado de giros (como podemos encontrar na maioria dos jogos de outros fornecedores) que podem ser cancelados pressionando AUTOPLAY novamente. A opção PLAYTABLE ou &#8220;Tabela de Pagamentos&#8221; nos mostrará todos os símbolos disponíveis com seus respectivos pagamentos, também pressionando a opção MAIS INFO saberemos os detalhes dos bônus, descrição das linhas de pagamento e regras gerais do jogo.</p>
<p>Selecionaremos a opção MULTIPLICAR APOSTA para programar o número de linhas de pagamento que queremos jogar (o que também podemos fazer apontando para os carreteis do jogo com o mouse). Com APOSTA BASE podemos selecionar o número de créditos por linha que queremos jogar (mínimo 1 máximo 5.000). BET ou APOSTA indicará quantos créditos totais jogaremos por rodada com base em nossa seleção nas opções BET MULTIPLER e BASE BET, que podemos modificar antes de iniciar o jogo com os controles &#8211; e +.</p>
<p>O recurso GAMBLE estará disponível após uma vitória, durante o jogo base e na rodada de bônus, mas será desativado quando o recurso AUTOPLAY ou JOGO AUTOMÁTICO estiver em execução. Com START (INICIAR) iniciaremos o jogo e também pode ser usado como uma opção de rodada rápida, durante a função GAMBLE será ativado como COLLECT e será usado para obter os lucros obtidos (no caso de estarmos jogando de um computador ou laptop, pode substituir o uso de START pelo espaçador do teclado). Por fim, na parte superior direita do jogo, localizaremos a opção de ativar/desativar os efeitos sonoros.</p>
<h2 id="tematica" class="contentIndexTitle mb-1">Tema e design&nbsp;<span class="badge badge-success badge-pill">&#10003; Bom</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>Lançado em 2012, o caça-níquel African Simba da Novomatic é outra colaboração do <a href="/fornecedores/">fornecedor</a> de jogos de cassino Greentube, que apresenta Simba, o Rei Leão da Selva e outros animais característicos da selva, assim como em jogos como <a href="/pt-br/jogo/caca-niqueis-mega-moolah/">Mega Moolah</a> da <a href="/../proveedor/microgaming/">Microgaming</a> ou <a href="/pt-br/jogo/caca-niqueis-jungle-giants/">Jungle Giants</a> da <a href="/pt-br/fornecedor/playtech-pt/">Playtech</a>.</p>
<p>O jogo se passa em uma savana africana, cercada por gramíneas e árvores verdes sob um céu azul muito claro. A Novomatic ainda continua a complementar seus jogos com efeitos sonoros que nos lembram as antigas máquinas caça-níqueis, mas desta vez introduziu alguns sons africanos quando conseguimos uma combinação vencedora ou acessamos a rodada de bônus.</p>
