---
slugOverride: caca-niquel-joias-congeladas
tags: [slot]
title: "Joias Congeladas"
description: "O caça-níquel Joias Congeladas é um jogo de alta volatilidade de 5 carreteis e 3 linhas com um RTP de 96,03% e uma possível vitória de R$121.050!"
launch: 2018
provider:
    name: "Just for the Win"
    url: "/fornecedor/just-for-the-win-pt-br/"
game:
    ranking: 162
    score: 4
    maxWin: 121050
    paylines: 20
    volatility: "Alta"
    rtp: "96.03%"
areas:
    prizes: "average"
    functions: "average"
    theme: "average"
iframe: https://redirector32.valueactive.eu/Casino/Default.aspx?applicationid=4023&amp;sext1=demo&amp;sext2=demo&amp;serverid=22619&amp;gameid=icyGemsDesktop&amp;ul=pt&amp;variant=UAT-demo
---

<p>A caça-níquel Joias Congeladas é uma vídeo-slot com elevada volatilidade e um RTP de 96,03% que tem um total de 20 linhas de pagamento. Embora não tenha rodadas grátis, ele nos oferece um símbolo Re-spin e Superspin e uma modalidade de armazenamento de bônus que nos garante até R$121.050!</p>
<h2 id="premios" class="contentIndexTitle mb-1">Prêmios, RTP e volatilidade&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Média</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>O <strong>caça-níqueis Joias Congeladas</strong> é um jogo de 5 carreteis e 3 linhas com um total de 20 linhas de pagamento. O RTP ou retorno de dinheiro para o jogador é de 96,03%, com um ganho médio de 24,06% e um rating de alta volatilidade. A aposta mínima é de R$0,10 e a máxima é de R$100, garantindo-nos um lucro possível de 1210,5 vezes a nossa aposta.</p>
<p>Só para ganhar apresenta-nos desta vez o modo de <strong>ARMAZENAMENTO DE SÍMBOLOS</strong>, que consiste em guardar os símbolos da última combinação vencedora numa caixa com 3 posições livres localizadas no lado direito do jogo.</p>
<p>O símbolo da primeira combinação vencedora será armazenado na posição 1 e o bônus Re-spin será ativado, o que concederá uma rodada adicional. Caso obtenhamos outra combinação vencedora, o símbolo desta ficará armazenado na posição 2 e outra rodada será concedida e caso obtenha uma combinação vencedora, o símbolo será armazenado na posição 3.</p>
<p>O bônus Superspin é a continuação do bônus Re-spin e consiste em uma rodada, onde apenas os símbolos armazenados aparecerão nos carreteis e terão 3 modos diferentes, dependendo dos símbolos armazenados:</p>
<p>Para 3 símbolos diferentes armazenados será ativado o modo Prata, para 2 símbolos iguais será ativado o modo Ouro e para 3 símbolos iguais será ativado o modo <em><strong>Grandes Ganhaos</strong></em>, este último é o que nos garante a obtenção de maiores lucros desde um um único símbolo ocupará todos os carreteis.</p>
<p>O caça-níquel Joias Congeladas apresenta um total de 10 símbolos de valor: A, K, Q, J em cores diferentes, uma gema verde, uma gema vermelha, uma gema roxa, uma gema do céu e o logotipo do jogo &#8220;<em>ICY GEMS</em>&#8221; como o símbolo de mais valor.</p>
<p>O curinga é representado por um W e a inscrição &#8220;<em>WILD</em>&#8220;, ambas em ouro. Os caracteres curinga substituem todos os símbolos, mas não são elegíveis para o modo ARMAZENAMENTO DE SÍMBOLOS.</p>
<h2 id="funciones-y-mecanica" class="contentIndexTitle mb-1">Funções e mecânica&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Média</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>Just for the Win tornou a funcionalidade de seus jogos fácil de usar tanto para PC quanto para dispositivos móveis; as seguintes opções podem ser localizadas abaixo:</p>
<p>No canto superior direito da tela visualizaremos 3 pontos que ao entrar nos mostrarão um menu expansível de: informações sobre símbolos, pagamentos, valores, procedimentos para obtenção de bônus e combinações de linhas vencedoras. Em seguida, encontraremos um item de configuração avançada de rodadas rápidas e um controle de ligar e desligar o som.</p>
<p>No lado direito da tela também encontramos as opções de jogo automático que nos permitem configurar de 10 a 100 rodadas e o valor da aposta por giro. Uma seta dentro de um círculo indica a opção de virar ou jogar. Finalmente, na parte inferior iremos localizar a informação sobre o nosso saldo atual, o valor do último lucro obtido e a aposta da última rodada.</p>
<h2 id="tematica" class="contentIndexTitle mb-1">Tema e design&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Média</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>As empresas desenvolvedoras <a href="/fornecedor/just-for-the-win-pt-br/">Just for the Win</a> e <a href="/fornecedor/microgaming-pt-br/">Microgaming</a> nos deu vários títulos que podem cumprir uma função específica e no caso do <strong>slot Ice Gems</strong> ou Joias Congeladas que foi lançado em novembro de 2018, sua tarefa é homenagear o nome da empresa. Empresa sueca … apenas pelo lucro! Outras colaborações conjuntas que vale a pena tentar são <a href="/juego/caca-niqueis-tweet-hearts/">Tweet Hearts</a> ou <a href="/juego/caca-niqueis-reel-talent/">Reel Talent</a>.</p>
<p>Encontraremos um jogo básico e simples com um tema focado em destacar os símbolos principais que são as joias, que brilham envoltas por um design visual frio de um tom azul que muda de cor durante a parte mais emocionante do jogo, que é o bônus <strong>Superspin</strong>, acompanhado por um fundo musical muito relaxante que quase se torna monótono.</p>
