---
date: "2020-09-25T20:23:45+00:00"
slugOverride: caca-niqueis-buffalo
tags: [slot]
title: "Buffalo"
description: "O caça níqueis Buffalo é sem dúvida um dos slots físicos mais jogados de todos os tempos. Com um RTP baixo de apenas 94,85% de volatilidade média e 1024 maneiras diferentes de vencer, vale a pena tentar."
launch: 2008
provider:
    name: "Aristocrat"
    url: "/pt-br/fornecedor/aristocrat-brasil/"
game:
    ranking: 212
    score: 4
    paylines: 1024
    volatility: "Média"
    rtp: "94.85%"
areas:
    prizes: "average"
    functions: "good"
    theme: "average"
iframe: https://supermegaslot.com/demo/game.php?game=3013&language=es
---

<h2 id="premios" class="contentIndexTitle mb-1">Prêmios, RTP e volatilidade&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Média</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>Quando falamos sobre o caça níqueis Buffalo da Aristocrat lançado em 2008, estamos falando de um clássico de todos os tempos que mais de um jogador que já entrou em uma sala de caça-níqueis física saberá.</p>
<p>Possui uma grade de carreteis de 5&#215;4 e uma promessa de 1024 maneiras diferentes de fazer combinações vencedoras. O maior prêmio é representado pelo símbolo do búfalo, que também pode ser empilhado, ocupando o rolo inteiro ou vários!</p>
<p>Quanto à RTP, trata-se de um jogo de baixo retorno, que com apenas 94,85% ainda está abaixo da média da indústria. Compensa nossas alegrias com uma volatilidade média (média / alta, dirão alguns), com uma exposição máxima que nos permitirá multiplicar x300 nossa aposta.</p>
<p>Em suma, um jogo moderado em termos de prêmios, o caça níqueis Buffalo permite uma aposta máxima de $80 e uma aposta mínima de $0,03. Alcance mais do que interessante que se adapta a diferentes estilos de jogo.</p>
<h2 id="funciones-y-mecanica" class="contentIndexTitle mb-1">Funções e mecânica&nbsp;<span class="badge badge-success badge-pill">&#10003; Bom</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>Quanto às funções no caça níqueis Buffalo, temos uma curiosidade do fornecedor Aristocrat chamada Xtra Reel Power, onde é o jogador que decide quantos carreteis ele deseja ativar e isso significa que, em uma ranhura 5&#215;3, onde são esperadas cerca de 25 linhas de pagamento em Buffalo, elas se tornam em 1024 chances de ganhar a cada rodada.</p>
<p>O símbolo do Buffalo, como já dissemos, por outro lado, é o que esperamos como jogadores. Pode chegar a empilhar, ocupar todo o carretel e pode até ocupar todas as posições do caça níqueis! E é aí que os maiores lucros possíveis são encontrados. Tanto que, quando recebermos um desses símbolos, ouviremos um homem que grita &#8220;Búfalo!</p>
<p>O caça níqueis Buffalo também possui curingas. Estes são representados pelo símbolo do pôr do sol. Como é normal nos <a href="/pt-br/jogos/caca-niqueis/">caça-níqueis online</a>, eles substituirão todos os símbolos do jogo, exceto os símbolos Scatter, e os veremos aparecer apenas nos cilindros 2, 3 e 4.</p>
<p>As rodadas grátis aparecerão quando recebermos 3 ou mais símbolos de moedas de ouro. O que nos dará 8, 15 ou 20 rodadas grátis, respectivamente. Essas rodadas grátis têm alguns recursos especiais, por exemplo, os símbolos Scatter podem continuar a aparecer durante as elas e nos darão rodadas extras.</p>
<p>Além disso, durante as rodadas grátis, poderemos multiplicar nosso prêmio x2 ou x3 se tivermos curingas extras.</p>
<p>Como um bônus final, podemos apostar todas as rodadas vencedoras em um jogo de cartas, talvez, apenas no caso de estarmos em uma sequência de sorte extra. Embora isso não seja novidade, é bom dar aos jogadores essa possibilidade, que resume um bom número de funções, simples, mas eficazes, como esperamos em qualquer caça níqueis clásico.</p>
<h2 id="tematica" class="contentIndexTitle mb-1">Tema e design&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Média</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>A caça níqueis Buffalo da Aristocrat é um clássico de todos os tempos em cassinos físicos. Como esperado em jogos cujo início foi &#8220;terrestre&#8221; quando foram &#8220;exportados&#8221; para o mundo online, é difícil competir em termos de design e gráficos com máquinas caça-níqueis mais modernas.</p>
<p>Um pouco datado para alguns, mas com a excelente dinâmica dos jogos que passaram no teste de anos em cassinos físicos em todo o mundo. Também com uma nova maneira de escolher nossas linhas, vale a pena gastar alguns minutos para conhecer a experiência, tanto em um cassino físico quanto em um <a href="/pt-br/cassinos/">cassino online</a>. Ou experimentando gratuitamente no Betizen!</p>
