---
slugOverride: caca-niquel-io
tags: [slot]
title: "IO"
description: "O caça-níqueis IO de ELK é um jogo de média alta volatilidade contendo até 262.144 linhas de pagamento, RTP de 96% e um ganho máximo de até R$500.000."
launch: 2020
provider:
    name: "ELK"
    url: "/fornecedor/elk-pt-br/"
game:
    ranking: 150
    score: 4
    maxWin: 5000
    paylines: 4096
    volatility: "Média/Alta"
    rtp: "96%"
areas:
    prizes: "average"
    functions: "average"
    theme: "average"
iframe: https://gamelauncher-stage.contentmedia.eu/1.0/game/?operatorid=44&mode=demo&currency=BRL&device=desktop&token=webdemo&language=pt_br&gameid=10046
---

<p>ELK continua a nos surpreender, desta vez com o <strong>caça-níquel IO</strong> de alta volatilidade, 6 carretéis e 96% de RTP. Poderemos acessar até 262.144 linhas de pagamento graças aos mecanismos de avalanche, queda de gravidade dos símbolos, curingas com multiplicadores e bônus de rodadas grátis com os quais teremos a oportunidade de obter até R$ 500.000, similar a outro jogo do mesmo estudo, o mágico <a href="/juego/caca-niqueis-ouro-vodu/">Ouro Vodu</a>. </p>
<h2 id="premios" class="contentIndexTitle mb-1">Prêmios, RTP e volatilidade&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Média</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>O caça-níquel IO de ELK contém 6 carreteis, 4 linhas e 4.096 linhas de pagamento que podem ser estendidas até 8 linhas e 262.144 linhas de pagamento graças à mecânica de avalanche, como em <a href="/juego/caca-niqueis-ouro-do-equador/">Ouro do Equador</a> e o mencionado <a href="/juego/caca-niqueis-ouro-vodu/">Voodoo Gold</a>, além de seus símbolos de gravidade da mecânica de queda. O RTP ou retorno de dinheiro para o jogador é de 96% e sua classificação de volatilidade é Média/Alta.</p>
<p>A aposta mínima é de R$ 0,20 e a aposta máxima é de R$ 100, a porcentagem de vitórias é de 24,6% e sua exposição é 5000x vezes as nossas apostas com um pagamento máximo de até R$ 500.000 jogando a aposta máxima.</p>
<p>Todos os símbolos têm forma circular e incluem: A, K, Q e J. Uma estrela azul, um trevo de 4 folhas, um diamante rosa e um 7 da sorte vermelho. Os símbolos WILD wild são descritos com um W dourado e o símbolo scatter de bônus de rodadas grátis contém a descrição BÔNUS.</p>
<p>A slot IO apresenta-nos até 3 tipos de curingas, o <em>CHARGED WILD</em> substitui todos os símbolos e começará com 4 vidas e irá utilizá-los sempre que fizer parte de uma combinação vencedora, o <em>WILD FORGE</em> irá gerar curingas multiplicadores abaixo dos seus e aumentará cada vez que o curinga comum WILD é usado e, finalmente, substitui todos os símbolos, exceto o <em>WILD CARREGADO</em>, a <em>FORÇA WILD</em> e o símbolo <em>LASER</em> que podem excluir e criar símbolos.</p>
<p>O bônus de rodadas grátis será ativado quando os símbolos scatter <em>BÔNUS</em> aparecerem durante a mesma rodada, dando-nos 7 rodadas grátis. Durante o bônus, teremos 8 carreteis e 262.144 linhas de pagamento. No caso de recebermos 3 símbolos scatter de BÔNUS durante o bônus, receberemos até 7 rodadas grátis adicionais.</p>
<p>O número de linhas de pagamento aumentará quando o número de linhas aumentar, então para 4 linhas teremos 4.096 linhas de pagamento, 5 linhas 15.625 linhas de pagamento, 6 linhas 46.656 linhas de pagamento, 7 linhas 117.649 linhas de pagamento e finalmente 8 linhas 262.144 linhas de pagamento.</p>
<h2 id="funciones-y-mecanica" class="contentIndexTitle mb-1">Funções e mecânica&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Média</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>Iremos encontrar 3 linhas horizontais localizadas na parte superior esquerda inclui: o ícone da tabela de pagamento contém a descrição referente aos símbolos, a tabela de pagamento e estratégias de apostas que podemos usar para maximizar nossas chances de ganhar. O ícone de configurações contém as opções de som, efeitos, música de reprodução rápida e uma amostra de créditos para tocar. O ícone de informações contém as regras do jogo e, por fim, um ícone de promoções caso obtenhamos um código promocional da operadora.</p>
<p>Na parte superior direita, encontraremos a opção de jogo automático que nos fornece 4 alternativas de giros automáticos: 10, 25, 50 e 100 rodadas. No canto inferior direito visualizaremos o botão para iniciar o jogo e no canto inferior direito a aposta total que queremos jogar e as estratégias de apostas.</p>
<p>Na opção de estratégias de apostas podemos selecionar: &#8220;Otimizador&#8221; onde o nível de aposta muda automaticamente de acordo com a porcentagem selecionada para o saldo atual de créditos, &#8220;Nivelador&#8221; onde o nível de aposta aumenta dois níveis após perder 5 rodadas contínuas e reinicia após a obtenção um lucro, &#8220;Booster&#8221; onde o nível de aposta aumenta um nível depois de perder uma rodada até atingir quatro níveis acima da aposta base, reiniciando após obter um lucro e finalmente &#8220;Jumper&#8221; onde aumenta um nível de aposta após uma rodada vencedora até quatro níveis de redefinição da aposta base após perder uma rodada.</p>
<h2 id="tematica" class="contentIndexTitle mb-1">Tema e design&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Média</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>O caça-níquel IO da ELK é um dos últimos lançamentos do ano de 2020 e tem o selo clássico de engenhosidade e inovação dos mecanismos de jogo desenvolvidos por fornecedores suecos. O jogo se passa dentro de uma nave espacial que está a caminho de orbitar o planeta Júpiter, muito perto da lua IO. Embora o trabalho de design gráfico seja bem feito e complementado por bons efeitos sonoros, depois de um tempo pode se tornar monótono e enfadonho. Outros títulos como <a href="/juego/rise-of-ai/">Rise of AI</a> de <a href="/fornecedor/endorphina-pt-br/">Endorphina</a> ou <a href="/juego/caca-niqueis-starburst/">Starburst</a> de <a href="/fornecedor/netent-brasil/">Netent</a> podem fazer parte de nossa lista de temas espaciais.</p>
