---
slugOverride: caca-niqueis-peaky-blinders
tags: [slot]
title: "Peaky Blinders"
description: "Os bad boys de Birmingham chegaram da mão Pragmatic Play e o caça-níqueis Peaky Blinders nos oferecendo uma vitória de até 202.200 créditos e 96,5% de RTP."
launch: 2020
provider:
    name: "Pragmatic Play"
    url: "/fornecedor/pragmatic-play-pt-br/"
game:
    ranking: 167
    score: 4
    maxWin: 2022
    paylines: 20
    volatility: "Alta"
    rtp: "96.5%"
areas:
    prizes: "average"
    functions: "average"
    theme: "average"
iframe: https://demogamesfree.pragmaticplay.net/gs2c/openGame.do?lang=pt&cur=BRL&gameSymbol=vs20pblinders&websiteUrl=https%3A%2F%2Fdemogamesfree.pragmaticplay.net&jurisdiction=99&lobbyURL=https://www.betizen.org/pt-br/jogo/caca-niqueis-peaky-blinders/
---

<p>O caça-níqueis Peaky Blinders é uma proposta da desenvolvedora <a href="/fornecedor/pragmatic-play-pt-br/">Pragmatic Play</a> baseada na popular série de televisão britânica de mesmo nome. Um jogo de alta volatilidade, 96,5% RTP e a chance de ganhar até 202.200 créditos.</p>
<h2 id="premios" class="contentIndexTitle mb-1">Prêmios, RTP e volatilidade&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Média</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>O caça-níqueis Peaky Blinders é um jogo de 5 carreteis e 3 linhas com o qual poderíamos obter até 2022 vezes nossa aposta jogando até um total de 20 linhas de pagamento e é considerado um dos jogos de maior <a href="/colunas/o-que-e-a-volatilidade-nos-caca-niqueis/">volatilidade</a> que o Pragmatic Play oferece.</p>
<p>O RTP ou retorno de dinheiro ao jogador é de 96,5% o que nos dá um grau de confiança de que, ao receber uma combinação vencedora, será significativo. Embora a aposta mínima de R$0,20 seja acessível a todos, é recomendável que antes de fazer uma aposta testemos o jogo em seu modo livre e nos familiarizemos com sua funcionalidade.</p>
<p>A slot Peaky Blinders apresenta os seguintes símbolos: A, K, Q, J, 10. Além dos quatro membros da família Shelby: os irmãos Tommy e Arthur Shelby, Polly Gray e o filho Michael Gray. O símbolo com a descrição WILD ou Coringa, que pode substituir todos os símbolos, exceto para scatters.</p>
<p>Os 2 símbolos scatters ativarão um bônus de rodada aleatório e só aparecerão no carretel 5. O scatter &#8220;Shelby Betting Shop&#8221; concederá prêmios apenas aos símbolos dos 4 personagens do caça-níqueis Peaky Blinders e adicionará os prêmios ao combinações vencedoras obtidas. O scatter &#8220;Por Ordem dos Picos Blinders&#8221; manterá os símbolos dos 4 personagens que surgiram e substituirá todos eles por apenas um dos personagens escolhidos ao acaso, obtendo um lucro de acordo com a combinação obtida.</p>
<p>O jogo tem um símbolo &#8220;Peaky Blinder Bonus&#8221; que ativará o <a href="/promocoes/">bônus</a> de rodadas grátis nos seguintes casos:</p>
<p>O primeiro caso será ativado quando aparecer nos cilindros 1 e 3, além do scatter “Shelby Betting Shop” no carretel 5 que concederá 8 rodadas grátis. Durante as rodadas grátis, scatters adicionais “Shelby Betting Shop” irão aparecer, os quais serão recompensados ​​e adicionados ao total do bônus.</p>
<p>O segundo caso será ativado quando o &#8220;Bônus Peaky Blinder&#8221; aparecer no carretel 1 e 3, além do scatter &#8220;Por ordem dos Peaky Blinders&#8221; no carretel 5, que concederá 10 rodadas grátis, caso apareçam scatters adicionais ele manterá os símbolos dos 4 personagens que apareceram e irão substituir todos com apenas um dos personagens escolhidos ao acaso obtendo um lucro de acordo com a combinação obtida.</p>
<h2 id="funciones-y-mecanica" class="contentIndexTitle mb-1">Funções e mecânica&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Média</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>No canto inferior esquerdo encontraremos a opção de configuração do jogo que inclui o valor da aposta por giro e opções de som, efeitos mesmo que você queira desativar a opção de nosso histórico de jogo. Na opção Informações, são detalhados os símbolos do jogo e seus pagamentos, as regras e detalhes das linhas de pagamento das combinações obtidas e um guia detalhado da funcionalidade do jogo. Além disso, podemos localizar o saldo atual de créditos e o valor da aposta por rodada.</p>
<p>No canto inferior direito, encontraremos a opção de jogo automático com a qual podemos selecionar entre 10 a 100 rodadas automáticas, bem como opções como parar o jogo automático caso nosso saldo diminua para um determinado valor, interrompendo o jogo quando um valor for ganhou ou quando nosso banco aumenta. Além disso, encontramos os símbolos de apostas no canto inferior direito, detalhando o montante, valor e aposta total por linha a ser jogada.</p>
<p>O caça-níqueis Peaky Blinders pode ser jogado a partir de qualquer dispositivo móvel e no caso de ser usado de um PC você pode usar a barra de espaço para iniciar ou parar os giros durante o jogo e mantendo-o pressionado podemos ativar o modo Turbo do jogo.</p>
<h2 id="tematica" class="contentIndexTitle mb-1">Tema e design&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Média</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>O caça-níqueis Peaky Blinders da Pragmatic Play foi um dos jogos mais esperados deste ano de 2020 pelos fãs de séries de ação e inclui locais bem trabalhados da série ambientados na cidade britânica de Birmingham durante o tempo da grande guerra. Se você é fã da série de ação, não se esqueça de uma volta em <a href="/juego/caca-niqueis-narcos/">Narcos</a> da <a href="/fornecedor/netent-brasil/">Netent</a>.</p>
<p>Os efeitos sonoros são bem complementados pelo fundo musical que, embora não seja a banda sonora original da série, ajuda a associar ao tema do jogo. Mas é o momento dos bónus que nos fará sentir que estamos a assistir a um episódio da série, já que poderemos ouvir a voz característica do protagonista <a href="https://pt.wikipedia.org/wiki/Tommy_Shelby" target="_blank" rel="noreferrer noopener">Tommy Shelby</a> após a obtenção de lucros.</p>
