---
date: "2020-09-25T20:23:37+00:00"
slugOverride: caca-niqueis-princesa-do-ceu
tags: [slot]
title: "Princesa do céu"
description: "Simples e concreto é uma forma de resumir o caça níqueis Princesa do céu, dirigida ao público feminino, com um RTP de 95,99% e uma volatilidade média."
launch: 2015
provider:
    name: "BGaming"
    url: "/pt-br/fornecedor/bgaming-pt-br/"
game:
    ranking: 197
    score: 4
    paylines: 9
    volatility: "Média"
    rtp: "95.99%"
areas:
    prizes: "average"
    functions: "average"
    theme: "average"
iframe: https://bgaming-network.com/play/PrincessOfSky/FUN?server=demo&locale=pt
---

<p>O jogo que queremos compartilhar hoje é o primeiro caça níqueis do estúdio de criação BGaming. Não o compartilhamos porque é o melhor caça-níqueis, mas principalmente porque quando escrevemos o <a href="/pt-br/cassino/loki-analise/#bonos">análise do cassino Loki</a> e analisamos sua promoção de boas-vindas, comentamos sobre as 100 rodadas grátis dele e dissemos que tínhamos que ter cuidado e ler as letras miúdas da promoção desde que os giros só estariam disponíveis para o caça níqueis Princesa do céu da BGaming, ou por seu nome original em inglês, Princess of Sky.</p>
<p>E como não podíamos deixar nossos jogadores com apenas uma aadvertência, decidimos investigar do que se tratava esse jogo. Então, sem mais delongas, vamos aos detalhes.</p>
<h2 id="premios" class="contentIndexTitle mb-1">Prêmios, RTP e volatilidade&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Média</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>O caça níqueis Princesa do céu é um jogo tradicional de 5&#215;3 com apenas 9 linhas de pagamento, um RTP normal, mas nada para se impressionar e volatilidade média. Todos isso convida a esperar pagamentos aceitáveis, com relativa frequência.</p>
<p>A exposição máxima ou vitória máxima do jogo é x10000, uma soma muito interessante, embora tenha cuidado para não ficar muito animado, para obtê-lo precisaremos de 5 curingas em uma das 9 linhas de pagamento configuráveis. O prémio imediatamente anterior se falarmos apenas de símbolos, ou seja, sem a intervenção de funções especiais nos permitirá multiplicar a nossa aposta por x5000 no caso de fazermos uma combinação vencedora. Este segundo símbolo mais importante do jogo em termos de prémios é representado por uma coroa.</p>
<p>O intervalo de aposta permitido por linha vai de 0,1 a 1, o que nos permitirá uma aposta total entre 0,01 para uma única linha de pagamento e 9 para a aposta máxima. Um jogo, como podemos ver, econômico, de gama média, com o prêmio excepcional.</p>
<h2 id="funciones-y-mecanica" class="contentIndexTitle mb-1">Funções e mecânica&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Média</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>O caça níqueis Princesa do céu é particularmente simples em termos de recursos. Apenas dois. Algumas vezes, claro, menos é mais. E, como prova, os jogos da Novomatic mais bem-sucedidos e procurados, como o mega-famoso <a href="/pt-br/jogo/caca-niqueis-book-of-ra/">Book of Ra</a>, não só apresenta gráficos da era da TV em preto e branco, mas também tem um número limitado de funções em comparação com uma máquina caça-níqueis mais moderna. Além de comparações, o que queremos dizer é que um slot vale a pena ou não pelo seu bom ou mau equilíbrio de prêmios, funções e tema, e não por apenas um desses fatores.</p>
<p>No caça níqueis Princesa do céu teremos símbolos Scatter e os símbolos curingas comentados, responsáveis ​​pelo maior prémio do jogo.</p>
<p>Os símbolos Scatter estão envolvidos em nos dar as rodadas grátis. Ao obter 3, 4 ou 5 desses símbolos, teremos 10, 20 ou 50 rodadas gratuitas, respectivamente. E adicionalmente, e para terminar que não há muito mais a respeito das funções, esse giros podem ser recuperados durante os mesmos, com novas combinações de símbolos Scatter.</p>
<p>Simples, e concreto.</p>
<h2 id="tematica" class="contentIndexTitle mb-1">Tema e design&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Média</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>Quanto ao tema, não restam dúvidas, após alguns segundos depois da abertura vemos que o caça níqueis Princesa do céu é uma slot pensada para o público feminino. Ambientado em contos de fadas e princesas infantis, com um castelo perdido nas nuvens ao fundo, coroas douradas, chaves mágicas, rosas e joias maravilhosas, esta é uma máquina caça-níqueis com tema perfeito e eficaz para desestressar para aqueles jogadores que gostam de mergulhar em alguma memória simples da infância (sem descartar que todos possamos brincar, pelo menos na versão gratuita para se livrar da curiosidade).</p>
<p>Claro, sendo um jogo associado à promoção de boas-vindas do cassino Loki, mais de um cavalheiro terá que pendurar suas botas por um tempo e aprender a aproveitar o caça níqueis Princesa do Céu. Algo que não deixa de ter uma certa graça.</p>
<p>Em termos de ambientação musical, é um jogo agradável. Isso não pode ser negado. O teclado com o qual vamos interagir está um pouco desconectado em termos de design do estilo geral do jogo, característica que já havíamos visto e comentada, por exemplo, em <a href="/pt-br/jogo/caca-niqueis-ali-baba/">Ali Baba de Leander</a>.</p>
<p>Mas detalhes à parte, o Princess of Sky nos dá a possibilidade de configurar detalhadamente até 1000 rodadas automáticas, com várias opções para pará-los em casos de ganhos ou perdas.</p>
