---
date: "2021-11-15T18:39:42+00:00"
slugOverride: caca-niqueis-multifly
tags: [slot]
title: "Multifly"
description: "O caça-níqueis Multifly e seus incansáveis ​​camaleões multiplicadores oferecem um jogo de alta volatilidade com 243 linhas de pagamento e um RTP de 96,3%"
launch: 2020
provider:
    name: "Yggdrasil"
    url: "/pt-br/fornecedor/yggdrasil-pt-br/"
game:
    ranking: 165
    score: 4
    maxWin: 10513
    paylines: 243
    volatility: "Alta"
    rtp: "96.3%"
areas:
    prizes: "good"
    functions: "good"
    theme: "good"
iframe: https://staticpff.yggdrasilgaming.com/init/launchClient.html?gameid=7383&lang=pt&currency=BRL
---

<p>O caça-níqueis Multifly da <a href="/pt-br/fornecedor/yggdrasil-pt-br/">Yggdrasil</a> é um jogo de alta <a href="/colunas/o-que-e-a-volatilidade-nos-caca-niqueis/">volatilidade</a> com um RTP de 96,3% que nos levará a uma jornada pela selva com rolos multiplicadores, wilds e rodadas grátis, dando-nos mais chances de obter até 10.513 vezes nossas apostas.</p>
<h2 id="premios" class="contentIndexTitle mb-1">Prêmios, RTP e volatilidade&nbsp;<span class="badge badge-success badge-pill">&#10003; Bom</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>Um jogo de alta volatilidade com RTP ou retorno de dinheiro para o jogador de 96,3% é o que nos espera ao escolher a caça-níqueis Multifly da Yggdrasil com aposta mínima de R$ 0,10 e aposta máxima de R$ 75. A média de obtenção de combinações vencedoras que podemos esperar é de 17% além de ter a possibilidade de ganhar até 10.513 vezes a nossa aposta, pagando-nos R$ 788.475 caso decidamos jogar a aposta máxima.</p>
<p>Os desenvolvedores suecos do Yggdrasil nos deram um caça-níqueis de 6 carreteis e 3 linhas com um modo “<em>Dropdown</em>” também conhecido como cascata e 243 linhas de pagamento, onde após obter uma combinação vencedora, os símbolos poderiam ser substituídos por outros e nos dar mais possibilidades de obter uma nova combinação vencedora durante o mesmo giro. O peculiar do Multifly é que também adiciona um símbolo coringa &#8220;<em>WILD</em>&#8221; entre as rodadas, dando a possibilidade de obter mais combinações vencedoras.</p>
<p>Acima de cada carretel encontraremos multiplicadores representados por iguanas que começarão em 1x e aumentarão quando um símbolo &#8220;<em>wild</em>&#8221; aparecer no respectivo carretel aumentando o multiplicador em 1x em cada carretel sem ter um limite de exposição. Cada vez que obtivermos uma combinação vencedora, os ganhos serão multiplicados.</p>
<p>As combinações vencedoras consistirão em pelo menos 3 símbolos começando no primeiro carretel da esquerda. A caça-níqueis Multfly contém um total de 12 símbolos: os símbolos de menor pagamento são: A, K, Q, J, 10, 9 e os símbolos de maior pagamento: um lagarto azul, um sapo, um tucano e um papagaio. O &#8220;<em>wild</em>&#8221; é representado por um cartão dourado com a descrição &#8220;<em>WILD</em>&#8221; com alguns vaga-lumes dentro e, finalmente, um Iguana dourada como um símbolo scatter ou dispersão.</p>
<p>O bônus de rodadas grátis será ativado quando 3 símbolos scatter aparecerem nas colunas 2, 3 e 4, dando-nos 10 rodadas. Deve-se notar que durante o bônus a mecânica básica da cascata não muda e que os multiplicadores da bobina não zeram no final das rodadas. Nenhuma opção adicional de rodadas grátis estará disponível durante o bônus.</p>
<h2 id="funciones-y-mecanica" class="contentIndexTitle mb-1">Funções e mecânica&nbsp;<span class="badge badge-success badge-pill">&#10003; Bom</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>Todas as opções de funcionalidade do jogo estão na parte inferior da tela. Começando do lado esquerdo, o símbolo + nos mostrará a opção de informações do jogo onde podemos revisar detalhes de bônus, pagamentos, símbolos e seus valores. A seguir estão as opções de configuração de volume, efeitos sonoros, gráficos, opções gerais de jogo automático, informações técnicas e operação do jogo e um controle de volume adicional.</p>
<p>As informações adicionais mostradas na parte inferior são o número de linhas de pagamento, opções para aumentar ou diminuir o valor da aposta por rodada, aposta total, opção de aposta máxima por rodada, jogar / parar, opção de reprodução automática que pode ser programada entre 10 a 1000 rodadas, informações sobre o lucro do último e giro e, finalmente, nosso saldo atual.</p>
<h2 id="tematica" class="contentIndexTitle mb-1">Tema e design&nbsp;<span class="badge badge-success badge-pill">&#10003; Bom</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>O cenário do jogo é dentro de uma selva rodeada de animais exóticos, sendo os protagonistas camaleões inquietos em busca de vaga-lumes que vão multiplicar as combinações vencedoras que conseguirmos obter. A formação musical cumpre sua função de acompanhamento do tema selvagem, destacando os momentos de obtenção de bônus e ganhos.</p>
<p>A <strong>caça-níqueis Multifly</strong> foi lançada no início deste ano de 2020 e foi apresentada pela Yggdrasil como um jogo com funcionalidades emocionantes e originais, não só pelo modo “Dropdown” que utiliza para dar mais emoção ao jogo, mas também referindo-se a a inovadora função MultiMAX que permite multiplicar os ganhos por 5 multiplicadores diferentes.</p>
<p>A base original do jogo é divertida e permite-nos obter ganhos contínuos devido aos seus rolos multiplicadores, que também podem ser usados ​​durante as rodadas de bónus. O slot Multifly também pode ser reproduzido em dispositivos móveis sem a necessidade de baixar aplicativos adicionais. Recomendamos também experimentar o jogo <a href="/pt-br/jogo/caca-niqueis-butterfly-staxx-2/">Butterfly Staxx 2</a> da <a href="/pt-br/fornecedor/netent-brasil/">Netent</a>.</p>
