---
title: "About us"
description: "An english about us"
slugOverride: about us
hideNormalTitle: true
---

<style>
  .section{
     padding:0 !important;
   }
  .section ~ .section {
       padding:inherit !important;
   }
  .hero h1, .hero h4, .hero h1, .hero h4{
     color:white !important;

  }
  .hero {
      position: relative;
      /* top:-242px; */
  }

  .profile__hero {
      position: relative;
      /* top:-242px; */
      position: absolute;
      top: 0;
      left: 0;
      display: block !important;
      width: 100%;
      min-height: 300px !important;
      filter: brightness(.7);
      background-image: url({{ metadata.images.site }}/hero-example-2.webp);
      border-radius:10px;
  }
</style>


<div class="mt-1" style="min-height: 300px; position: relative; display: block">
  <section
    class="profile__hero profile__hero_game"
    alt="about-us-header"
  ></section>
  <section class="hero hero--xs w-100 pt-0 pt-4" style="margin-bottom: 5%">
    <div class="container">
      <h1 class="display-2 text-bold mt-4">
        What is Betizen?
      </h1>
      <h4 class="text-gray-soft text-regular mx-4">
        We are here to end so much "b@*&!it" in the world of online betting, but still being <i>zen</i> about it 🤣
        Take a look at the site to discover new
        <a href="{{ '/casinos/'  | locale_url  }}" class="opacity-8 dotted-3" title="casinos">betting platforms</a> with their no deposit bonuses,
        <a href="/juegos/" class="opacity-8 dotted-3" title="juegos">jackpot games</a> and
        <a
          href="{{ '/programas-de-afiliados/' | locale_url }}"
          class="opacity-8 dotted-3"
          title="programs de afiliados"
          >affiliate programs</a
        > that will allow you to make money online!
        - <a class="opacity-8 dotted-3" href="#know-more">Learn more below</a>
      </h4>
    </div>
  </section>
</div>

<section class="section">
  <div class="container">
    <div class="row">
      <div id="container">
        <div id="content" role="main">
          {# <hr class="wp-block-separator" /> #}
          <div
            class="wp-block-group is-layout-flow wp-block-group-is-layout-flow"
          >
            <div class="wp-block-group__inner-container">
              <h2
                class="post-title text-center mt-5 mt-lg-5 wp-block-heading"
                id="know-more"
              >
                Extreme Transparency in Online Betting
              </h2>
            </div>
          </div>
          <div class="post-content mb-5 text-justify">
            <p>
              Hey! We are an iGaming affiliates. What-the-heck is that? It means
              we make money every time we refer a user to a betting platform and
              he/she places a bet (via Revenue-Share or CPA).
            </p>

            <p>
              <strong class="text-dark"
                >Do you also want to make money online by being an
                affiliate?</strong
              >
              <a rel="nofollow noopener" href="https://ig.me/m/betizen_org"
                >Send us a message</a
              >
              and we'll get you stared!
            </p>
            <p>
              There are (too) many
              <a href="{{ '/casinos/' | locale_url }}">online casinos</a>, too
              much regulation (of the shi***y kind). That you might feel lost.
              So... here we are. Betizen, cutting through the BS in online
              betting, but still being zen about it 🤣.
            </p>
            <p>
              So to clear things out, (and avoid getting lost in the glitz):
            </p>
            <p>
              What is a good casino for us? Well, it's not that hard, just one
              that is transparent about what is offering, the conditions for
              withdrawing, and that well... PAYS when it has to! One that let's
              you limit your gambling and earn a buck.
            </p>
            <p>
              What is a good affiliate program? Also simple, one that is not
              tricky about admin fees, that pay what the program promises, one
              with a responsive affiliate manager and that has a good system
              (with API).
            </p>
            <p>
              What is a good game studio / provider? One that creates great,
              fair audited games that are fun to bet on!
            </p>

            <p>Don't be fooled by flashy facades.</p>

            <h2>
              Join the Betizen community – And get insider info about new
              platforms, bonuses, games and affiliate programs.
            </h2>
            <p>
              We're independent, so our loyalty lies solely with you. We're here
              to help you find the perfect online playground to try your luck -
              sounds simple, and it is!
            </p>
            <p>
              When in doubt,
              <a href="https://www.instagram.com/betizen_org">get in touch</a>
              via Instagram, we are there to help! Follow us, choose a platform,
              place your bets, (in a crypto casino if possible), then, be a zen
              player, we've got you covered! :)
            </p>
            <p>And remember to have fun. And when the fun stops, get help.</p>
            <p>Good luck! 🎰</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
