{%- from "macros/reputation-button.njk" import reputationButton with context -%}
{%- css %}.casinos-list{}{% endcss %} 
{% set counter = 0 -%}
{% for post in postsList | sortByOrder %} 
    {% if post.data.details %}
        {% set counter = counter + 1 -%}
        {%- set logoPath -%}{{ metadata.images.casinos }}{{ post.fileSlug }}-logo.webp{%- endset -%}
        <tr class="casinoItem postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
            <th scope="row" class="table-ranking-ner">#{{ counter }}</th>
            <td style="vertical-align:middle;">
                <a class="casino-table-image" href="{{ post.url }}"
                    ><img
                        width="80"
                        src="{{ logoPath }}"
                        class="theme-card__img wp-post-image"
                        alt="{{ post.data.slugOverride | slugify }}" /><span class="medal medal-gold"></span
                ></a>
            </td>
            <td
                style="padding: 0 !important"
                class="casinos-table-item-name text-left d-none d-md-table-cell"
            >
                <div class="text-truncate">
                    <a
                        class="opacity-8 dotted-3-grey"
                        href="{{ post.url }}"
                        >{{ post.data.title }}</a
                    >
                </div>
            </td>
            <td class="d-md-table-cell btn-scale" style="width: auto; vertical-align:middle;">
                <div class="rating-display" style="color: black">
                    <center>
                        <span class="fa fa-star checked" style="font-size: 24px"></span>{{- post.data.score.toFixed(1) or "0.0" -}}
                    </center>
                </div>
            </td>
            <td class style="vertical-align: middle;text-align:center;">
                <div class="table-comments">
                    {{ reputationButton(post.data.reputation.code, post.data.reputation.text, logoPath, post.data.title, post.data.gradient, post.data.bonus.link, false, "Xd-none Xd-md-block btn-scale") }}
                </div>
            </td>
            <td class="casinos-table-lastAction">
                <a
                    href="{{ post.data.bonus.link }}"
                    rel="sponsored"
                    target="_blank"
                    class="ml-1 btn btn-outline-brand btn-bg btn-table-more btn-table-link mr-1 d-sm-inline-block d-md-none d-lg-inline-block btn-scale"
                    ><i
                        class="fa fa-external-link d-none d-md-inline-block mr-2"
                        aria-hidden="true"
                    ></i
                    >{{ languages[page.lang].texts.visit }}</a
                ><a
                    title="Análisis"
                    href="{{ post.url }}"
                    class="btn btn-brand btn-bg btn-table-more btn-scale d-none d-md-inline-block"
                    style="padding: 10.5px 20px"
                    ><i class="fa fa-search" aria-hidden="true"></i
                ></a>
            </td>
        </tr>

        
    {% endif %} 
{% endfor %}
