<div class="feature-screenshot casino-featured-home">
  <div
    class=""
    data-columns="4"
    style="opacity: 1; transition: opacity 0.25s ease-in-out"
  >
    <div class="woocommerce-product-gallery__image">
      <a href="#">
        <img
          width="1200"
          height="900"
          src="{{ metadata.images.casinos }}{{ page.fileSlug }}-splash.webp"
          class="attachment-large_crop size-large_crop"
          alt="{{ slugOverride }}"
          title="{{ title }}"
        />
      </a>
    </div>
  </div>
  <a
    class="feature-screenshot__overlay"
    target="_blank"
    rel="nofollow noopener"
    href="{{ bonus.link }}"
  >
    <button class="btn btn-inverted">{{ languages[page.lang].texts.visit }}</button>
  </a>
</div>
