---
slugOverride: amatic-brasil
title: "Amatic"
description: "Fundada no ano de 1993 na Áustria por Mr. R. Bauer, Amatic Industries é uma empresa fornecedora de jogos de cassino e fornecedera de jogos de slots e ..."
color: '#00A4FF'
featured: false
founded: 
---

<p>Fundada no ano de 1993 na Áustria por Mr. R. Bauer, Amatic Industries é uma empresa fornecedora de jogos de cassino e fornecedera de jogos de slots e caça níqueis para a indústria de iGaming ou jogo online por mais de 25 anos.</p>
<p>Os fãs dos caça níqueis da Novomatic descobrirão que os jogos de Amatic respondem a estilos e mecânicas semelhantes. E isso ocorre porque essa empresa nasceu como um ramo da própria Novomatic, com o objetivo de criar jogos de alta qualidade que usam tecnologia de ponta, respeitando os padrões internacionais da indústria.</p>
<p>Esse pelo menos era o objetivo da Amatic no momento de sua criação. Atualmente, estamos falando de um provedor de caça níqueis, que na sua parte online foi um pouco relegado em termos de gráficos, tecnologia e inovação (é importante notar que os negócios da Amatic vão além do mundo dos cassinos on-line e se estende ao desenvolvimento de cabines e outros sistemas de jogos).</p>
<p>Dito isto, é preciso dizer que o Amatic continua a ter jogos com validade comprovada, com muitos fãs entre os jogadores de caça-níqueis. Começando com o clássico Cleópatra Encantada , um jogo com tema egípcio que faz parte do catálogo do Betizen.</p>
<p>Quanto à transparência, é inevitável dizer que encontramos um fornecedor de caça níqueis que não faz deste o pilar que gostaríamos na indústria (o valor RTP do slot Cleopatra Encantada é desconhecido).</p>
<p>Em suma, ainda é um fornecedor popular, interessante e da velha escola.</p>
