---
slugOverride: pragmatic-play-pt-br
title: "Pragmatic Play"
description: "Fundada há alguns anos, em agosto de 2015, a Pragmatic Play é uma daquelas empresas de caça-níqueis dispostas a trazer inovações ao mundo dos cassinos..."
color: '#00A4FF'
featured: false
founded: 
---

<p>Fundada há alguns anos, em agosto de 2015, a Pragmatic Play é uma daquelas empresas de caça-níqueis dispostas a trazer inovações ao mundo dos <a href="/cassinos/">cassinos online</a>, adaptando um catálogo de jogos às necessidades em constante mudança e aos novos hábitos de jogo. usuários, com uma oferta criada com dispositivos móveis como prioridade e transparência, com jogos regulamentados, licenciados globalmente por autoridades confiáveis ​​como a Malta Gaming Authority e a UK Gaming Commission, duas licenças difíceis de obter por controles que significam em operação.</p>
<p>Com lançamentos frequentes, mais de 50 jogos em seu portfólio e mais de 39 cassinos como clientes, a Pragmatic Play está no caminho certo para cumprir sua missão de &#8220;construir uma marca que seja reconhecida e respeitada em todo o mundo&#8221;.</p>
