---
slugOverride: salsa-technology-pt
title: "Salsa Technology"
description: "A Salsa Technology é uma plataforma B2B, também designada por fornecedores ou estúdios na Betizen, uma vez que são eles que disponibilizam caça níquei..."
color: '#00A4FF'
featured: false
founded: 
---

<p>A Salsa Technology é uma plataforma B2B, também designada por fornecedores ou estúdios na Betizen, uma vez que são eles que disponibilizam caça níqueis e outros jogos aos <a href="/cassinos/">cassinos online</a>. Mas desde 2020 Salsa é mais do que isso.</p>
<p>Estamos diante de um projeto que pode parecer mais uma nova empresa no mundo dos jogos online, mas isso está longe da realidade. Anteriormente conhecido como Patagonia Entertainment (mudou de nome em janeiro de 2020), estamos lidando com um fornecedor que é um dos mais conceituados criadores de vídeo bingos localizados. O foco é o mercado latino-americano (em particular o Brasil) e é graças a eles que contamos com bingos com temas de futebol, pachinko, piratas e halloween, e seu novo nome <strong>Salsa Technology</strong> reafirma essa ideia e essa vocação da marca, embora agora se expandindo e se tornando global.</p>
<p>Por este motivo, a tecnologia oferecida por este fornecedor de jogos vai além da criação de <a href="/jogos/caca-niqueis/">caça níqueis</a>, mas desde a sua reestruturação expandiu-se para se tornar um estúdio para uma plataforma omnicanal que oferece serviços e produtos para casinos online e casinos físicos, de estúdio a agregador de jogos (GAP) que oferece apostas esportivas, apostas ao vivo, <a href="/jogos/video-bingo-pt/">jogos de bingo</a> e casino, jogos de mesa, entre outros.</p>
<p>Algo novo da Salsa Technology: Halloween Groove Bingo.<br>
Um clássico da Salsa Technology: Zodiac Bingo.</p>
