---
slugOverride: platipus
title: "Platipus"
description: "Platipus es un estudio de desarrollo de máquinas tragamonedas Html 5 para internet, que como toda empresa enfocada en casas de apuestas online tiene u..."
color: '#00A4FF'
featured: false
founded: 
---

<p>Platipus es un estudio de desarrollo de máquinas tragamonedas Html 5 para internet, que como toda empresa enfocada en <a href="/casinos/">casas de apuestas online</a> tiene un fuerte énfasis en la innovación. Fundada en el 2010 en el Reino Unido, con sede actual en la Isla de Man, y con una historia dentro del desarrollo de juegos para redes sociales, Platipus realizó una excelente la transición al  mundo de los tragamonedas por dinero real luego de recibir una fuerte inversión en el 2014 y cuenta en el momento de escribir esta reseña con mas de 40 slots visualmente atractivos, modernos, sencillos y efectivos como el propio <a href="/juego/tragamonedas-pharaohs-empire/">Pharaoh&#8217;s Frotune</a> sobre el cual realizamos una reseña hace poco en Betizen.</p>
<p>Como factor positivo de transparencia, el RNG de Platiplus fue certificado por iTechLabs. Esto quiere decir en términos mas sencillos que la máquina dentro de las máquinas tragamonedas que es la encargada que nuestras apuestas sean efectivamente aleatorias y en constancia con los valores de retorno y volatilidad anunciado por el creador, ha sido certificada por un tercero confiable. Y nos asegura así que los tragamonedas de Platipus pagan lo que prometen.</p>
<p>Adicionalmente Platipus cuenta con un catálogo de otros juegos además de sus tragamonedas, dentro del que se incluyen ruletas, blackjack, baccarat y máquinas de video poker. Lo cual hace de éste un proveedor confiable, variado y de calidad.</p>
