---
title: "Sobre nosotros"
description: "La historia completa Betizen no es un sitio promocional, es mas bien una herramienta. "
slugOverride: nosotros
hideNormalTitle: true
---

<style>
  .section {
    padding: 0 !important;
  }
  .section ~ .section {
    padding: inherit !important;
  }
  .hero h1,
  .hero h4,
  .hero h1,
  .hero h4 {
    color: white !important;
  }
  .hero {
    position: relative;
    /* top:-242px; */
  }

  .profile__hero {
    position: relative;
    /* top:-242px; */
    position: absolute;
    top: 0;
    left: 0;
    display: block !important;
    width: 100%;
    min-height: 300px !important;
    filter: brightness(0.7);
    background-image: url({{ metadata.images.site }}/hero-example-2.webp);
    border-radius: 10px;
  }
</style>

<div style="min-height: 300px; position: relative; display: block">
  <section
    class="profile__hero profile__hero_game"
    alt="about-us-header"
  ></section>
  <section class="hero hero--xs w-100 pt-0 pt-4" style="margin-bottom: 5%">
    <div class="container">
      <h1 class="display-2 text-bold mt-4">
        ¿Qué es Betizen?
      </h1>
      <h4 class="text-gray-soft text-regular mx-4">
        Llegamos para terminar con tanta "m@*&!da" en el mundo de las apuestas online, ¡pero igual siendo <i>zen</i> al respecto! 🧘‍♂️
        Echa un vistazo al sitio web para descubrir nuevas 
        <a href="{{ '/casinos/'  | locale_url  }}" class="opacity-8 dotted-3" title="casinos">plataformas de apuestas</a> con sus bonos sin depósito,
        <a href="/juegos/" class="opacity-8 dotted-3" title="juegos">juegos con acumulados</a> y 
        <a
          href="{{ '/programas-de-afiliados/' | locale_url }}"
          class="opacity-8 dotted-3"
          title="programas de afiliados"
          >programas de afiliados</a
        > que te permitirán ganar dinero online!
        - <a class="opacity-8 dotted-3" href="#know-more">¡Conoce más abajo!</a>
      </h4>
    </div>
  </section>
</div>

<section class="section">
  <div class="container">
    <div class="row">
      <div id="container">
        <div id="content" role="main">
          {# <hr class="wp-block-separator" /> #}
          <div
            class="wp-block-group is-layout-flow wp-block-group-is-layout-flow">
            <div class="wp-block-group__inner-container">
              <h2
                class="post-title text-center mt-5 mt-lg-5 wp-block-heading"
                id="know-more"
              >
                Transparencia Extrema en Apuestas en Línea
              </h2>
            </div>
          </div>
          <div class="post-content mb-5 text-justify">

            <p>¡Hola! Somos afiliados de iGaming. ¿Qué diablos es eso? Significa que ganamos dinero cada vez que referimos a un usuario a una plataforma de apuestas y él/ella efectiviza una apuesta (Revenue-Share o CPA).</p>

            <p><strong class="text-dark">¿Quieres ganar dinero en línea siendo un afiliado?</strong> <a rel="nofollow noopener" href="https://ig.me/m/betizen_org">Envíanos un mensaje</a> y te ayudaremos a comenzar!</p>
            <p>
                Hay (demasiados) <a href="{{ '/casinos/' | locale_url }}">casinos en línea</a>, demasiada regulación (del tipo m***da). Puede que te sientas perdido. Así que... aquí estamos. Betizen, cortando con la "BS" en apuestas en línea, pero aún siendo zen al respecto 🤣. 
            </p>
            <p>
                Así que para aclarar las cosas, (y evitar perderse en el brillo):
            </p>
            <p>¿Qué es un buen casino para nosotros? Bueno, no es tan difícil, solo uno que sea transparente sobre lo que ofrece, las condiciones para retirar tu dinero, y que, bueno... ¡PAGUE cuando tenga que hacerlo! Uno que te permita limitar tu juego y ganar algo dinero mientras te diviertes.</p>
            <p>
                ¿Qué es un buen programa de afiliados? También simple, uno que no engañe con las tarifas administrativas, que pague lo que el programa promete, uno con un gerente de afiliados comunicativo y que tenga un buen sistema (con API).
            </p>
            <p>¿Qué es un buen estudio/proveedor de juegos? Uno que cree juegos geniales, auditados de manera justa y que sean divertidos para apostar.</p>

            <p>No te dejes engañar por fachadas llamativas.</p>

            <h2>Únete a la comunidad Betizen – Y obtén información privilegiada sobre nuevas plataformas, bonos, juegos y programas de afiliados.</h2>
            <p>
                Somos independientes, por lo que nuestra lealtad está solo contigo. Estamos aquí para ayudarte a encontrar la plataforma y el juego perfecto para probar tu suerte con ganar dinero en línea - suena simple, ¡y lo es!
            </p>
            <p>Cuando tengas dudas, <a href="https://www.instagram.com/betizen_org">ponte en contacto</a> a través de Instagram, ¡estamos allí para ayudar! Síguenos, elige una plataforma, realiza tus apuestas (en un casino de criptomonedas si es posible), luego, sé un jugador zen, ¡te tenemos cubierto! :)</p>
            <p>Y recuerda divertirte. Y cuando la diversión se detenga, busca ayuda.</p>
            <p>¡Buena suerte! 🎰</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

