---
title: "Sobre nosotros"
description: "Somos el primer sitio de listados de Casino, Opciones Binarias y Forex con los incentivos correctos: karma, mérito y proof-of-work ¡Únete!"
slugOverride: nosotros
---

<div class="max-w-6xl mx-auto">

    <!-- Header with Casino Review Style -->
    <div class=" rounded-xl shadow-lg mb-8 dark:shadow-none dark:border dark:border-gray-800">
        <!-- Background & Logo -->
        <div 
          style="background-image: linear-gradient(to right, #4f46e5, #7c3aed)"
          class="bg-red-200 h-20 relative rounded-t-lg">
            
            <!-- Back tag -->
            <div class="absolute top-4 right-6">
                <a href="{{ '/' | locale_url }}" class="bg-gray-600 text-white text-xs px-3 py-1 rounded">
                    Inicio
                </a>
            </div>
        </div>
        
        <!-- Card content -->
        <div class="pt-12 pb-6 px-6">
            <!-- Title and subtitle -->
            <div class="flex flex-col items-start justify-between md:mb-4 prose prose-xs md:prose-lg min-w-full prose-p:my-[10px]">
                <h1>¿Qué es Betizen? 🤌</h1>
                <h2 class="text-gray-400 !mt-0 !mb-10">
                  Somos el primer sitio de listados de Casino, Binarias y Forex con los incentivos correctos: <span class="text-neutral dark:text-gray-100">karma, mérito y proof-of-work</span>, tu decides los rankings de Betizen esparciendo tu karma.
                </h2>

                {# Stats #}
                {%- include "components/bz-stats.njk" %} 

            </div>




            {# <div class="divider my-10"></div> #}

            <!-- FAQ -->
            {# <h2 class="card-title text-2xl mb-6 mx-2">F.A.Q</h2> #}
            
            <div class="join join-vertical w-full mt-10">
              
              <div class="collapse collapse-arrow join-item border border-base-300 dark:border-gray-700">
                <input type="radio" name="faq" />
                <div class="collapse-title text-xl md:text-2xl font-medium">
                  ¿Qué es Betizen exactamente?
                </div>
                <div class="collapse-content prose md:prose-lg min-w-full prose-p:my-[10px]">
                  <p>
                    La era de sitios de casino y afiliados fraudulentos terminó.
                    <br />
                    El mercado de apuestas online cambió.
                  </p>
                  <p>¿Ya visitaste sitios llenos de publicidad? Ok, eso NO ES Betizen.</p>

                  <p>Los afiliados que promocionaban sitios no regulados ahora obtuvieron licencias y defienden el juego regulado con uñas y dientes, o trabajan para la industria.
                  
                  Mientras tanto, sitios de casino, forex y binarias continúan ingresando a los diferentes mercados regulados <a class="italic" href="#">sin siempre tener licencias aprobadas</a>, confundiendo a jugadores, usuarios, público general y reguladores.</p>

                  <p>Creemos que la mejor solución posible proviene del propio mercado. Directamente de las experiencias de <i>players</i>, para <i>players</i>.</p>


                  <p>🌟 Es desde este lugar que Betizen (re)surgió con la misión de ofrecer una sola cosa: <span class="font-black">listados y rankings confiables</span> y auditables para jugadores, operadores y gestores.</p>


                  
                </div>
              </div>

              {# FAQ 2 #}
              <div class="collapse collapse-arrow join-item border border-base-300 dark:border-gray-700">
                <input type="radio" name="faq" />
                <div class="collapse-title text-xl md:text-2xl font-medium">
                  ¿Cómo conseguimos listados confiables?
                </div>
                <div class="collapse-content prose md:prose-lg prose-p:my-[10px] min-w-full">
                  <span class="font-bold"></span> Las listas en Betizen dependen de la experiencia colectiva. De los votos (auditables) de los participantes.
                  <br />
                  <span class="italic">(Nuestra v2 prevee inclusive tecnología blockchain para dar transparencia a la auditoría de votos).</span>
                  </p>

                  <p>Usualmente los sitios de afiliados exponen marcas y operadores al mejor precio. Betizen no es ingenuo, somos afiliados sí. Pero reservamos espacios para patrocinadores, y así purificamos nuestros listados que dependen exclusivamente del "<strong>karma</strong>".</p>

                  <p>Así, luchamos contra el fraude real <strong>incorporando todos los sitios</strong> a la posibilidad de ser listados y <strong>ganarse su lugar</strong> a partir de tener buenas prácticas operacionales. Y ser juzgados por el público. </p>

                  <p>Los sitios con licencias vigentes serán debidamente marcados en verde.</p>
             
                </div>
              </div>        

              {# FAQ 3 #}
              <div class="collapse collapse-arrow join-item border border-base-300 dark:border-gray-700">
                <input type="radio" name="faq" />
                <div class="collapse-title text-xl md:text-2xl font-medium">
                  ¿Karma, mérito y proof-of-work?
                </div>
                <div class="collapse-content prose md:prose-lg prose-p:my-[10px] min-w-full">
                  <p>
                      <strong>¿Qué es el karma?</strong> El karma es lo que mueve Betizen, (¡y la vida!)
                      <br />
                      Ganá karma interactuando con el sitio y otros usuários, y distribuí karma en tus votaciones y así alterá los listados del sitio.
                    <p>

                    <p>
                      <strong>¿Porqué mérito?</strong> Solo los usuarios que hayan ganado su karma interactuando y beneficiando a la comunidad podrán votar, <u>transferir karma</u> y alterar los rankings.
                    </p>

                    <p>
                      <strong>¿Porqué proof-of-work?</strong> La prueba-de-trabajo (concepto del mundo Bitcoin) quiere decir que solos los que contribuyan con su esfuerzo a mejorar la comunidad, podrán ganar karma, votar y alterar el rumbo de la comunidad.
                    </p>                    
                </div>
              </div>                     
              
              <div class="collapse collapse-arrow join-item border border-base-300 dark:border-gray-700">
                <input type="radio" name="faq" />
                <div class="collapse-title text-xl md:text-2xl font-medium">
                  ¿Cómo ganan dinero?
                </div>
                <div class="collapse-content prose md:prose-lg prose-p:my-[10px] min-w-full">
                  <p>Somos afiliados de algunos sitios, lo que significa que recibimos una comisión si te registras a través de nuestros enlaces. Sin embargo, esto no afecta los listados, que van por cuenta del "<strong>karma</strong>" de la comunidad.</p>
                </div>
              </div>
              
              <div class="collapse collapse-arrow join-item border border-base-300 dark:border-gray-700">
                <input type="radio" name="faq" />
                <div class="collapse-title text-xl md:text-2xl font-medium">
                  ¿Sus reviews son honestas?
                </div>
                <div class="collapse-content prose md:prose-lg prose-p:my-[10px] min-w-full">
                  <p>Absolutamente, vivimos de construír y honrar la confianza con los usuários. Existen reseñas pagas y no-pagas. Las que lo son están marcadas correspondientemente. Pero inclusive las reseñas pagan no afectan el hecho que los listados y rankings van por cuenta del "<strong>karma</strong>" de la comundiad.</p>

                  <p>
                    Nuestra reputación depende de la confianza de nuestros usuarios. Si un casino es malo, lo decimos sin miedo, aunque perdamos dinero. Si es muy malo va a nuestras <strong>blacklists</strong>.
                  </p>
                </div>
              </div>

              <div class="collapse collapse-arrow join-item border border-base-300 dark:border-gray-700">
                <input type="radio" name="faq" />
                <div class="collapse-title text-xl md:text-2xl font-medium">
                  ¿Cómo incluir un nuevo sitio?
                </div>
                <div class="collapse-content prose md:prose-lg prose-p:my-[10px] min-w-full">
                  <p>Podrás hacerlo vos mismo (si dispones de <strong>karma</strong>), accediento al botón "Agregar un sitio" en el top de cada página.</p>
                </div>
              </div>                 
              
              <div class="collapse collapse-arrow join-item border border-base-300 dark:border-gray-700">
                <input type="radio" name="faq" />
                <div class="collapse-title text-xl md:text-2xl font-medium">
                  ¿Cómo puedo contactarlos?
                </div>
                <div class="collapse-content prose md:prose-lg prose-p:my-[10px] min-w-full">
                  <p>Puedes contactarnos a través de nuestras redes sociales, especialmente Instagram (<a href="{{ config.links.instagram }}" target="_blank" rel="noopener noreferrer">@betizen_org</a>) donde respondemos rápidamente a todas las consultas.</p>
                </div>
              </div>


              {# Technologies #}
              <div class="collapse collapse-arrow join-item border border-base-300 dark:border-gray-700">
                <input type="radio" name="faq" />
                <div class="collapse-title text-xl md:text-2xl font-medium">
                  ¿Cuales tecnologías utilizan?
                </div>
                <div class="collapse-content prose md:prose-lg prose-p:my-[10px] min-w-full">
                  <p>
                    El proyecto Betizen utiliza las 
                    <a href="{{ config.links.cubiqApis }}/es" target="_blank">APIs de Votación y Usuários de Cubiq</a>, 
                    <a href="https://www.11ty.dev/" target="_blank" rel="nofollow noopener noreferrer">Eleventy</a> como SSG, 
                    y <a href="https://vercel.com/" target="_blank" rel="nofollow noopener noreferrer">Vercel</a> como plataforma de despliegue en la nube con CDN global y builds automáticos.
                  </p>
                </div>
              </div>

           
              
            </div>
            
            {# Contact #}
            <div class="alert alert-lg alert-info alert-soft mt-8">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current shrink-0 w-6 h-6 hidden md:flex">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <div>
                <h3 class="md:text-lg font-bold">¿Tienes más preguntas?</h3>
                <div class="text-xs">Escríbenos en Telegram y te respondemos al instante</div>
              </div>
              <div>
                <a href="{{ config.links.instagram }}" target="_blank" rel="noopener noreferrer" class="btn btn-info text-white btn-sm">@betizen_org</a>
              </div>
            </div>










        </div>

       
    </div>



</div>