---
slugOverride: glosario
title: "Glosario"
description: "Aprende todos los términos necesarios para iniciarte en el mundo de las apuestas online. Sin vueltas, transparencia total."
---

<ul>
  <li>
    <a href="/blog/que-es-el-rtp-en-las-tragamonedas/"><strong>RTP</strong></a>
    (“Return to player” o “Retorno al jugador”): Este es un valor fundamental de
    los juegos de azar ya define cuánto el casino se queda del total apostado en
    el largo plazo. Y por lo tanto define cuánto es el margen de ganancia para
    los jugadores. Un RTP promedio es de 96% para los tragamonedas. Esto
    significa que en el largo ese tragamonedas devolverá a los jugadores el 96%
    de lo apostado, y el margen de la casa es de 4%. Es importante destacar que
    este es un promedio en el <strong>largo plazo</strong> y por lo tanto en el
    corto plazo está siempre la posibilidad de obtener un premio grande que haga
    al casino perder en vez de ganar dinero. Particularmente en los tragamonedas
    de alta volatilidad.
  </li>
  <li>
    <strong
      ><a href="/blog/que-es-la-volatilidad-de-las-tragamonedas/"
        >Volatilidad</a
      ></strong
    >
    o varianza: Hay muchas maneras de explicar la volatilidad, podría verse, por
    ejemplo como cuán rápido o con cuanta agresividad nuestro bankroll va a
    variar jugando estos tragamonedas. Los juegos de alta volatilidad son muy
    apetecidos por muchos jugadores, ya que su alto riesgo está emparentado con
    su alta posibilidad de grandes ganancias. <br />Estos tragamonedas pagan
    premios con menor frecuencia y cuando lo hacen tienden a ser premios mas
    altos.
  </li>
  <li>
    <strong
      ><a href="/blog/bankroll-y-gestion-de-apuestas/">Bankroll</a>:</strong
    >
    Esta es la cantidad de dinero que disponemos en los
    <a href="/casinos/">casinos online</a> para apostar. Es la cantidad de
    dinero vivo que hemos obtenido via depósito o que hemos ganado jugando. Con
    este dinero es con el que ingresaremos al abrir cualquier juego.
  </li>
  <li>
    <a
      href="/blog/que-es-el-rollover-de-los-bonos-y-como-funciona-no-te-dejes-enganar/"
      ><strong>Rollover</strong></a
    >. Son un dato importante a la hora de comprobar si una promoción es o no de
    calidad ya que indica el valor total que deberemos apostar antes de poder
    retirar unas ganancias que han sido obtenidas con la participación de
    bonificaciones.
  </li>
  <li>Jackpot o Acumulado.</li>
  <li>
    <strong>Jackpot o Acumulado progresivo</strong>: Es el tipo de jackpot o
    acumulado al que cada jugador contribuye cada vez que realiza un giro. Estos
    acumulados en red suelen tener valores altos, al alimentarse de todos los
    jugadores que juegan a dicho tragamonedas en todos lo casinos.
  </li>
  <li>Comodines apilados o “Stacked wilds”.</li>
  <li>Monedas o créditos.</li>
  <li>
    <strong
      >“<a href="/blog/rolling-reels-de-microgaming/">Rolling Reels™</a
      >“</strong
    >: Es una funcionalidad especial de algunas tragamonedas que consiste en que
    cuando obtenemos un premio en uno de nuestros giros, los símbolos
    involucrados desaparecen y su posición es reemplazada por los símbolos que
    estaban inmediatamente arriba, permitiéndonos obtener nuevos premios sin
    gastar nuevos giros. Puedes ver esta funcionalidad por ejemplo en el juego
    <a href="/juego/thunderstruck-2/">Thunderstruck 2</a> de Microgaming.
  </li>
  <li>
    <strong>“<a href="/blog/tragamonedas-megaways/">Megaways™</a>“</strong>: Es
    un mecanismo de tragamonedas patentado por la empresa australiana de
    desarrollo de juegos de casino “Big Time Gaming”. Lo que hace especial a
    este tipo de tragamonedas es que los rieles puede contener cantidades
    aleatorias de símbolos, y que el tamaño de estos símbolos determinarán
    dinámicamente a su vez la cantidad de líneas de pago de ese giro o tirada en
    particular, a diferencia de las máquinas tradicionales en las que existe una
    cantidad fija de líneas ganadoras. Para explorar a fondo el funcionamiento
    de los tragamonedas esta mecánica hemos escrito un artículo en el que te
    contamos en detalle sobre los
    <a href="/blog/tragamonedas-megaways/">tragamonedas Megaways </a
    ><strong>™.</strong>
  </li>
  <li>Pagos Cluster.</li>
  <li>Afiliado.</li>
  <li>
    <a href="/rankings/"><strong>Rankings.</strong></a> En Betizen los juegos,
    casinos, bonos y programas de afiliados tienen una posición en los listados
    justa e imparcial, de acuerdo a las votaciones de los usuarios.
  </li>
</ul>
<h2 class="wp-block-heading">Sitios amigos</h2>
<ul>
  <li>
    <a href="https://bingo-online.jouwpagina.nl/">bingo-online</a>
    – jouwpagina.nl
  </li>
</ul>
