{% macro localeUrlFix(fixLang="es") %}
    {%- for link in page.url | locale_links %}
        {% if link.lang == fixLang %} 
            <a
                class="dropdown-item flag-icon-background {{ languages[link.lang].menu.flagClass }}"
                href='{{ link.url }}'
                >{{ languages[link.lang].menu.name }}</a>
        {%endif%}
    {%- endfor %}
{%endmacro%}

{% macro localeUrlFixDaisy(fixLang) %}
    <li class="text-xs flex flex-row items-center">
        <a class="{{ languages[fixLang].menu.class }} text-xs">
            {% if languages[fixLang].menu.flagClass == "flag-icon-es" %}
                <img src="/assets/imgs/flags/svg/ar.svg" class="h-4" alt="es-flag" />
            {% elif languages[fixLang].menu.flagClass == "flag-icon-br"  %}
                <img src="/assets/imgs/flags/svg/br.svg" class="h-4" alt="br-flag" />
            {% else %}
                <img src="/assets/imgs/flags/svg/gb.svg" class="h-4" alt="gb-flag" />
            {% endif %}

            <strong>{{ languages[fixLang].menu.name }}</strong>
        </a>
    </li>
{%endmacro%}