{% macro localeUrlFix(fixLang="es") %}
    {%- for link in page.url | locale_links %}
        {% if link.lang == fixLang %} 
            <a
                class="dropdown-item flag-icon-background {{ languages[link.lang].menu.flagClass }}"
                href='{{ link.url }}'
                >{{ languages[link.lang].menu.name }}</a>
        {%endif%}
    {%- endfor %}
{%endmacro%}