---
date: "2022-06-06T22:08:45+00:00"
slugOverride: 1xbet
title: "1xBet Casino"
description: "Un concepto que puede caracterizar al sitio de apuestas 1xBet es el de abundancia, con mas de 2000 slots diferentes, y retiros inmediatos. Veamos mas."
excerpt: "Un concepto que puede caracterizar al sitio de apuestas 1xBet es el de abundancia. Ya que si bien cuenta con diseño que puede resultar algo confuso al comienzo, sobre todo para jugadores de máquinas tragamonedas acostumbrados a la sencillez, 1xBet ofrece al mismo tiempo como contrapartida una gama de proveedores de las mas completas que hemos visto en un casino online y mas de 2000 slots diferentes, con opciones para todos los gustos.<br><br>Para los amantes de las apuestas deportivas, como una casa de apuestas con foco en ellas, y que ya hemos visto presente en las camisetas de la SERIE A Italiana, una oferta de cuotas extremadamente competitiva, superando muchas veces a otros casinos hasta ahora mas reconocidos en América Latina. Veamos los detalles."
operator: "Exinvest Limited & 1x Corp. N.V."
gradient:
    start: "#10355a"
    end: "#2980cd"
bonus:
    link: "/casino/1xbet/"
details:
    games: "good"
    promotions: "average"
    customerSupport: "good"
    design: "average"
maxWidthdrawal: "No"
minDeposit: "$1"
minWidthdrawal: "$1.5"
license: "Curaçao"
reputation:
    code: "acceptable"
    text: "Un concepto que puede caracterizar al sitio de apuestas 1xBet es el de abundancia. Ya que si bien cuenta con diseño que puede resultar algo confuso al comienzo, sobre todo para jugadores de máquinas tragamonedas acostumbrados a la sencillez, 1xBet ofrece al mismo tiempo como contrapartida una gama de proveedores de las mas completas que hemos visto en un casino online y mas de 2000 slots diferentes, con opciones para todos los gustos.<br><br>Para los amantes de las apuestas deportivas, como una casa de apuestas con foco en ellas, y que ya hemos visto presente en las camisetas de la SERIE A Italiana, una oferta de cuotas extremadamente competitiva, superando muchas veces a otros casinos hasta ahora mas reconocidos en América Latina. Veamos los detalles."
ranking: 50
score: 4.5
---

<br>
<p>El <strong>casino 1xBet</strong> ha dado que hablar en el mundo de las apuestas online. De origen ruso 1xBet comenzó operando en el ambiente de casinos físicos de europa del este en el año 1997, pasando a lanzar su casino online en el año 2007. Una casa de apuestas de abundantes posibilidades de juego tanto en tragamonedas como en apuestas deportivas, con pagos rápidos, y una buena atención al cliente, que desde su desembarco en América Latina y tras un inicio algo confuso, viene logrando hacer las cosas bien, trabajando para establecerse como un casino de confianza, tanto en el ámbito de máquinas tragamonedas como en lo que es su foco, las apuestas deportivas, desbaratando lentamente las dudas que nos puede generar una casa de apuesta que en un comienzo nos generó emociones encontradas. </p>
<p>¿Porqué motivo? Primeramente porque algunos de sus dominios no aparecen registrados en el documento de su licencia vigente, generando problemas para los jugadores que tengan que llegar a la situación de presentar conflictos ante la autoridad que la emite, en este caso <a href="https://www.curacao-egaming.com/">Curaçao eGaming</a>. En segundo lugar porque el casino no presenta información clara sobre el origen de su operación, figurando como dato genérico en su licencia la dirección Kaya Richard J. Beaujon Z/N, Curaçao, una dirección utilizada por varias razones sociales de diferentes rubros, de diferentes países.</p>
<p>Finalmente porque en el casino 1xBet fueron encontrados juegos no licenciados, que suponen un riesgo de transparencia para los jugadores que deciden arriesgar su dinero online. Y si bien esto fue hace años, no podemos negar que ocurrió y por lo tanto debemos presentar este dato a los jugadores.</p>
<p>Dicho esto 1xBet parece decidida a mejorar su reputación. Con fuertes inversiones en publicidad, los juegos de proveedores sin licencia han sido eliminados. El casino hace un esfuerzo activo eficiente en la resolución de los conflictos de quienes plantean sus quejas en los foros de Internet como Betizen, y promete estar en proceso de registrar con su licencia todos sus dominios vigentes. Algo que sin dudas es de agradecer y sobre lo que vamos a continuar atentos para poder actualizar la información cuando lo amerite. Pero veamos los detalles.</p>
<h2 id="juegos" class="contentIndexTitle">Juegos&nbsp;<span class="badge badge-success badge-pill">&#10003; Bueno</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>Si bien 1xBet no es un sitio enfocado en juegos de tragamonedas o casino, sí en cambio presenta una amplia gama de proveedores de juego y tragamonedas (¡mas de 2000!). Realmente una de las mas amplias que hemos visto.</p>
<p>Y si bien, como hemos dicho mas arriba, se han encontrado en juegos no licenciados en el pasado, estos han sido removidos quedando una enorme oferta de juego, en conjunto con una mejor aún oferta de apuestas deportivas. ¿Qué son los juegos fraudulentos? Son juegos creados para verse exactamente igual que algunos de las máquinas tragamonedas mas populares pero que han sido pirateadas para que paguen menos dinero del que deberían (ver artículo sobre <a href="/blog/que-es-el-rtp-en-las-tragamonedas/">RTP</a>). Es por esto que el casino ha sido puesto en listas negras en mas de una oportunidad; y este es el motivo de nuestras dudas iniciales.</p>
<p>Como curiosidades en materia de entretenimiento, el casino 1xBet cuenta con un tipo de juegos llamados +18, para personas que disfrutan de ver a las croupiers con dificultades para mantenerse vestidas 😉 Además de ser una casa que ha ingresado con decisión en el mundo de los deportes virutales y de la innovación con una sección especial denominada 1xGames, con una variedad de juegos sencillos y entretenidos, como 21, el que cual vamos a tener que adivinar cuándo el valor total de las cartas será igual a 21 y que se ofrece en diferentes ambientaciones desde mesas clásicas hasta mesas rodeadas de personajes del videojuego Dota.</p>
<h2 id="bonos" class="contentIndexTitle">Promociones y pagos&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Medio</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>Este es un punto flaco de <strong>1xBet</strong> para todos quienes se acercan para jugar tragamonedas o casino en busca de esos bonos que maximicen sus depósitos. Existe una promoción de bienvenida de 100% con un tope que varía dependiendo la moneda del jugador pero que alcanza el equivalente a los 100 euros.</p>
<p>Además de eso, pocas promociones que (salvo que sea para apuestas deportivas) no se renuevan. 1xBet cuenta además con una tienda de códigos promocionales donde vas a poder ganar puntos de bonos e intercambiarlos por códigos promocionales.</p>
<p>Como punto positivo 1xBet cuenta con una página de Términos y Condiciones muy clara y correctamente traducida al español, tanto para los términos generales como para las los de sus bonos. ¡Recuerda leerlos! Ya que muchos usuarios han reclamado que 1xBet no ha querido otorgarles el bono que les correspondía cuando en realidad no han cumplido con las condiciones necesarias. En particular asegurate de llenar los datos personales antes de realizar el primer depósito, de lo contrario es probable que no recibas el bono de bienvenida.</p>
<h2 id="atencion-al-cliente" class="contentIndexTitle">Atención al cliente&nbsp;<span class="badge badge-success badge-pill">&#10003; Bueno</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>Como figura entre las cosas positivas el casino 1xBet tiene un soporte de 24 horas, con una velocidad de respuesta catalogada por muchos usuarios como rápida. Si bien esto es un punto delicado donde siempre existen usuarios insatisfechos, es necesario destacar el esfuerzo de la marca en mejorar la calidad de este servicio, tanto en el sitio donde se reciben consultas y quejas tanto mediante un chat en vivo, por teléfono al número <strong>+44 127 325-69-87</strong>, o al correo de consultas generales <strong>[email&#160;protected]</strong>.</p>
<p>Por otro lado la respuesta de 1xBet en foros externos, ha pasado de ser evasiva a rápida y positiva, con un historial demostrable de resolución de conflictos muy buena en foros europeos que esperamos sea análoga a la atención que vamos a recibir los usuarios latinoamericanos.</p>
<h2 id="usabilidad" class="contentIndexTitle">Diseño y usabilidad&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Medio</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>EL sitio es en nuestra opinión excesivamente complejo y cargado visualmente, (algo normal en los casinos enfocados en las apuestas deportivas) por lo que puede llevarte un tiempo adaptarte y encontrar todas las opciones que buscas. Su versión mobile por otro lado es muy buena, con una interface mucho mas simplificada.</p>
<p>Como queda dicho en la introducción, realizando un análisis hemos encontrado que la dirección web que utiliza su versión para celulares es diferente a la dirección web del sitio de escritorio, hecho que es potencialmente contraproducente para los jugadores, ya que los dominios que quedan por fuera de la licencia de juego no le aplican las reglas de la normativa de la autoridad que la emite y por lo tanto, no existe la posibilidad de exigir conformidad por lo que nos ocurra jugando en ellos. Siendo este el principal motivo por el que hemos dado al casino 1xBet una reputación de &#8220;Aceptable&#8221;, e invitando a los jugadores de <a href="/casinos/">casinos online</a> a documentar sus apuestas y verificar dónde las están realizando para no llevarse sorpresas mas tarde.</p>
