---
slugOverride: bodog-casino
title: "Bodog"
description: "Bodog es un casino con una larga trayectoria en Internet. En América Latina opera bajo una licencia de Curazao, nos ofrece slots & tragamonedas, poker..."
excerpt: "Bodog es un casino con una larga trayectoria en Internet. En América Latina opera bajo una licencia de Curazao, nos ofrece slots & tragamonedas, poker, apuesta deportivas y video bingo electrónico y un paquete de bienvenida para los tres primeros depósitos de 100% hasta $1500 con un rollover de x30 y un depósito mínimo de $10."
operator: "Connaught Media BV"
gradient:
    start: "#1e2020"
    end: "#c32126"
bonus:
    title: "Bono de depósito: 100% hasta $1500, x30"
    text: "En Bodog obtene 100% de bono hasta USD 1,500, con un rollover de x30 y un depósito mínimo de $10."
    link: "https://record.revenuenetwork.com/_V-ibMvK6zZsrlHQ6khlGiGNd7ZgqdRLk/1/"
details:
    games: "good"
    promotions: "good"
    customerSupport: "good"
    design: "good"
    license: "average"
    affiliateProgram: "good"
maxWidthdrawal: "$9500"
minDeposit: "$10"   
minWidthdrawal: "?"
license: "Curazao"
reputation:
    code: "acceptable"
    text: "Bodog es un casino con una larga trayectoria en Internet. En América Latina opera bajo una licencia de Curazao, nos ofrece slots & tragamonedas, poker, apuesta deportivas y video bingo electrónico y un paquete de bienvenida para los tres primeros depósitos de 100% hasta $1500 con un rollover de x30 y un depósito mínimo de $10."
ranking: 4
score: 7.4
---

<br>
<h2 id="juegos" class="contentIndexTitle">Juegos en el casino Bodog&nbsp;<span class="badge badge-success badge-pill">&#10003; Bueno</span></h2><h3 class="contentIndexSubTitle">Bodog cuenta con los juegos y tragamonedas de algunos de los estudios de creación mas populares, ordenados alfabéticamente y con filtros especiales por temáticas</h3>
<p>Bodog es un casino confiable completo, con 4 area, verticales o tipos de juegos disponibles para apostar. Estos son los juegos de casino, los de casino en vivo, los de poker online y los de apuestas deportivas. En esta reseña nos vamos a enfocar en la primera de ellas, es decir en el area de casino y tragamonedas de Bodog que incluye: Slots, maquinas con jackpots o acumulados, <a href="/juegos/video-bingo/">vídeo bingo</a> también conocido como bingo electrónico, además de ruleta, blackjack o 21 entre otros juegos de mesa.</p>
<p>Bodog, fundada por Calvin Ayre, es una marca establecida que opera desde 1994 y por eso es que está junto a otras marcas precursoras de juego y apuestas en línea catalogada por Betizen como un casino confiable.</p>
<p> Comenzando en su página de inicio llegamos a la sección de juegos y slots que nos ofrece un catálogo de juegos que incluyen juegos y slots exclusivos de Bodog, algo que no ocurre con todos los casinos online, pero también en cuanto a proveedores o estudios de creación de juegos podemos encontrar marcas también presentes en Betizen como Evolution, Microgaming, <a href="/proveedor/gamebeat-studio/">GameBeat</a>, Neko Games, Gamomat, Zitro, Leander Games, Kalamba, entre otros.</p>
<p>Una cosa interesante de Bodog es que nos permitirá filtrar sus juegos y tragamonedas por temáticas como por ejemplo slots de frutas, de dragones, de piratas o bingo entre muchas otras categorías que vale la pena darle una mirada.</p>
<h2 id="bonos" class="contentIndexTitle">Promociones y pagos&nbsp;<span class="badge badge-success badge-pill">&#10003; Bueno</span></h2><h3 class="contentIndexSubTitle">Bodog cuenta con una promoción de bienvenida para los tres primeros depósitos de 100% HASTA USD 1,500, rollover de x30 y un depósito mínimo de $10.</h3>
<p>Como comentábamos en el apartado de juegos y tragamonedas del casino Bodog esta es una casa que cuenta además de su sección de slots, con opciones de poker y apuestas deportivas (además de casino en vivo que nos animamos a considerarla como parte de la primera vertical) y por lo tanto sus promociones también están separadas por sección, cada una con sus valores de bonos y condiciones diferentes.</p>
<p>Debemos considerar primero que el casino Bodog excluye de sus promociones y en realidad de todo el casino, el América Latina a países como Uruguay, Colombia y Costa Rica. </p>
<p>Para el resto de los países está en vigencia una promoción o bono de bienvenida en dólares de <strong>100% HASTA USD 1,500</strong> (para los tres primeros depósitos, $500 individualmente).<br>Sin embargo para alguno de los países objetivo de la marca esta <a href="/bonos/">promoción de casino</a> se denomina en la moneda local de acuerdo a la tabla siguiente:</p>
<ul><li>Brasil: 100% ATÉ R$7,500</li><li>México: 100% HASTA 30,000 MXN</li><li>Perú: 100% HASTA S/ 5,250</li><li>Bolivia: 100% HASTA $B 10,500</li><li>Chile: 100% HASTA 1.200.000 CLP</li></ul>
<p>Lo cual además nos da una idea de donde se encuentra el público objetivo de la marca.</p>
<p>En cuanto al rollover de esta promoción, es decir, cuántas veces necesitaremos hacer circular el dinero del depósito mas el bono antes de poder retirar nuestras ganancias, en el caso de Bodog es de x30 veces. Y la promo tendrá una validez total de 30 días.</p>
<p>Adicionalmente el depósito mínimo para esta promoción es de $10 dólares o el equivalente en la moneda local de cada jugador. El límite máximo del bono es de $500 para la promo de primer depósito.</p>
<h2 id="atencion-al-cliente" class="contentIndexTitle">Atención al cliente&nbsp;<span class="badge badge-success badge-pill">&#10003; Bueno</span></h2><h3 class="contentIndexSubTitle">Bodog nos ofrece dos opciones de atención al cliente: por chat en vivo y correo </h3>
<p>El casino Bodog tiene como foco, en el mercado Latinoamericano, a Brasil y también a otros países de habla hispana de la región como México, Perú, Bolivia y Chile, por lo que es de esperar una atención al cliente en estos idiomas. En efecto estamos ante una casa de apuestas con un servicio de chat 24/7 en español, portugués e inglés.</p>
<p>Representantes de Bodog nos informan que el tiempo de respuesta de este chat es prácticamente cero, una ventaja sin dudas si comparamos con la competencia.</p>
<p>En cuanto al servicio de atención por correo, está también dividido por idiomas, según la siguiente tabla:</p>
<ul><li><a href="/cdn-cgi/l/email-protection.html#3b484e4b54494f5e7b59545f545c15585456"><span class="__cf_email__" data-cfemail="cab9bfbaa5b8beaf8aa8a5aea5ade4a9a5a7">[email&#160;protected]</span></a>&nbsp;(PT)</li><li><a href="/cdn-cgi/l/email-protection.html#74071b041b06001134161b101b135a171b19"><span class="__cf_email__" data-cfemail="bdced2cdd2cfc9d8fddfd2d9d2da93ded2d0">[email&#160;protected]</span></a>&nbsp;(ES)</li><li><a href="/cdn-cgi/l/email-protection.html#37444247475845437755585358501954585a"><span class="__cf_email__" data-cfemail="d5a6a0a5a5baa7a195b7bab1bab2fbb6bab8">[email&#160;protected]</span></a>&nbsp;(EN)</li></ul>
<h2 id="usabilidad" class="contentIndexTitle">Diseño y usabilidad&nbsp;<span class="badge badge-success badge-pill">&#10003; Bueno</span></h2><h3 class="contentIndexSubTitle">Si ser deslumbrante, el casino Bodog presenta un diseño bueno que funciona perfectamente en PC y dispositivos móviles.</h3>
<p>La usabilidad del casino Bodog es aceptable. No son esperables características como las de casinos enfocados en tragamonedas pero aún así la experiencia es buena, con buenos filtros temáticos para encontrar nuestros juegos aunque harían falta mejores formas de ordenarlos.</p>
<p>El sitio responder correctamente tanto para jugar en una PC desktop o a través de nuestros teléfonos celulares.</p>
<h2 id="licenses" class="contentIndexTitle">Licencias&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Medio</span></h2><h3 class="contentIndexSubTitle">Para América Latina el casino Bodog es operado por la empresa Connaught Media BV, bajo la licencia 1668/JAZ emitida para Curaçao eGaming.</h3>
<p>Bodog era regulado por la Comisión Reguladora de Servicios Financieros de Antigua y Barbuda y certificado por la empresa iTech Labs. Actualmente, y al menos para el mercado de América Latina el casino es operado por la empresa Connaught Media BV, constituida en Curazao bajo el número 145098 e incorporada en el 2017. Esta empresa a su vez tiene como directora a otra empresa también incorporada en Curazao, llamada Global Related Services B.V (número 136506), según los registros públicos de la Cámara de Comercio de Curazao.</p>
<p>La licencia es cuestión es la número 1668/JAZ emitida para Curaçao eGaming.</p>
<h2 id="affiliateprogram" class="contentIndexTitle">Programa de Afiliados&nbsp;<span class="badge badge-success badge-pill">&#10003; Bueno</span></h2><h3 class="contentIndexSubTitle">El programa de afiliados de Bodog opera bajo la red Revenue Network Affiliates con una oferta de revenue share de hasta 45%</h3>
