---
title: "Casinos de Criptomonedas"
"description": "Una lista de casinos en línea que se enfocan en pagos con criptomonedas."
layout: "layouts/base.njk"
permalink: "/casinos/criptomonedas/"
---

<section class="pl-2">
    <div class="max-w-6xl mx-auto">
        {%- include "components/bz-carrousel.njk" -%}
    </div>
</section>

<section class="max-w-6xl mx-auto mt-10 px-2 md:px-0">

    <div class="prose prose-sm px-2 md:px-5 max-w-full">
        <h1 class="page-title text-2xl mb-2 mb-md-0">
            {{title}}
        </h1>
        <!-- The initial max-height is now removed and will be set by the script -->
        <div id="expandable-content" class="bz-expandable-content overflow-hidden transition-[max-height] duration-500 ease-in-out">
            {{ description | safe }}
        </div>
        <!-- Button with ID for the script -->
        <button id="toggle-read-more" class="btn btn-light btn-sm btn-minimo-readmore mb-4 mb-md-0 mt-2">
            {{ languages[page.lang].texts.readMore }}
        </button>
    </div>

    {# <div class="mt-3">
        {%- include "components/bz-banner-hero.njk" -%}
    </div> #}

    <div class="overflow-x-auto rounded-box border border-base-300 dark:border-gray-700 bg-base-100 p-2 md:px-5 md:mt-6">

            {%- set postsList = collections.cryptoCasinos | forLang( page.lang ) %}
            {% include "components/casinos/casinos-list.njk" %}

        </table>
    </div>

</section>