---
slugOverride: loki
title: "Loki"
description: "El casino Loki es de esas casas de apuesta tan enfocada en tragamonedas, Bitcoin y juegos de mesa como en su foco por ser justos. Veamos la reseña com..."
excerpt: "El casino Loki es de esas casas de apuesta tan enfocada en tragamonedas, Bitcoin y juegos de mesa como en ser justos, y esto es un gran comienzo. ¿Qué esperar? Un diseño sencillo y claro, (con modo nocturno incluido para los trasnochados), mas de 20 formas de retirar nuestro dinero con pagos muy rápidos, una atención al cliente amable (si escuchó bien :), 40 proveedores de juegos de la calidad de Nolimit City, Betsoft o Netent entre otros. Y en resumen un casino sobre el que finalmente nos da placer escribir.<br>¿Qué debe mejorar? Loki tiene una licencia de Curaçao, y algunas secciones del sitio todavía no están correctamente traducidas al español."
operator: "DAMA N.V."
gradient:
    start: "#a687c4"
    end: "#7b4baa"
bonus:
    link: "https://atraff.com/?serial=5612&creative_id=1&anid="
details:
    games: "good"
    promotions: "good"
    customerSupport: "good"
    design: "good"
    license: "average"
maxWidthdrawal: "$5000"
minDeposit: "$5"
minWidthdrawal: "$20"
license: "Curazao"
reputation:
    code: "fair"
    text: "El casino Loki es de esas casas de apuesta tan enfocada en tragamonedas, Bitcoin y juegos de mesa como en ser justos, y esto es un gran comienzo. ¿Qué esperar? Un diseño sencillo y claro, (con modo nocturno incluido para los trasnochados), mas de 20 formas de retirar nuestro dinero con pagos muy rápidos, una atención al cliente amable (si escuchó bien :), 40 proveedores de juegos de la calidad de Nolimit City, Betsoft o Netent entre otros. Y en resumen un casino sobre el que finalmente nos da placer escribir.<br>¿Qué debe mejorar? Loki tiene una licencia de Curaçao, y algunas secciones del sitio todavía no están correctamente traducidas al español."
ranking: 40
score: 0
---

<br>
<p>Loki Casino es operado Dama N.V. Casinos, la misma empresa responsable de otras casas que en Betizen hemos catalogado como <strong>Justas</strong>, como es el caso por ejemplo del innovador <a href="../gunsbet/">GunsBet</a> sobre el cual realizamos la reseña semanal hace pocos días, algo así como lo que se dice finalmente un <em>¡casino real, online!</em> Pero también de otros sitios de apuestas no disponibles en español al momento de escribir esta reseña como CrazyFox, EU Slots, Webbyslot, MegaPari o el propio GoldenStar que sí está en español y que en breve tendrá su reseña en nuestra comunidad. </p>
<p>Para aquellos interesados hacer dinero online con la <a href="/programas-de-afiliados/">afiliación de casinos</a>, las anteriores son todas marcas disponibles bajo el <a href="/programas-de-afiliados/">programa Alpha Affiliates</a> que destaca por ser un socio confiable y transparente en una industria que suele tener una debilidad curiosa por prácticas menos honestas. De esta política general de razonable honestidad es que las marcas relacionadas a Dama N.V. han pasado a ser un sello de confianza tanto para jugadores como afiliados. Al menos por el momento, que las adquisiciones están a la orden del día y todo es muy cambiante en el rubro de iGaming.</p>
<p>Pero volvamos al casino que es lo que nos interesa. Entonces ¿qué hace al casino Loki destacarse del resto? Veamos los detalles en las diferentes secciones en las que en Betizen nos gusta diseccionar a una casa de apuestas (¡y la cuestión viene con novedades!) y que esperamos resuelvan las mayores preocupaciones de cualquier jugador que se aproxima a conocer un sitio por primera vez, como es lo referente a sus juegos, a sus bonos y promociones y al diseño y lo fácil, complicado, transparente o raro que es utilizar la página en sí misma. </p>
<p>Próximamente además, y esto ya es anuncio 🙂 Vamos a agregar una sección especial de <a href="https://es.wikipedia.org/wiki/Conozca_a_su_cliente">KYC</a> (del inglés Know-Your-Customer o &#8220;Conozca a su cliente&#8221;) donde vamos a hacer una revisión de cuán sencillo o complicado es para un jugador nuevo realizar satisfactoriamente el proceso de verificación de documentos que normalmente un casino nos solicita para retirar nuestro dinero o para participar de promociones, o bueno, cuanto se les antoja.</p>
<p>Finalmente decir que en esta reseña del <strong>casino Loki</strong> estamos estrenando una nueva sección donde nos dedicamos a hablar sobre la licencia que nos protege al momento de jugar en esta casa de apuestas y que en breve vamos actualizar para el resto de las <a href="/casinos/">reseñas de casinos</a> escritas con anterioridad.</p>
<p>Por lo demás &#8220;diseccionar&#8221; tal vez sea un término demasiado fuerte para un casino que todavía no nos ha hecho nada malo, pero así van las cosas hoy y hay que &#8220;apechugar&#8221; como se dice en algún lugar del sur, asique vamos a ello.</p>
<h2 id="juegos" class="contentIndexTitle">Juegos en el casino Loki&nbsp;<span class="badge badge-success badge-pill">&#10003; Bueno</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>En la sección de referente a Diseño y Usabilidad disponible mas abajo ya hablamos sobre una de las cosas que el casino Loki debe mejorar, y para resumirlo y no resultar repetitivos diremos que se trata de la posibilidad de ponder experimentar el sitio <em>completamente</em> antes de tener que registrarnos. En el caso de los juegos ofrecidos, si bien vamos a poder explorar la oferta general, no está a nuestra disposición probar las pantallas en las que efectivamente vamos a jugar, ni comprobar su usabilidad.</p>
<p>Dicho esto pasemos a lo mas interesante. Y hay mucho de interesante en Loki respecto a sus opciones de juego, porque estamos ante un casino enfocado en tragamonedas. ¿Qué queremos decir? Así como hay casinos denominados &#8220;sportsbooks&#8221; o &#8220;bookies&#8221;, es decir, sitios especializados en ofrecer apuestas deportivas, como puede ser el caso del <a href="../1xbet/">casino 1xBet</a>, <a href="../22bet/">22Bet</a> o <a href="../bet365/">Bet365</a> para nombrar solo a tres con diferentes calidades de reputación, también existen sitios enfocados en darnos una experiencia de juego especializada en tragamonedas. Este es el caso del casino Loki.</p>
<h3 class="wp-block-heading">¿En qué se diferencian exactamente los casinos especializados en tragamonedas? </h3>
<p>Principalmente en la sencillez y la calidad de diseño, en lo &#8220;amigables&#8221; y cuidados que son en cuanto a ofrecernos la información relevante se refiere (en los casos que la casa de apuestas sea confiable y realmente tenga buenas intenciones), en el foco y la cantidad de sus promociones específicas sobre slots, en la temática de los torneos de su programa de fidelización, por nombrar algunas. </p>
<p>Ya el jugador de apuestas deportivas se preocupa menos por estos detalles, entre otras cosas porque una vez colocada su apuesta ya no pasará tanto tiempo sufriendo esos diseños cargados de informaciones muchas veces innecesarias.</p>
<h3 class="wp-block-heading">Los juegos y tragamonedas en el casino Loki</h3>
<p>El casino Loki por lo tanto entra dentro de la categoría de casas de apuestas especializadas en tragamonedas, y como es usual, estos ofrecen otros tipos de opciones emparentadas como juegos de mesa en vivo y virtuales, y como una particularidad extra, Loki además es un casino que acepta criptomonedas, específicamente Bitcoin y tiene algunos juegos específicos que las aceptan como moneda para ingresar, y que están bajo una categoría (cuidado que no son todos). </p>
<p>Los casinos bitcoin o casinos crypto viven el mismo auge que las criptomonedas, con tecnologías mas que interesantes que están apareciendo vinculadas al juego online y por lo tanto desde Betizen les vamos a dedicar mas amor en próximas versiones para que puedas estar mejor enterado de qué son y cómo funcionan. </p>
<p>Por el momento decir que si dispones de algunos <a aria-label="undefined (abre en una nueva pestaña)" href="https://es.wikipedia.org/wiki/Bitcoin" target="_blank" rel="noreferrer noopener">Bitcoin</a> vas a poder utilizarlos para depósito o retiro en el casino Loki.</p>
<p>Sobre los proveedores de tragamonedas en sí, Loki cuenta con 41 de ellos dentro de los que se encuentran algunos de los creadores de slots mas destacados e interesantes como es el caso de nuestro apreciado <a href="/proveedor/nolimit-city/">Nolimit City</a> de títulos tan increíblemente dinámicos y divertidos de jugar como el <a href="/juego/tragamonedas-tombstone/">tragamonedas Tombstone</a>, uno de los grandes éxitos de la marca. Pero además vamos a tener otros proveedores infaltables en todo casino de calidad como <a href="/proveedor/big-time-gaming/">BTG</a> con sus <a href="/blog/tragamonedas-megaways/">tragamonedas Megaways</a>, la prestigiosa <a href="/proveedor/netent/">Netent</a>, Habanero, Betsoft, Microgaming o Playtech. </p>
<p>Si bien no es la oferta mas grande que podamos encontrar es improbable que no encuentres tus tragamonedas favoritos online. La división en categorías es buena, aunque podríamos agradecer filtros avanzados para jugadores avanzados. Por ejemplo, ¿no sería genial poder filtrar los tragamonedas de acuerdo a su <a href="/blog/que-es-la-volatilidad-de-las-tragamonedas/">volatilidad</a> para esos momentos donde nos sentimos con ganas de tentar a la suerte apostando por un jackpot?</p>
<h2 id="bonos" class="contentIndexTitle">Promociones y pagos&nbsp;<span class="badge badge-success badge-pill">&#10003; Bueno</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>El casino Loki tiene, al igual que su hermano el casino <a href="../gunsbet/">GunsBet</a> una aproximación transparente en cuanto a promociones y al juego en general se refiere. En Betizen cubrimos el asunto de los <a href="/bonos/">bonos y promociones</a> en detalle en la sección específica, pero de todas formas sí tenemos algunas cosas que decir en cuanto a las promociones de Loki en términos generales.</p>
<p>Hay dos cosas vitales a tener en cuenta al momento de decidir participar en promociones. </p>
<ul><li>Primero está su <a href="/blog/que-es-el-rollover-de-los-bonos-y-como-funciona-no-te-dejes-enganar/">Rollover</a>, que nos habla la dificultad o facilidad que tendremos para retirar en dinero real el dinero apostado o ganado con las promociones. Algunos casinos como <a href="../vera-john/">Vera&amp;John</a> hacen un excelente trabajo al respecto separando los dos valores, y otros no tanto, complicando nuestro retiro de ganancias. </li><li>Segundo están sus Términos y Condiciones, donde vamos a enterarnos de todos esos detalles escabrosos en caso que lo haya. Y donde la sencillez o la dificultad en entender la redacción ya nos va a dar una idea de las intenciones del casino. También así como la correcta traducción en nuestro idioma. Y justo es decirlo, si bien existen secciones dentro del casino Loki que no están aún traducidas desde el inglés, la sección de T&amp;C correspondiente a las promociones sí lo está y por lo tanto se agradece esta voluntad de transparencia.</li></ul>
<p>En este respecto el casino Loki ofrece una promoción de primer depósito de 100% hasta 100 euros o el equivalente en nuestra moneda + 100 giros gratuitos que viene con un gran aviso. Estos serán válidos para ser jugados tan solo en el <a href="/juego/tragamonedas-princesa-del-cielo/">tragamonedas Princess of Sky</a>.</p>
<div class="alert alert-warning mb-3" role="alert">Para participar de dichos bonos vamos a tener que introducir un código al momento de realizar nuestro primer depósito: LOKI100.</div>
<h3 class="wp-block-heading">Pagos</h3>
<p>Como decíamos en la sección referida a los juegos el casino Loki es una casa especializada en tragamonedas y al mismo tiempo cuenta con dos billeteras diferentes para poder tener nuestro bankroll, esto es, una para dinero real y otra para Bitcoin. Motivo por el cual le hemos dado la categoría de casino Crypto.</p>
<p>Las velocidades de pagos son destacables, con jugadores que han reportado pagos importantes en menos de 24hrs, a la vez que tenemos 20 opciones diferentes para los mismos desde tarjetas de crédito, Astropay, Skrill, Paysafe card, Neteller entre muchos otros. Las billeteras electrónicas por ejemplo, tienen retiros inmediatos (previo proceso de verificación).</p>
<div class="alert alert-info mb-3" role="alert">Si estás interesado en casinos con pagos ultra-rápidos te invitamos a leer la reseña sobre <a href="../fastpay/">Fastpay</a>.</div>
<h2 id="atencion-al-cliente" class="contentIndexTitle">Atención al cliente&nbsp;<span class="badge badge-success badge-pill">&#10003; Bueno</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>Al igual que nos ocurrió con otros casinos de la marca Loki tiene un servicio de atención al cliente instantáneo por chat y particularmente amable. En el futuro vamos a estandarizar las pruebas anónimas que realizamos a los casinos y a compartirlas en esta sección pero por el momento decir que estamos ante un servicio de una calidad pocas veces vistas en los casinos online, lo que nuevamente, habla de las buenas intenciones del casino Loki, y en particular cómo han logrado incorporar esa buena política de transparencia y seriedad a sus agentes.</p>
<p>En nuestro caso, a pesar de que Sophie no hablaba español nativo, supo responder a todas nuestras dudas en español, con cierta ayuda tecnológica 😉 Pero que resultó en que pudimos comprobar la buena reputación de la atención de esta casa de apuestas.</p>
<h2 id="usabilidad" class="contentIndexTitle">Diseño y usabilidad&nbsp;<span class="badge badge-success badge-pill">&#10003; Bueno</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>En Betizen somos gente positiva. Asique empecemos por lo peor del casino Loki. Pero no porque hayamos dejado de serlo, que como hemos dicho es una alegría para nosotros que <a href="/nosotros/">estamos intentando cambiar para mejor el mundo de las apuestas online</a>, encontrarnos con marcas que intentan efectivamente y no solo en palabras promocionales hacer las cosas bien, sino porque hay tan pocas cosas negativas que decir acerca de Loki que tal vez sea mejor sacarlas del medio lo antes posible, sin dejar de mencionarlas.</p>
<p>Como ocurre con <a href="../gunsbet/">GunsBet</a> y como hemos criticado aún mas fuértemente en el caso del <a href="../spin-casino/">Casino Spin</a> (que por momentos ya parece una broma) el casino Loki no permita probar los tragamonedas y demás juegos de mesa sin haber realizado un registro. Y si bien, repetimos, la marca es honesta, esta no es una práctica que nos parezca correcta en ningún <a href="/casinos/">casino online</a>. </p>
<p>¿Porqué? Principalmente porque antes de entregar cualquiera de nuestros datos personales es justo que podamos conocer lo mas detallada posible cómo será nuestra experiencia al intentar cualquier juego azar online, en una casa de apuestas. Y si bien el casino, como es normal y razonable, está ansioso porque nos decidamos a participar estos pueden hacer mas o menos para permitirnos realizar esta exploración previa.</p>
<p>En el caso del casino Loki efectivamente podemos navegar el sitio, explorar los juegos disponibles, filtrar por <a href="/proveedores/">proveedores</a> o por categorías, dentro de las que se encuentran los Juegos mas populares, los juegos nuevos, tragamonedas, jackpots, juegos de mesa, live o en vivo, juegos en bitcoin, y otros. Y sin embargo a la hora de probar la pantalla de juego por diversión el casino ha decidido pedirlos ingresar o registrarnos en el sitio.</p>
<p>Puede parecer un detalle menor pero en Betizen creemos que no lo es, aunque justo es decirlo, el casino Loki si deja disponible para nosotros, sin necesidad de registro, páginas importantes como la relacionada al pago y retiro de dinero, donde se detalla con una claridad excelente los métodos de pago, los tiempos y montos máximo de retiro.</p>
<p>En cuanto a la interface o al diseño Loki, es todo lo que esperamos a la hora de jugar casino online. Particularmente en uno enfocado principalmente en tragamonedas, también conocidas como tragaperras para nuestros amigos méxicanos, o mas globalmente slots. </p>
<p>Decíamos, en estos casinos a diferencia de casas de apuestas deportivas, la prioridad tiene que ser la sencillez y la claridad de los contenidos y en esto el casino Loki destaca. Visualmente sencillo y en tonos claros, tenemos un acceso simple a las secciones que mas nos interesan: Juegos, Promociones, Loterías, El programa de fidelidad y la tabla de pagos que mencionábamos anteriormente.</p>
<p>El sitio mobile es razonablemente bueno, y tiene como curiosidad de diseño la posibilidad de activar el modo nocturno. ¿Para esos momentos en los que ya deberíamos haber apagado el móvil y seguimos intentando obtener ese acumulado?</p>
<p>En general un diseño excelente, un sitio confortable y sencillo de utilizar y extremadamente rápido, sin tiempos de retraso apreciables ni caídas fuera de línea.</p>
<h2 id="licenses" class="contentIndexTitle">Licencias&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Medio</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>El casino Loki opera bajo una <a href="https://www.curacao-egaming.com/">licencia de juego de Curaçao</a> bajo el número de licencia <strong>No. 8048/JAZ</strong>, correctamente emitida para los dominios www.gunsbet.com y www.lokicasino.com. </p>
<p>Si bien hablaremos sobre licencias mas detenidamente en el futuro y proyectamos tener un objetivo sobre licencias de juego para iGaming, es bueno que los jugadores conozcan mientras tanto que las licencias de juego tiene diferentes niveles de reputación, dependiendo de los requerimientos reales (y no en los papeles) que el emisor de dicha licencia exija a los casinos, así como las facilidades (o no) que de a los jugadores que tengan que definir pleitos con los casinos. Dicho esto han habido muchos casinos con licencias de las Antillas Holandesas (Curaçao) que no se han portado bien con los jugadores, y debido a esa trayectoria este es un punto que debe mantenernos atentos a la hora de elegir un casino.</p>
<p>Por supuesto existen muchos motivos de operación por los cuales un casino utiliza licencias mas permisivas como la del casino Loki, y esto no siempre significa que el casino tenga malas intenciones. A veces los motivos están relacionados a los métodos de pago que ofrece (restringidos por unas u otras licencias), otras veces por los países en los que la marca tiene que operar, otras por costos, y un largo etcétera.</p>
<p>A pesar de esto el casino Loki ha demostrado una excelente voluntad de transparencia y de resolver con buen criterio los conflictos que siempre ocurren con los jugadores, como queda comprobado por un prestigio bien ganado en el tiempo que lleva activo.</p>
<p>Esperamos de todas formas, que como ocurre con otros casinos del operador que trabajan bajo la garantía de la licencia de juego de Malta, en el futuro el casino Loki pueda mejorar su propia licencia.</p>
