---
slugOverride: power-casino
title: "Power Casino"
description: "Power Casino promete pero cae muy por debajo de los esperable con una interface pobremente traducida y términos y condiciones en inglés. Vamos aechar ..."
excerpt: "Power Casino promete pero cae muy por debajo de los esperable con una interface pobremente traducida y términos y condiciones directamente en inglés que no nos invitan mas que a echar un vistazo a una oferta que si mejorara en ofrecer contenidos mejor localizados podría ser interesante. "
operator: "Kayalta Ltd."
gradient:
    start: "#ffc23e"
    end: "#25303e"
bonus:
    link: "https://bonusme.fun/L?tag=d_3370224m_37513c_BR_CL_CA_MX_PE&site=3370224&ad=37513"
details:
    games: "average"
    promotions: "average"
    customerSupport: "good"
    design: "bad"
    license: "average"
maxWidthdrawal: "$6.000/mes"
minDeposit: "10"
minWidthdrawal: "?"
license: "Curazao"
reputation:
    code: "acceptable"
    text: "Power Casino promete pero cae muy por debajo de los esperable con una interface pobremente traducida y términos y condiciones directamente en inglés que no nos invitan mas que a echar un vistazo a una oferta que si mejorara en ofrecer contenidos mejor localizados podría ser interesante."
ranking: 37
score: 0
---

<br>
<p>¡Feliz lunes para todos los Betizen! Hoy, como todos los comienzos de semana nos toca presentar una casa de apuestas lanzada en el año 2018: <strong>Power Casino</strong>.</p>
<p>Estamos ante un oferta nueva y por lo tanto los invitamos a experimentar en él con la precaución necesaria en estos casos. Mas cuando Power Casino, que en cuanto a transparencia no hay tenemos objeciones por el momento (el detallado apartado sobre su estructura y licencias lo demuestra) como se verá en algunas de las diferentes secciones mas abajo cuenta con bastantes cosas a corregir antes de poder aspirar a un mejor puntaje en Betizen. Empecemos por lo mas atractivo como son sus 9 <a href="/proveedores/">proveedores de tragamonedas</a>, y terminemos por lo mas engorroso, como es la estructura de empresas y licencias que comentábamos, a través de las cuales Power Casino realiza su oferta de juego.</p>
<h2 id="juegos" class="contentIndexTitle">Juegos en Power Casino&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Medio</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>Como decíamos en la introducción Power Casino cuenta con tan solo 9 proveedores de tragamonedas. Pero a diferencia de lo que ocurre con los idiomas del sitio, que como veremos en el apartado sobre Usabilidad y Diseño acusa falta de capacidad para ofrecer el casino con las traducciones correctamente realizadas, la oferta de juego aunque acotada sí es sólida e interesante.</p>
<p>Recordemos que existen miles de tragamonedas, y cientos de proveedores y si bien es interesante que un casino pueda presentar una oferta de juego amplia como es el caso del casino <a href="../betwinner-casino/">Betwinner</a> o <a href="../twin-casino/">Twin</a>. También es interesante que una casa de apuesta cuide su oferta de juego, incorporando aquellos proveedores mas destacados por la calidad de sus tragamonedas o juegos de mesa. Este es el caso de Power Casino.</p>
<p>Los proveedores en cuestión son VivoGaming, <a href="/proveedor/endorphina/">Endorphina</a>, <a href="/proveedor/betsoft/">Betsoft</a>, <a href="/proveedor/apollo-games/">Apollo Games</a>, Spinomenal, Tom Horn, Mascot Gaming, Nucleus y <a href="/proveedor/platipus/">Platipus</a>. Y si bien es llamativa la falta de proveedores de los mas reconocidos como Netent o Microgaming, o BTG, los proveedores ofrecidos completan una oferta aceptable con juegos modernos como el <a href="/juego/tragamonedas-monster-pop/">tragamonedas Monster Pop</a>, el nuevísimo y futurista <a href="/juego/tragamonedas-rise-of-ai/">Raise of AI</a>, o el ya clásico <a href="/juego/tragamonedas-pharaohs-empire/">Pharaoh&#8217;s Empire de Platipus</a>.</p>
<p>Power Casino cuenta con torneos vigentes todas las semanas, y filtros básicos pero aceptables, además de juegos de Ruleta europea y americana, Blackjack en vivo, Video póker, Baccarat y Texas hold&#8217;em.</p>
<p>En definitiva una oferta de juego concreta, algo limitada pero aceptable.</p>
<h2 id="bonos" class="contentIndexTitle">Promociones y pagos&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Medio</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>Power Casino, como diremos en la sección correspondiente presenta una interface y diseño aceptable pero pobremente traducida. Esto hace que las promociones, un asunto delicado no generen la confianza necesarias a la hora de probar un casino nuevo. Resultan confusas, expresadas en monedas desconocidas, hecho que definitivamente no nos anima a participar en ellas.</p>
<p>Para peor, los términos y condiciones de las mismas, así como ocurrirá con los T&amp;C del sitio en general está exclusivamente en inglés. </p>
<p>Por otro lado, aunque nos tomemos la molestia de traducir o de entender el inglés de los textos de Power Casino que deberían estar en nuestro idioa seleccionado existen inconsistencias visibles respecto a las promociones. Por poner un ejemplo el título de la página de promociones es &#8220;100% en el bono de bienvenida&#8221; e inmediatamente debajo Power Casino nos ofrece un 200% para dicho bono. Esta es una oferta especial pero tendremos que adivinarlo. </p>
<p>La promoción real base del bono de bienvenida de Power Casino es de 100% con un rollover (muy bueno por otro lado) de x30. La promoción de segundo depósito baja a 50%, manteniendo el mismo rollover.</p>
<p>Si te interesa conocer el bono de bienvenida con el rollover mas bajo que hemos visto hasta ahora te invitamos a leer la reseña del <a href="../betwinner-casino/">casino Betwinner</a>.</p>
<p>En definitiva, salvo que puedas utilizar el sitio de Power Casino en inglés y entiendas lo que estás haciendo te invitamos a mantener una actitud de precaución, o en caso que hayas tenido buenas experiencias, aportar a la comunidad dejando un comentario.</p>
<h3 class="wp-block-heading">Pagos</h3>
<p>En cuanto a los pagos no existe en Power Casino una página dedicada a los mismos como podemos ver en sitios como <a href="../betwinner-casino/">Betwinner</a> o <a href="../vera-john/">Vera&amp;John</a>. Esto aportaría transparencia, ya que daría los jugadores la posibilidad de verificar los métodos y tiempos de retiro y depósito.</p>
<p>La única información que obtendremos respecto a los mismos es un listado de métodos entre los que encontramos Visa, Mastercard, Skrill, Neteller, Paysafe Card, Ecopayz y Jeton. Algo escaso y poco detallado.</p>
<h2 id="atencion-al-cliente" class="contentIndexTitle">Atención al cliente&nbsp;<span class="badge badge-success badge-pill">&#10003; Bueno</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>Hemos realizados algunas críticas a Power Casino en lo que respecta a la localización de sus contenidos, es decir que estos estén correctamente traducidos al idioma en que se ofrece el sitio. Pero en cuanto al soporte realmente debemos quitarnos el sombrero.</p>
<p>El servicio de atención al cliente es muy rápido, y aunque no está disponible en español nativo los agentes hacen un muy buen trabajo a la hora de intentar respondernos correctamente mediante traductor (fuimos atendidos, luego de un cuestionario simple para direccionar nuestras dudas, en menos de 1 minuto). </p>
<p>Además en el caso de nuestra experiencia probando el servicio anónimamente pudimos comprobar un buen servicio, que en vez de enviarnos enlaces a diferentes puntos del sitio y evitar responder nuestras dudas directamente se han tomado el trabajo de corroborar la información referente al problema planteado ellos mismos, y enviarnos una respuesta comprensible en nuestro idioma.</p>
<p>Sin dudas un punto fuerte de Power Casino, de la que otros casinos podrían aprender. Creemos, como mencionábamos en la <a href="../betwinner-casino/">reseña sobre Betwinner</a>, que este es un punto donde los casinos en línea pueden destacarse en un mundo de iGaming donde la oferta de juego es común a todos, salvo en casos específicos y también interesantes de marcas como <a href="../888-casino/">888 Casino</a> donde podemos encontrar juegos exclusivos. </p>
<h2 id="usabilidad" class="contentIndexTitle">Diseño y usabilidad&nbsp;<span class="badge badge-danger badge-pill font-weight-bold">- Malo</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>Sin dudas estamos ante un punto bajo. Demasiado tal vez, al punto que interfiere con la confianza de lo que sería por lo demás un buen casino. Lo primero que llamó nuestra atención al momento de abrir el sitio de Power Casino es que a pesar de tener un diseño y una interface claramente bien trabajadas, no tiene cuidado por cuestiones de localización, es decir, ofrecer un sitio correctamente traducir de acuerdo al idioma en que se ofrece.</p>
<p>En primer lugar, seguramente debido a su origen muchos de los valores numéricos están expresados en lo que para nosotros es una moneda extraña, los esloti (ZŁ), la divisa oficial polaca. <br>Así tanto los valores monetarios de los premios de los últimos ganadores como algunas valores informativos de los premios de los torneos están también en dicha moneda, lo que no solo es una bienvenida un tanto extraña, sino que como jugadores, tanto seamos de España o de Latinoamérica , nos dificulta entender la convenciencia de registrarnos en el casino.</p>
<p>En segundo lugar vemos un sitio pobremente traducido al español. Con títulos de secciones, o textos de la interface web que están en inglés, con botones en español, generando una mezcla de idiomas en un sitio que dice estar disponible en español.</p>
<p>En tercer lugar los términos y condiciones de Power Casino están únicamente en inglés. Esto es muy malo en términos de transparencia, y que como jugadores necesitamos saber claramente las reglas de la casa.</p>
<p>Por lo tanto si bien el sitio web de Power Casino presenta una buena usabilidad, si bien es moderno en cuanto a su funcionamiento tiene muchísimo para mejorar antes de ofrecerse en español.</p>
<p>Con frecuencia hemos hablado de la importancia de tener una oferta sólida aunque esta sea menor o mas acotada, a que intentar ofrecer mas de lo que se puede manejar en el momento, ya que causa sitios que causan una mala experiencia de usuario, y una sensación de desconfianza general.</p>
<p>Esperemos que Power Casino logre mejorar este aspecto en el futuro y ser merecedora de un mejor puntaje.</p>
<h2 id="licenses" class="contentIndexTitle">Licencias&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Medio</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>El titular de la licencia y operador de Power Casino es Uberalta N.V., una empresa registrada en Curaçao en el año 2018, en la dirección Abraham de Veerstraat 9, con un número de registro <strong>147113</strong>. Huelga decir que Power Casino opera con una licencia de Curaçao, bajo el número de registro #365/JAZ. Este número de licencia pertenece al Master Holder <a href="http://www.gaming-curacao.com/">Gaming Curacao</a>. Hay 4 titulares de licencia maestra en Curaçao, siendo Gaming Curaçao, uno de aquellos que <em>ocasionalmente</em> toma acciones contra operadores poco escrupulosos, a pesar de que como suele ocurrir con este tipo de licencias menos exigentes, se espera que los jugadores con problemas puedan realizar sus quejas pero no tenemos garantías de que efectivamente alguna acción sea llevada a cabo.</p>
<p>En cuanto a la dirección que aparece como registro de Power Casino, no debe llamarnos la atención que esta aparezca en titulares de licencias de otros <a href="/casinos/">casinos online</a>, ya que esto es una práctica común en el iGaming, pudiendo estar la operación verdaderamente en otros lugares.<br>El director general de Uberalta N.V que aparece en los <a href="http://www2.curacao-chamber.cw/excerpt.asp?mode=edit&amp;companyid=147113&amp;establishmentnr=0&amp;legalformid=51">registros de la Cámara de Comercio de Curaçao</a> es Lukás Drábek, nacido en República Checa, que como veremos mas abajo también es el director de la empresa propietaria de Power Casino con registro en Chipre.</p>
<p>A su vez la empresa que aparece como apoderada de las acciones es <strong>Dutch Antilles Management N.V.</strong>, también registrada en Curaçao, pero incorporada por el año 1977.</p>
<p>A su vez Power Casino procesa sus pagos a través de la empresa MoneyMatrix Ltd., constituída en Malta en el año 2014, con el número de registro C64593.</p>
<p>Finalmente para terminar de entender la estructura de Power Casino debemos hablar de <a href="https://opencorporates.com/companies/cy/HE387690">Kayalta Ltd.</a>, número de registro: HE 387690, dirección: Avionos 1, 1075, Nicosia, Chipre. Empresa que tiene los derechos reservados de la marca Power Casino, y cuyo director registrado es Lukas Drabek. Según el Ministerio de Energía, Comercio e Industria de Chipre.</p>
