---
title: "Jogos de Blackjack"
description: "Blackjack ou 21 é o jogo principal em muitos cassinos e, em geral, um dos jogos de azar mais populares."
permalink: /pt-br/jogos/blackjack-br/
gamesFrom: blackjack
---

<p>
    Blackjack ou 21 é o jogo principal em muitos cassinos e, em geral, um dos jogos de azar mais populares. O jogo é uma competição entre o casino, representado pelo Dealer ou Croupier, contra os jogadores. Nas mesas dos casinos face a face podemos encontrar até 9 posições de aposta, por outro lado, nas plataformas online as mesas de Blackjack virtuais são individuais mas podemos ter à nossa disposição várias posições (dependendo do fornecedor entre 3 a 5 posições disponíveis). Também encontraremos mesas online com formato Live, nestas também podemos encontrar mesas multijogador.
</p>