{% if languages[page.lang].promo.image and languages[page.lang].promo.url %}
<div class="bz-img-banner mb-2 mt-1 animated pulse infinite">
    <a href="{{languages[page.lang].promo.url}}"
    target="_blank"
    rel="nofollow noopener">
        <img
            alt="hero-banner"
            src="{{ languages[page.lang].promo.image }}"
        />
    </a>
</div>
{% endif %}