{# _includes/components/bz-carrousel.njk #}

<div class="main-carousel carousel-smooth mt-0">


    <div class="carousel-cell !w-[136px] nested-carousel-wrapper">
        <div class="nested-carousel-container">
            <div class="nested-carousel">

                {# First nested casino #}
                <a
                    href="{{ languages[page.lang].promo.casino.url }}"
                    target="_blank"
                    class="nested-carousel-cell !w-[136px] !h-[166px]"
                >
                    <div
                        class="w-[136px] h-[136px] bg-[size:136px] rounded-[15px]"
                        style="background-image:url('{{ languages[page.lang].promo.casino.logo }}');"
                    ></div>

                    <div class="text-white bg-(--bz-gold) rounded-[15px] py-[0.1rem] px-[0.3rem] text-xs m-0 leading-tight opacity-85 absolute top-[5px] right-[4px] z-[100]">
                        🥇 {{ languages[page.lang].texts.featured }}
                    </div>


                    <div class="mt-1 btn bg-(--bz-gold) text-white btn-xs btn-block rounded-2xl">
                        {{ languages[page.lang].texts.visit }}
                    </div>
                </a>
                
                {# Second nested casino #}
                {% if languages[page.lang].promo.casino2 %}
                    <a
                        href="{{ languages[page.lang].promo.casino2.url }}"
                        target="_blank"
                        class="nested-carousel-cell"
                    >

                        <div
                            class="w-[136px] h-[136px] bg-[size:136px] rounded-[15px]"
                            style="background-image:url('{{ languages[page.lang].promo.casino2.logo }}')"
                        ></div>                    

                        <div class="text-white bg-(--bz-gold) rounded-[15px] py-[0.1rem] px-[0.3rem] text-xs m-0 leading-tight opacity-85 absolute top-[5px] right-[4px] z-[100]">
                            🥇 {{ languages[page.lang].texts.featured }}
                        </div>
  
                        <div class="mt-1 btn bg-(--bz-gold) text-white btn-xs btn-block rounded-2xl">
                            {{ languages[page.lang].texts.visit }}
                        </div>
                    </a>
                {% endif %}

            </div>
            

        </div>
    </div>


    {# Promo #}
    <div class="carousel-cell !w-[290px] !h-[136px]">
        <a
            href="{{ languages[page.lang].promo.carrouselBonus.url }}"
            target="_blank" rel="nofollow noopener noreferrer">
            <div
                class="w-full h-[136px] bg-[size:290px] rounded-[15px]"
                style="background-image:url('{{ languages[page.lang].promo.carrouselBonus.image }}')"
            ></div>
            <div class="text-white bg-black rounded-[15px] py-[0.1rem] px-[0.3rem] text-xs m-0 leading-tight opacity-85 absolute top-[5px] right-[4px] z-[100]">
                {{ languages[page.lang].texts.bonus }}
            </div>
            <div class="mt-1 btn btn-primary text-white btn-xs btn-block rounded-2xl">
                {{ languages[page.lang].promo.carrouselBonus.cta }}
            </div>
        </a>
    </div>    

    {# Game 1 #}
    <div class="carousel-cell !w-[136px] !h-[136px]">
        <a
            href="{{ "/juego/slot-fortune-tiger/" | locale_url }}"
            target="_blank">
            <div
                class="w-[136px] h-[136px] bg-[size:136px] rounded-[15px] bg-[url('/assets/imgs/games/slot-fortune-tiger-logo.webp')]"
            ></div>
            <div class="text-white bg-secondary rounded-[15px] py-[0.1rem] px-[0.3rem] text-xs m-0 leading-tight opacity-85 absolute top-[5px] right-[4px] z-[100]">
                Popular
            </div>
            <div class="mt-1 btn bg-secondary text-white btn-xs btn-block rounded-2xl">
                {{ languages[page.lang].texts.freePlay }}
            </div>
        </a>
    </div>

    {# Game 2 #}
    <div class="carousel-cell !w-[136px] !h-[166px]">
        <a
            href="{{ "/juego/tragamonedas-jack-y-las-habichuelas-magicas/" | locale_url }}"
            target="_blank">
            <div
                class="w-[136px] h-[136px] bg-[size:136px] rounded-[15px] bg-[url('/assets/imgs/games/tragamonedas-jack-y-las-habichuelas-magicas-logo.webp')]"
            ></div>
            <div class="text-white bg-secondary rounded-[15px] py-[0.1rem] px-[0.3rem] text-xs m-0 leading-tight opacity-85 absolute top-[5px] right-[4px] z-[100]">
                Popular
            </div>
            <div class="mt-1 btn bg-secondary text-white btn-xs btn-block rounded-2xl">
                {{ languages[page.lang].texts.freePlay }}
            </div>
        </a>
    </div>  

    {# Game 3 #}
    <div class="carousel-cell !w-[136px] !h-[166px]">
        <a
            href="{{ "/juego/thunderstruck-ii-video-bingo/" | locale_url }}"
            target="_blank">
            <div
                class="w-[136px] h-[136px] bg-[size:136px] rounded-[15px] bg-[url('/assets/imgs/games/thunderstruck-ii-video-bingo-logo.webp')]"
            ></div>
            <div class="text-white bg-secondary rounded-[15px] py-[0.1rem] px-[0.3rem] text-xs m-0 leading-tight opacity-85 absolute top-[5px] right-[4px] z-[100]">
                Popular
            </div>
            <div class="mt-1 btn bg-secondary text-white btn-xs btn-block rounded-2xl">
                {{ languages[page.lang].texts.freePlay }}
            </div>
        </a>
    </div>     

    {# Game 4 #}
    <div class="carousel-cell !w-[136px] !h-[166px]">
        <a
            href="{{ "/juego/conquestera-tragaperras/" | locale_url }}"
            target="_blank">
            <div
                class="w-[136px] h-[136px] bg-[size:136px] rounded-[15px] bg-[url('/assets/imgs/games/conquestera-tragaperras-logo.webp')]"
            ></div>
            <div class="text-white bg-secondary rounded-[15px] py-[0.1rem] px-[0.3rem] text-xs m-0 leading-tight opacity-85 absolute top-[5px] right-[4px] z-[100]">
                Popular
            </div>
            <div class="mt-1 btn bg-secondary text-white btn-xs btn-block rounded-2xl">
                {{ languages[page.lang].texts.freePlay }}
            </div>
        </a>
    </div>  


    {# Game 5 #}
    <div class="carousel-cell !w-[136px] !h-[166px]">
        <a
            href="{{ "/juego/tragamonedas-monopoly-megaways/" | locale_url }}"
            target="_blank">
            <div
                class="w-[136px] h-[136px] bg-[size:136px] rounded-[15px] bg-[url('/assets/imgs/games/tragamonedas-monopoly-megaways-logo.webp')]"
            ></div>
            <div class="text-white bg-secondary rounded-[15px] py-[0.1rem] px-[0.3rem] text-xs m-0 leading-tight opacity-85 absolute top-[5px] right-[4px] z-[100]">
                Popular
            </div>
            <div class="mt-1 btn bg-secondary text-white btn-xs btn-block rounded-2xl">
                {{ languages[page.lang].texts.freePlay }}
            </div>
        </a>
    </div>  


    
</div>

<script>

    // Simple nested carousel
    let currentSlide = 0;
    const slides = document.querySelectorAll('.nested-carousel-cell');
    const carousel = document.querySelector('.nested-carousel');
    
    if (slides.length > 1) {
        setInterval(() => {
            currentSlide = (currentSlide + 1) % slides.length;
            carousel.style.transform = `translateX(-${currentSlide * 100}%)`;
        }, 3000);
    }


    var flkty2 = new Flickity('.main-carousel', {
        cellAlign: "left",
        prevNextButtons: false,
        contain: true,
        wrapAround: false,
        freeScroll: false,
        groupCells: true,
        autoPlay: false,
        pageDots: true,
    });
    {# flkty2.next();     #}


</script>