<footer class="footer-mobile d-inline-block d-md-none">
    <div
        id="buttonGroup"
        class="btn-group selectors"
        role="group"
        aria-label="Basic example"
    >
        <button
            id="home"
            type="button"
            class="btn btn-secondary button-inactive btn-footer-mobile"
        >
            <a href="/">
                <div class="selector-holder">
                    <i class="fa fa-home fa-ax" aria-hidden="true"></i>
                    <span>Inicio</span>
                </div>
            </a>
        </button>
        <button
            id="feed"
            type="button"
            class="btn btn-secondary button-inactive btn-footer-mobile"
        >
            <a href="//juegos/">
                <div class="selector-holder">
                    <i class="games-icon fa-ax" aria-hidden="true"></i>
                    <span>Juegos</span>
                </div>
            </a>
        </button>
        <button
            id="create"
            type="button"
            class="btn btn-secondary button-inactive btn-footer-mobile"
        >
            <a href="//casinos/">
                <div class="selector-holder">
                    <i class="casino-icon fa-ax"></i>
                    <span>Casinos</span>
                </div>
            </a>
        </button>
        <button
            id="account"
            type="button"
            class="btn btn-secondary button-inactive btn-footer-mobile"
        >
            <a href="//bonos/">
                <div class="selector-holder">
                    <i class="bonus-icon fa-ax" aria-hidden="true"></i>
                    <span>Bonos</span>
                </div>
            </a>
        </button>
    </div>
</footer>

<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div
                class="footer__item d-lg-flex justify-content-lg-between align-items-lg-center"
            >
                <ul id="menu-footer" class="nav sub-nav footer__sub-nav">
                    <li
                        id="menu-item-1194"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1194"
                    >
                        <a title="about-us" href="//nosotros/">Nosotros</a>
                    </li>
                    <li
                        id="menu-item-1194"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1194 d-none"
                    >
                        <a title="Glosario" href="//glosario/">Glosario</a>
                    </li>
                    <li
                        id="menu-item-1194"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1194"
                    >
                        <a title="Proveedores" href="//proveedores/"
                            >Proveedores</a
                        >
                    </li>
                    <li
                        id="menu-item-117"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-117"
                    >
                        <a title="Afiliados" href="//programas-de-afiliados/"
                            >Afiliados</a
                        >
                    </li>
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle dropdown-normal"
                            href="/#others"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                        >
                            Otros
                        </a>
                        <div class="dropdown-menu">
                            <div class="navbar-collapse navbar-top-collapse">
                                <ul id="menu-top-menu" class="nav navbar-nav">
                                    <li
                                        id="term-id-6"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-601"
                                    >
                                        <a
                                            title="Transparencia"
                                            href="//transparencia/"
                                            >Transparencia</a
                                        >
                                        <a title="Rankings" href="//rankings/"
                                            >Rankings</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <p class="hidden-sm-down d-none d-lg-block">
                    v1.2.15 / Creado por
                    <a
                        class="maker-dot"
                        href="/https://minimo.io/"
                        target="_blank"
                        >Mínimo</a
                    >
                </p>
            </div>
            <div class="disclaimers nav sub-nav pb-3 d-block">
                <!-- <img
                    class="disclaimers-mga"
                    src="/assets/imgs/site/mga-logo.png"
                /> -->
                <img
                    class="disclaimers-18plus"
                    src="/assets/imgs/site/18-plus.png"
                />
                <a
                    class="mt-0 pt-0"
                    href="/https://www.begambleaware.org/"
                    target="_blank"
                    rel="nofollow"
                    Xdata-target="#tc-modal"
                    Xdata-toggle="modal"
                    Xdata-hasbutton="0"
                    Xdata-title="Juega responsablemente"
                    data-content="&lt;div class=&#039;container disclaimersModal&#039;&gt;&lt;center&gt;&lt;img src=https_/www.betizen.org/wp-content/uploads/2020/10/betizen-typo.html /&gt;&lt;/center&gt;&lt;br&gt;&lt;p class=&#039;text-uppercase&#039;&gt;&lt;strong&gt;Jugar responsablemente se trata de conocer tus límites y jugar dentro de tus posibilidades.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Recuerde que es contra la ley que los menores de 18 años apuesten. Betizen es un producto para adultos que juegan de forma responsable. Queremos brindar transparencia a la industria de los juegos de azar (para jugadores, operadores y afiliados), y por eso nos tomamos muy en serio los problemas de juego. &lt;br&gt;
Si desea tomar un breve descanso de los juegos, puede hacerlo tomándose un tiempo por un período de 24 horas, 48 horas, 7 días o 30 días.
Si necesita ayuda, tenemos un artículo para usted en el blog, o puede ponerse en contacto con nosotros para recibir ayuda de profesionales externos.&lt;/p&gt;&lt;button class=&#039;btn btn-brand btn-block btn-checkout text-uppercase&#039; onclick=&#039;aipimOpenContactBox();&#039;&gt;Obtener ayuda&lt;/button&gt;&lt;/div&gt;"
                >
                    <img
                        class="disclaimers-bga"
                        src="/assets/imgs/site/begambleawareorg.png"
                    />
                </a>
                <a
                    href="/https://certify.gpwa.org/verify/betizen.org/"
                    onclick="return GPWAVerificationPopup(this)"
                    id="GPWASeal"
                    style="padding-top: 0; margin-right: 10px"
                    ><img
                        src="https://certify.gpwa.org/seal/betizen.org/"
                        onError="this.width=0; this.height=0;"
                        style="max-height: 30px"
                /></a>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" id="betizen-js-js-extra">
    /* <![CDATA[ */
    var bzTranslation = {
        acceptCookie:
            "Utilizamos cookies para mejorar su experiencia en Betizen, al continuar utilizando este sitio web, acepta dicho uso como se describe en nuestra pol\u00edtica de cookies.",
        acceptCookieBtnText: "Aceptar",
    };
    /* ]]> */
</script>