
<footer class="footer footer-horizontal footer-center text-base-content rounded p-10 gap-0">
    <nav class="flex flex-col md:flex-row gap-2 md:gap-5 mb-4">

        <div class="flex gap-3">

            {# Games #}
            <div class="dropdown dropdown-top dropdown-end hover:underline">
                <div tabindex="0" role="button" class="cursor-pointer flex items-center md:text-lg">
                    {{ languages[page.lang].footerNav.games.name }}
                    <i data-lucide="chevron-down" class="h-4"></i>
                </div>
                <ul
                    tabindex="0"
                    class="menu dropdown-content bg-base-200 rounded-box z-1 mt-4 w-52 p-2 shadow-sm">
                        {% for item in categories[page.lang] %}

                            <li>
                                <a href="{{ item.url }}">
                                    {{ item.text }}
                                </a>
                            </li>

                        {% endfor %}                
                </ul>
            </div>

            <a class="hover:underline md:text-lg" title="Afiliados" href="{{ '/programas-de-afiliados/' | locale_url }}">
                {{ languages[page.lang].texts.affiliates }}
            </a>
          
        </div>
            
        <div class="flex gap-3 md:gap-5">
            {# <a class="hover:underline md:text-lg" href="{{ '/blog/' | locale_url }}" class="link link-hover">
                {{ languages[page.lang].footerNav.blog.name }}
            </a> #}
            
            <a class="hover:underline md:text-lg" title="Afiliados" href="{{ '/proveedores/' | locale_url }}">
                {{ languages[page.lang].texts.providers }}
            </a>  

            <a href="{{ config.links.mediaKit }}" target="_blank" rel="nofollow noopener" class="hover:underline md:text-lg">
                Media Kit
            </a>

            <a href="{{ config.links.roadmap }}" target="_blank" rel="nofollow noreferrer noopener" class="hover:underline md:text-lg">
                Roadmap
            </a>            
        </div>



    </nav>
    <div class="flex flex-col gap-3 my-3">
        <img
            width="30"
            class="disclaimers-18plus"
            src="/assets/imgs/site/18-plus.png"
        />
        <a
            class="mt-0 pt-0"
            href="https://www.begambleaware.org/"
            target="_blank"
            rel="nofollow"
        >
            <img
                width="150"
                class="disclaimers-bga"
                src="/assets/imgs/site/begambleawareorg.png"
            />
        </a>
        <a
            href="https://certify.gpwa.org/verify/betizen.org/"
            onclick="return GPWAVerificationPopup(this)"
            id="GPWASeal"
            style="padding-top: 0; margin-right: 10px"
            ><img
                src="https://certify.gpwa.org/seal/betizen.org/"
                onError="this.width=0; this.height=0;"
                style="max-height: 30px"
        /></a>
    </div>
    <aside>
        <p>Betizen.org &bull; 2018 - {% currentYear %} &bull; 
            <a href="https://github.com/minimo-io/betizen-ssg" class="font-bold hover:underline" target="_blank" rel="noopener noreferrer">
                v2.1.5
            </a>
            &bull; 
            <span>Powered by <a class="font-bold" href="https://www.futurewise.lat/" target="_blank" rel="noopener noreferrer">Futurewise</a></span>
        </p>
    </aside>
</footer>