<div class="mt-4">
    <div class="aipim-promo-box-subscribe">
        <div class="row align-items-center">
            <div class="col col-md-12 px-3 pl-md-1 mt-2">
                <div
                    class="alert alert-warning knowledge-base alert-dismissible fade show"
                    role="alert"
                >
                    <div class="container">
                        <div class="row">
                            <div
                                class="col-12 col-md-3 text-center aipim-promo-box-subscribe-image-box"
                            >
                                <img
                                    src="{{ metadata.images.site }}present-2.webp"
                                />
                            </div>
                            <div class="col">
                                <h4
                                    class="alert-heading alert-knowledge-category text-center text-md-left text-uppercase"
                                >
                                    ¿Quieres 20 giros gratis
                                    <span
                                        style="
                                            text-decoration: underline;
                                        "
                                        >sin depósito</span
                                    >?
                                </h4>
                                <div
                                    class="Xd-none d-md-block mb-4"
                                >
                                    <p
                                        class="Xd-none d-md-block aipim-promo-box-subscribe-text"
                                    >
                                        <span class="d-none"
                                            >Ingresa al grupo de
                                            WhatsApp de Betizen y
                                            solicita los código
                                            promocionales para jugar
                                            sin depósito en
                                            <a
                                                href="../casino/slotvibe/index.html"
                                                >SlotVibe</a
                                            >.</span
                                        >
                                        <span class="Xd-none"
                                            >Haz clic a continuación
                                            y accede a nuestro bono
                                            exclusivo en
                                            <a
                                                href="../casino/slotvibe/index.html"
                                                >SlotVibe</a
                                            >.</span
                                        >
                                        <span
                                            class="Xd-none Xd-md-inline"
                                            >Sin spam. Sin engaños.
                                            Sólo códigos promociones
                                            para sacar el máximo
                                            rendimiento a tus
                                            apuestas.</span
                                        >
                                    </p>
                                </div>

                                <a
                                    target="_blank"
                                    rel="nofollow noreferrer"
                                    href="../visit/slotvibe/index.html"
                                    class="btn btn-lg mb-1 btn-knowledge btn-round btn-md-block Xd-none d-md-inline-block mt-sm-1"
                                    ><i
                                        class="fa fa-gift mr-1"
                                        aria-hidden="true"
                                    ></i
                                    >¡Sí! Llévame a ese bono</a
                                >
                            </div>
                        </div>
                    </div>
                    <button
                        type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="Close"
                    >
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>