<div class="grid grid-cols-2 md:grid-cols-4 gap-4 mb-5">
  <div class="stat bg-primary/20 text-primary-content rounded-box">
    <div class="stat-title text-primary-content/70">Sites</div>
    <div class="stat-value">100+</div>
    <div class="stat-desc text-primary-content/70">Reviewed</div>
  </div>

  <div class="stat bg-secondary/20 text-secondary-content rounded-box">
    <div class="stat-title text-primary-content/70">Users</div>
    <div class="stat-value">10K+</div>
    <div class="stat-desc text-primary-content/70">Trusting us</div>
  </div>

  <div class="stat bg-accent/20 text-primary-content rounded-box">
    <div class="stat-title text-primary-content/70">Karma distributed</div>
    <div class="stat-value">500+</div>
    <div class="stat-desc text-primary-content/70">Honest and real</div>
  </div>

  <div class="stat bg-success/20 text-primary-content rounded-box">
    <div class="stat-title text-primary-content/70">Countries</div>
    <div class="stat-value">3</div>
    <div class="stat-desc text-primary-content/70">Listings</div>
  </div>  

</div>
