<div class="text-center text-bold" style="background: #d5dce5;border-radius:4px;">
    {% if languages[page.lang].promo.url %}
        
        <div class="py-2 text-uppercase">
            <a href="{{ languages[page.lang].promo.url }}" target="_blank" rel="nofollow noopener noreferrer">
                {{languages[page.lang].promo.cta}}
            </a>
        </div> 
        
    {% endif %} 
</div>

{%- set gameCategoryBaseName = tags[tags.length - 1] -%}
{%- set gameCategoryUrl = "/" -%}
{% if languages[page.lang]["categories"][gameCategoryBaseName] %}
    {%- set gameCategoryUrl = languages[page.lang]["categories"][gameCategoryBaseName].url -%}
    {%- set gameCategoryName = languages[page.lang]["categories"][gameCategoryBaseName].name -%}
{% endif %}

<div class="theme-description__list__item">
    <span class="theme-description__item__title">Categoría</span>
    <a href="{{ gameCategoryUrl }}">{{ gameCategoryName or gameCategoryBaseName }}</a>
</div>
<div class="theme-description__list__item">
    <span class="theme-description__item__title">Proveedor</span>
    <span
        ><a href="{{ provider.url }}">{{ provider.name }}</a></span>
</div>
<div class="theme-description__list__item">
    <span class="theme-description__item__title">Lanzamiento</span>
    <span>{{ launch }}</span>
</div>
{# <div class="theme-description__list__item align-items-center">
    <span class="theme-description__item__title">¿Preguntas?</span
    ><a
        class="btn btn-xs btn-outline-brand btn-customcolor-outline btn-sidebar"
        href="mailto:mail@betizen.org"
        >Contáctanos</a
    >
</div> #}
<div class="banner-side mt-3 text-center">
    <center>
        <a href="{{ languages[page.lang].promo.url }}" target="_blank" rel="nofollow noopener noreferrer">
            <img alt="banner-250x250" src="{{ languages[page.lang].promo.external_250x250 | safe }}" />
        </a>
        
    </center>
</div>
