<div
    class="container casino-featured casino-single-featured"
    style="margin-top: 1%"
>
    <div class="row">
        <div class="col-6 col-sm">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">
                        RTP
                        <a href="{{ '/blog/que-es-el-rtp-en-las-tragamonedas/'  | locale_url }}"
                            ><sup
                                ><i
                                    class="fa fa-info-circle"
                                    aria-hidden="true"
                                ></i></sup
                        ></a>
                    </h5>
                    <p class="card-text display-4">{{ game.rtp or "-" }}</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">
                        {{ languages[page.lang].texts.type }}
                    </h5>
                    <p class="card-text display-4 text-truncate">
                        {{ game.type or "-" }}
                    </p>
                </div>
            </div>
        </div>
        

        <div class="col-6 col-sm mt-3 mt-sm-0">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title text-truncate">{{ languages[page.lang].texts.minMaxBets }}</h5>
                    <p class="card-text display-4">{{ game.minMaxBet or "-" }}</p>
                </div>
            </div>
        </div>


        {% if game.maxWin and game.maxWin != "-" %}
            <div class="col-6 col-sm-12 mt-sm-0">
                <div class="card mt-3 mt-md-3">
                    <div class="card-body text-center">
                        <h5 class="card-title text-truncate">{{ languages[page.lang].texts.maxWin }}</h5>
                        <p class="card-text display-4">{{ 'x' + game.maxWin }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
