<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div
            class="modal__container"
            role="dialog"
            aria-modal="true"
            aria-labelledby="modal-1-title"
        >
            {# <header class="modal__header">
                <h2 class="modal__title" id="modal-1-title">Micromodal</h2>
                <button
                    class="modal__close"
                    aria-label="Close modal"
                    data-micromodal-close
                ></button>
            </header>  #}

            <main class="modal__content" id="modal-1-content"></main>

            <footer class="modal__footer pt-1">
                <a target="_blank" rel="nofollow noopener" href="{{ languages[page.lang].promo.url }}" class="modal__btn modal__btn-primary">{{languages[page.lang].promo.cta}}</a>
                <button
                    class="modal__btn"
                    data-micromodal-close
                    aria-label="Close this dialog window">
                    x
                </button>
            </footer>
        </div>
    </div>
</div>
<script>
    var game_code = '<iframe src="{{ iframe }}" frameborder="0" allow="autoplay;" autoplay=""></iframe>';
    $(document).ready(function () {
        $(".btn-play-now").click(function () {
            $("#modal-1-content").html(game_code);
            MicroModal.show("modal-1"); // [1]
        });
    });
</script>