<h2 class="relatedGamesBoxTitle globalH2">
    Otros juegos gratuitos de
    <a class="opacity-8 dotted-3" href="{{ provider.url }}">{{
        provider.name
    }}</a>
</h2>
<ul class="list-unstyled row relatedGamesBoxList">
    {% for providerGame in collections.games | forProvider( provider.url, page.lang )  %}
        <li class="list-item col-4 border-top py-1 text-truncate">
            <a
                title="{{ providerGame.data.title | slugify }}"
                href="{{ providerGame.data.slug }}"
                >{{ providerGame.data.title }}</a>
        </li>
    {% endfor %}
</ul>
