---
date: "2021-09-30T14:30:15+00:00"
slugOverride: premios-instantaneos-tutan-keno
tags: [instant]
title: "Tutan Keno"
description: "No será todavía el juego del bicho pero Tutan Keno de 1x2Gaming con sus escarabajos mágicos, sin gráficos deslumbrantes, hacen un keno correcto y jugable para los amantes de los números."
featured: true
launch: 2016
provider:
    name: "1x2 Gaming"
    url: "/proveedor/1x2-gaming/"
game:
    ranking: 29
    score: 4
    paylines: 80
    volatility: "Baja"
    rtp: "92.84%"
areas:
    prizes: "average"
    functions: "average"
    theme: "average"
iframe: https://1x2networkhub.com/f1x2games/loadGame.jsp?platform=desktop&display=flash&gameID=2063&lang=es&sessionID=0&playMode=fun&siteID=13&jurisdiction=&realitycheck_uk_elapsed=0&realitycheck_uk_limit=0&realitycheck_uk_proceed=http://&realitycheck_uk_exit=http://&realitycheck_uk_history=http://&realitycheck_uk_autospin=http://&lobbyUrl=https://www.betizen.org/juego/premios-instantaneos-tutan-keno/&demo=1x2gaming&end=true
---

<h2 id="premios" class="contentIndexTitle mb-1">Premios, RTP y volatilidad&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Medio</span></h2><h3 class="contentIndexSubTitle">Tutan Keno es el juego de números que inaugura la categoría de pagos instantáneos en Betizen. Un juego con un premio máximo de hasta $10.000 y apuesta mínima de $0,1.</h3>
<p>Con <strong>Tutan Keno</strong> abrimos en Betizen una nueva categoría de juegos, aquellos especialmente diseñados para cuando no queremos enfrascarnos en un viaje para muchos aburrido de elaborar complicadas estrategias de juego, sean apuestas deportivas, <a href="/juegos/ruleta/">juegos de ruleta</a> o inclusive cuando se trata de <a href="/juegos/tragamonedas/">slots online</a> donde la amplia variedad de tragamonedas y mecánicas de juego pueden abrumarnos. </p>
<p>Consideradas un paso mas en la sencillez cada vez mas necesaria hacia la que muchos desean llevar sus apuestas online es que aparecen los juegos de Ganancias Instantáneas, con juegos de Keno y Raspaditas. Siendo Tutan Keno el primer representante de un juego de <strong>keno</strong> que subimos al catálogo.</p>
<p>Al ser juegos extremadamente sencillos tal vez existan menos cosas que contar sobre los mismos. Por suerte, como hemos descubierto recientemente 1x2Gaming sí nos ofrece algunos datos relevantes de sus juegos como apuestas mínimas y máximas que en Tutan Keno se encuentra entre los $0,1 y los $20, un rango que nos ha dejado sorprendidos para un juego de apuestas tan rápidas como un keno. </p>
<p>Las ganancias máximas del juego por otro lado ascienden a los $10.000, un monto mas que interesante, lo cual según nuestro cálculo dejaría a este juego en el rango de los x500 de exposición máxima.</p>
<p>Eso sí, una nota sobre el RTP o Retorno del Dinero al jugador presente en el Keno que en cuestión y es que tiene un promedio de 92,84%. Repetimos que eso es un valor promedio, algo realmente bajo si tenemos en cuenta por ejemplo que el promedio de una maquinita tragamonedas es de 96% y que un valor de 95% ya es suficiente para que desde Betizen levantemos una ceja como quedó claro en el análisis sobre <a href="/juego/tragamonedas-infierno-del-fenix/">Infierno del Fénix</a> publicado recientemente.</p>
<p>Pero eso no es todo, si hablamos que Tutan Keno tiene un RTP promedio muy bajo, ¿qué pensar si les informamos que su valor de RTP mínimo es tan bajo como 87,5%?</p>
<p>Poco para comentar, la rapidez y lo instantáneo se paga de alguna manera costosa en cuanto a premios. <br>Eso sí, la frecuencia de premios en mecánicas como esta hacen que rara vez nos quedemos sin disfrutar de algún premio.</p>
<h2 id="funciones-y-mecanica" class="contentIndexTitle mb-1">Funciones y mecánica&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Medio</span></h2><h3 class="contentIndexSubTitle">Elige hasta 15 números del 1 al 80 y espera a que 20 de los míticos escarabajos egipcios te traigan sus riquezas en este juego de keno de 1xGaming</h3>
<p>Quienes estén en esta página probablemente ya conozcan la dinámica básica de un <strong>juego de keno</strong>, no hay demasiado para explicar de ella ya que como todos los juegos instantáneos el funcionamiento es super sencillo. De todas maneras el público siempre se renueva y bien vale explicarlo.</p>
<p>Un juego de keno tiene un rango de números disponibles sobre los que posicionar nuestras apuestas (de ahí que también se les llame juegos de números, para diferenciarlos de los tragamonedas o demás juegos de mesa). En el caso de <strong>Tutan Keno</strong> estos números irán desde el 1 al 80. </p>
<p>En él vamos a poder apostar como mínimo a 1 sólo número y como máximo a 15, con la consecuencia que mientras mas casillas de números vamos eligiendo mas altas serán nuestras posibilidades de obtener premios elevados. <br>Así por ejemplo en la apuesta máxima de 20, si elegimos 1 número tendremos un premio de 20 en el caso de conseguirlo, es decir sólo recuperaremos nuestra apuesta, con 1/80 posibilidades de obtenerlo, pero si apostamos a dos números obtendremos un premio máximo de 190 es decir casi 10 veces mas que con una apuesta. </p>
<p>Así crecerá sucesivamente nuestro premio potencial hasta alcanzar el máximo de 10.000 al que podremos llegar en el juego. </p>
<p>Una vez que nuestros números estén seleccionados sobre el tablero y le demos jugar, nuestra suerte dependerá de 20 escarabajos egipcios que volarán hacia los números del tablero. </p>
<p>Y ese señoras y señores es el funcionamiento de un juego instantáneo como Tutan Keno, con una temática que repasaremos a continuación. Un juego de números que se asemeja en algo (aunque no tanto respecto a sus premiaciones y posibilidades) a los juegos de <a href="/juegos/video-bingo/">video-bingo</a>.</p>
<h2 id="tematica" class="contentIndexTitle mb-1">Temática y diseño&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Medio</span></h2><h3 class="contentIndexSubTitle">No será todavía el juego del bicho pero Tutan Keno de 1x2Gaming con sus escarabajos mágicos, sin gráficos deslumbrantes, hacen un keno correcto y jugable para los amantes de los números.</h3>
<p>Ya sabemos de la popularidad de los <a href="#">juegos de temática egipcia</a>, y en particular hemos detectado en Betizen cómo estos juegos se vuelven crecientemente populares a menos volatilidad y mas sencillez. Como si estos tesoros egipcios y faraones hubieran encantado a un segmento de jugadores ávidos por este tipo de entretenimiento.</p>
<p>Los juegos de Keno, como todo juegos instantáneos vienen con &#8220;trampa&#8221;, ya que en el mundo de las apuestas a menor incidencia del jugador, mas expuestos estamos a valores de retorno de dinero cada vez mas bajos. Pero dejando eso de lado vamos a lo que nos convoca en esta sección.</p>
<p>Tutan Keno es un juego correctamente diseñado, aunque luego de haber realizado la pre-selección de juegos que publicaremos en la categoría de Ganancias Instantáneas, podemos decir que al lado de maravillas de diseño de otros proveedores Tutan de 1&#215;2 Gaming es un Keno que se queda corto en términos visuales, repetimos, a pesar de ser correcto.</p>
<p>En definitiva, otro juego ambientado en Egipto que se agrega al catálogo y que estrena categoría.<br>Para los amantes de los números, no será el juego del bicho pero se va acercando 😉 </p>
