---
date: "2021-08-06T18:06:00+00:00"
slugOverride: tragamonedas-manzana-envenenada-2
tags: [slot]
title: "Manzana Envenenada 2"
description: "El slot Manzana Envenenada 2 de Booongo es para aquellos que quieran revivir aquellos hermosos cuentos de la infancia. Como juego, uno mas, con multiplicadores (x10), comodines y giros gratuitos."
launch: 2019
provider:
    name: "Booongo"
    url: "/proveedor/booongo/"
game:
    ranking: 48
    score: 4
    maxWin: 1200
    paylines: 20
    volatility: "Baja/Media"
    rtp: "96.25%"
areas:
    prizes: "average"
    functions: "average"
    theme: "good"
iframe: https://booongo.com/play/poisoned_apple_2/?lang=es
---

<h2 id="premios" class="contentIndexTitle mb-1">Premios, RTP y volatilidad&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Medio</span></h2><h3 class="contentIndexSubTitle">El tragamonedas Manzana Evenenada 2 trae pocos de los atractivos que hace a los juegos de Booongo interesantes. Sin pozos, ni curiosidades, estamos ante un slot correcto y promedio.</h3>
<p>El tragamoneda Manzana Envenenada 2 o por si título original &#8220;<em>Poisoned Apple 2</em>&#8221; es el anteúltimo juego de Booongo Games que analizamos en Betizen en esta tanda de <strong><a href="/juegos/tragamonedas/">slots gratis</a></strong>. </p>
<p>Debemos recordar o mejor dicho comentarles por primera vez que Betizen progresa sin parar, y que luego de llegado a completar un total de 500 juegos en el catálogo para español nos dedicaremos a mejorar las funciones del sitio. Solo por poner un ejemplo, queremos darles la posibilidad de que en la sección correspondiente a <a href="/bonos/">bonos y promociones</a> podamos filtrar los bonos de depósito de los <strong>bonos sin depósito</strong>, de los de segundo depósito, etc.</p>
<p>Pero eso será tema de otro artículo de anuncio en nuestro <a href="/blog/">blog</a>. Por el momento nos queda continuar trabajando duro en el análisis de los mejores tragamonedas online.</p>
<p>Y el caso de hoy es interesante por curioso, en el sentido de que este juego precisamente tiene pocas curiosidades, sino que mas bien es un slot promedio que perfectamente podrá pasar desapercibido. Ya sabemos que los slots de Booongo no destaca por su transparencia. Con suerte sabremos de algunos su RTP, lo demás queda por nuestra cuenta y experiencia.</p>
<p>En definitiva estamos ante un tragamonedas que nos permitirá multiplicar nuestra apuesta de giro hasta x1200 veces, lo que lo ubica en el entorno de los tragamonedas de volatilidad Media/Baja. </p>
<p>Como es usual en Booongo que es conocido por crear juegos entre modernos y clásicos, Manzana Envenenada 2 tiene 20 lineas de pago fijas y un rango de apuestas que van desde una apuesta mínima de tan solo $0.02 (recuerda que Booongo tiene juegos con apuestas mínimas que llegan a tan solo $0.1, accede a ellos desde <a href="/proveedor/booongo/">aquí</a>), y una apuesta máxima que asciende a $60. Un estándar para este proveedor.</p>
<p>A diferencia de otros juegos de Booongo el slot Poisoned Apple 2, que como veremos está basado en el clásico de Disney <strong><a href="https://es.wikipedia.org/wiki/La_bella_durmiente" target="_blank" rel="noreferrer noopener">La bella durmiente</a></strong>, en este caso no tendremos los famosos jackpots o pozos acumulados del proveedor y deberemos conformarnos con un juego bastante promedio en lo que a premios se refiere.</p>
<h2 id="funciones-y-mecanica" class="contentIndexTitle mb-1">Funciones y mecánica&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Medio</span></h2><h3 class="contentIndexSubTitle">Booongo lo intentó todo con el tragamonedas Manzana Envenenada 2, comodines, multiplicadores de giros gratuitos, un juego de ruleta donde se decide nuestra suerte y la posibilidad de comprar el juego de bono. </h3>
<p>Como toda tragamonedas que no se atreve a innovar Manzana Envenenada 2 cae en los mismos lugares comunes que la mayoría de los <a href="/juegos/tragamonedas/">tragamonedas online</a>. </p>
<p>Así en <em>Poisoned Apple 2</em> tendremos por supuesto los mega conocidos símbolos Wild o Comodines, que nos harán el favor de sustituir a todos los símbolos del juego con excepción de los Scatter, y que además será el símbolo del juego que nos hará acreedores de los mayores premios, si nos referimos a la simple comparación de símbolos.</p>
<p>El el rodillos número 3 el símbolo Wild o Comodín se comportará de una forma especial y activará la función Comodín Espejo o &#8220;<em>Mirror Wild</em>&#8220;. Mediante esta función que hace referencia a la película de Disney, los símbolos de comodín que haya aparecido en los rodillos 1 y 2, se espejarán y replicarán en los rodillos 4 y 5. </p>
<p>Esta función estará vigente tanto en el juego principal como durante los giros gratuitos.</p>
<p>Y hasta allí va todo intento de innovación del tragaperras Manzana Envenenada 2.</p>
<p>Luego pasarmos a los Scatters y su relación con los giros gratuitos. Y esta relación es la siguiente: Para acceder a los giros gratuitos vamos a necesitar 3 símbolos Scatter o Dispersión. Estos aparecerán únicamente durante el juego principal en los rodillos 1, 3 y 5. Y hasta donde estamos informados y a diferencia de muchos otros tragamonedas donde los Scatters tienen premios por sí mismos, como en <a href="/juego/tragamonedas-hit-the-gold/">Hit the Gold</a> de la propia Booongo o en <a href="/juego/tragamonedas-1001-giros/">1001 Giros de Platipus</a>.</p>
<p>Al inicio de estos giros gratuitos o &#8220;<em>free spins</em>&#8221; se va a presentar ante nosotros una rueda de la fortuna que va a ser la encargada de elegir aleatoriamente por nosotros la cantidad de giros gratuitos que nos otorgará el juego. Esto puede considerarse una curiosidad que nos ayuda a salir un poco de la monotonía general del juego en el sentido que normalmente ocurre que la cantidad de giros gratuitos irá relacionada a la cantidad de símbolos Dipersión obtenidos. En este caso ese golpe de suerte o mala suerte se corre a una atractiva rueda de la fortuna.</p>
<p>Amontonando funciones Booongo nos ofrece además otra posibilidad. La de multiplicadores durante estos giros. Comenzaremos la serie de <em>free spins</em> con un multiplicador x1 y este irá incrementándose progresivamente tras cada uno de los giros pudiendo llegar a un máximo de x10.</p>
<p>Este es un nuevo intento de Booongo de mantenernos interesados en el juego y podemos decir que en ciertos momentos efectivamente lo logra.</p>
<p>Finalmente la función de <strong>Compra de Bono</strong>. Una polémica que no tiene fin en el mundo de <a href="/casinos/">casas de apuestas online</a> pero que está allí. Esta función nos permitirá comprar la función de giros gratuitos por el costo de 90 apuestas totales, por lo que este costo está vinculado naturalmente a nuestra elección de valor de apuesta.</p>
<p>Algo que sí sabemos gracias a esta función y que se detalla en la pantalla de información del juego es que durante los giros gratuitos comprados de esta manera el RTP del juego asciende a 96.25%.</p>
<h2 id="tematica" class="contentIndexTitle mb-1">Temática y diseño&nbsp;<span class="badge badge-success badge-pill">&#10003; Bueno</span></h2><h3 class="contentIndexSubTitle">Si bien estamos ante un tragamonedas mas del montón, Manzana Envenenada 2 se une a la categoría de slots de cuentos. Además con una encantadora ambientación sonora que nuestros oídos agradecen. </h3>
<p>Son muchas las tragamonedas basadas en cuentos infantiles. De hecho sabemos que son tantos que en esta etapa de Betizen hemos decidido crear una categoría especial para los <a href="#">Tragamonedas de Cuentos</a>. Algunos de ellos son por ejemplo <a href="/juego/tragamonedas-pinocho/">Pinocho de Betsoft</a> o los <a href="/juego/tragamonedas-7-enanitos-de-la-suerte/">7 Enanitos de la Suerte</a>, pero sin dudas vendrán muchos mas y a ellos se le suma ahora el slot Manzana Envenenada 2, basado en <a href="https://es.wikipedia.org/wiki/Snow_White_and_the_Seven_Dwarfs" target="_blank" rel="noreferrer noopener">Blancanives y los Siete Enanitos</a>, un cuento muy antiguo pero que fuera popularizado por la <a href="https://www.youtube.com/watch?v=5fzZFQBXSLM" rel="noreferrer noopener nofollow" target="_blank">película de Disney del año 1937</a>.</p>
<p>El juego cae dentro de la categoría de &#8220;uno mas&#8221;, a pesar de sus intentos interesantes de agregarle un poco de sal y pimienta a funciones mega trilladas como los scatters y los giros gratuitos que se deciden por una rueda de la fortuna. Por lo demás un slot mas, con multiplicadores, apetecible para aquellos que quieran revivir en un slot con aquellos hermosos cuentos de nuestra infancia.</p>
<p>Algo que efectivamente podemos destacar de este tragamonedas sin embargo es su excelente ambientación sonora. Un apartado en el que por lo general Booongo no suele fallar y que es de agradecer. Nada peor que un juego que luego de 5 minutos nos satura con sus sonidos estridentes y molestos. En este sentido <em>Poisoned Apple 2</em> nos regala una ambientación entre épica y de cuento de hadas.</p>
