---
date: "2020-09-25T20:24:04+00:00"
slugOverride: tragamonedas-book-of-dead
tags: [slot]
title: "Book of Dead"
description: "Vamos a responderte porqué el tragamonedas Book of Dead se ha vuelto el slot de egipto mas popular de los últimos tiempos. ¡Probalo gratis!"
launch: 2016
provider:
    name: "Play'n GO"
    url: "/proveedor/playn-go/"
game:
    ranking: 243
    score: 4
    paylines: 10
    volatility: "Alta"
    rtp: "96.21%"
areas:
iframe: https://caocw.playngonetwork.com/casino/PlayMobile?pid=2&gid=bookofdeadmobile&lang=es_ES&practice=1
---

<h2 class="wp-block-heading">Reseña del tragamonedas Book of Dead</h2>
<ul><li><a href="#premios">Premios, RTP y volatilidad</a></li><li><a href="#funciones-en-book-of-dead">Funciones y mecánica</a></li><li><a href="#tematica">Temática y diseño</a></li></ul>
<h2 class="wp-block-heading" id="premios">Premios, RTP y volatilidad</h2>
<p>Desde su lanzamiento en el 2016 este tragamonedas de 10 lineas de pago variables, alta volatilidad y RTP promedio de 96,21% ha sido un éxito arrollador entre jugadores. ¿Porqué? Veamos.</p>
<p>Para comenzar el premio máximo en el tragamoneda Book of Dead es de 250.000 monedas. Con símbolos especiales que pagan 5000 monedas, 2000 y 750 monedas y que son otro indicio de su <a href="/blog/que-es-la-volatilidad-de-las-tragamonedas/">alta volatilidad</a>. Lo que hace de Book of Dead un slot que promete ganancias serias (y también riesgos) y explica su popularidad.</p>
<p>En el tragamonedas Book of Dead podremos elegir apostar entre 1 y 5 monedas por línea, y los valores permitidos por moneda van desde $0.01 hasta $1.00 por línea. Recuerda que en Book of Dead las líneas que queremos apostar son variables y podremos elegirlas en la sección de configuración del juego.</p>
<p>Estas combinaciones permitan una apuesta máxima de $50 y una apuesta mínima de tan solo $0.01. Este rango tan amplio y las posibilidades de un juego sencillo pero pagador es otra de las casas que permiten explicar la extrema popularidad que ha ganado Book of Dead desde su lanzamiento.</p>
<p>Finalmente recuerda que los pagos en Book of Dead se calculan de izquierda a derecha como es tradicional en los tragamonedas online, salvo en el caso de los símbolos especiales que se cuentan en cualquier dirección.</p>
<h2 class="wp-block-heading" id="funciones-en-book-of-dead">Funciones y mecánica</h2>
<p>El tragamonedas Book of Dead no es de esos juegos cargados de funciones innecesarias, sino que con algunas características interesantes logra un slot balanceado y atractivo.</p>
<p>En este juego el símbolo del Libro de los muertos (Book of Dead) funciona como Scatter y Comodín (Wild) al mismo tiempo. Cuando obtengamos tres de estos símbolos vamos a disparar la función principal de tragamonedas en la que recibiremos 10 giros gratuitos. </p>
<p>Antes de comenzar estos giros gratuitos el juego seleccionará aleatoriamente un símbolo que va a actuar como &#8220;Símbolo de Expansión&#8221;. Esta es otra características interesantes de la pantalla de giros gratuitos.</p>
<p>Los Símbolos de Expansión nos ayudan a ganar premios (unicamente dentro de los giros gratuitos), ya que cuando uno de estos símbolos está en alguna linea activa se expanden para cubrir las posiciones de todos los rodillos involucrados. </p>
<p>Adicionalmente Book of Dead viene con la función de Cobrar o Multiplicar que se activa después de cada giro ganador. En esta vamos a poder elegir si cobrar nuestras ganancias o jugar una ronda de cartas donde vamos a poder apostar nuestro premio y multiplicarlo x2 o x4 o perderlo todo.</p>
<p>Otra característica interesante para los arriesgados y que suman a la emoción que da un tragamonedas sencillo pero que logra un correcto balance entre posibilidad de ganancias y costos.</p>
<h2 class="wp-block-heading" id="tematica">Temática y diseño</h2>
<p>El <a href="#">Antiguo Egipto</a>, sus misterios y tesoros ha sido una de las temáticas favoritas desde los comienzos de los tragamonedas mecánicos. Y por lo tanto en el mundo de juegos online, derivado de aquellos inicios los tragamonedas de esta temática abundan, pero solo algunos destacan particularmente.</p>
<p>En el caso del tragamonedas Book of Dead a pesar de un lanzamiento relativamente reciente (si lo comparamos por ejemplo con el clásico de clásicos de la temática como <a href="/juego/tragamonedas-cleopatra/">Cleopatra de IGT</a> lanzado en el 2012) se ha vuelto particularmente querido y popular desde que <a href="/proveedor/playn-go/">Play n&#8217; Go</a> lo lanzara a los casinos el 2016. </p>
<p>Tanto es así que lo podemos encontrar en casi todas las secciones de juegos Populares de los casinos online. ¿Porqué tanto alboroto por otro juego ambientado en Egipto?</p>
<p>El tragamonedas Book of Dead o Libro de los Muertos se mantiene fiel a aquello que hace clásicos a los juegos de slots, un diseño atractivo pero sencillo, símbolos bien diseñados y bien ejecutados, la posibilidad de configurar la velocidad de giros o de automatizarlos, pero sobre todo uno que no nos molesta con efectos lentos o ambientaciones que distraen sino que se concentra en ofrecer una dinámica ágil y emociones en cada giro. </p>
