---
slugOverride: tragamonedas-gemas-heladas
tags: [slot]
title: "Gemas Heladas"
description: "El tragamonedas Gemas Heladas es un juego de 5 rodillos, 3 filas de alta volatilidad con un RTP 96.03% y una posible ganancia de USD$ 121,050!"
launch: 2018
provider:
    name: "Just for the Win"
    url: "/proveedor/just-for-the-win/"
game:
    ranking: 162
    score: 4
    maxWin: 121050
    paylines: 20
    volatility: "Alta"
    rtp: "96.03%"
areas:
    prizes: "average"
    functions: "average"
    theme: "average"
iframe: https://redirector32.valueactive.eu/Casino/Default.aspx?applicationid=4023&amp;sext1=demo&amp;sext2=demo&amp;serverid=22619&amp;gameid=icyGemsDesktop&amp;ul=es&amp;variant=UAT-demo
---

<p>El tragamonedas Gemas Heladas es un vídeo slot de alta <a href="/blog/que-es-la-volatilidad-de-las-tragamonedas/">volatilidad</a> y un <a href="/blog/que-es-el-rtp-en-las-tragamonedas/">RTP</a> de 96.03% que cuenta con un total de 20 líneas de pago. Si bien no cuenta con giros gratuitos, si nos ofrece una modalidad de almacenamiento de símbolos y bonificaciones Re-spin y Superspin que nos garantiza llevarnos hasta USD$121,050!</p>
<h2 id="premios" class="contentIndexTitle mb-1">Premios, RTP y volatilidad&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Medio</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>El tragamonedas Gemas Heladas es un juego de 5 rodillos y 3 filas con un total de 20 líneas de pago. El RTP o retorno de dinero al jugador es de 96.03%, con un promedio de obtención de ganancia del 24.06% y una clasificación de volatilidad alta. El mínimo de apuesta es de USD$ 0.10 y la máxima de USD$ 100, garantizándonos una posible ganancia de 1210.5 veces nuestra apuesta.</p>
<p>Just for the win nos presenta esta vez la modalidad de SYMBOL STORAGE o almacenamiento de símbolos, el cual consiste en que almacenara los símbolos de la última combinación ganadora en un recuadro con 3 posiciones libres ubicada en la parte derecha del juego.</p>
<p>El símbolo de la primera combinación ganadora será almacenada en la posición 1 y se activara la bonificación Re-spin el cual otorgara un giro adicional. En caso obtengamos otra combinación ganadora el símbolo de esta será almacenada en la posición 2 y se otorgara otro giro y en caso este obtuviera una combinación ganadora, el símbolo será almacenado en la posición 3.</p>
<p>La bonificación Superspin es la continuación de la bonificación Re-spin y consta de un giro, donde solo los símbolos almacenados aparecerán en los rodillos y tendrá 3 diferentes modalidades dependiendo a los símbolos almacenados:</p>
<p>Por 3 diferentes símbolos almacenados se activara el modo Silver, por 2 símbolos iguales se activara el modo Gold y por 3 símbolos iguales se activara el modo Win Big, este último es el que nos garantiza la obtención de mayores ganancias ya que un solo símbolo ocupara todo los rodillos.</p>
<p>El tragamonedas Gemas Heladas cuenta con un total de 10 símbolos de valor: A, K, Q, J en distintos colores, una gema verde, una gema roja, una gema purpura, una gema celeste y el logotipo del juego ICY GEMS como el símbolo de mayor valor.</p>
<p>El comodín está representado con una W y la inscripción WILD ambos de color dorado. Comodines sustituyen todos los símbolos pero no son elegibles para el modo SYMBOL STORAGE o de almacenamiento de símbolos.</p>
<h2 id="funciones-y-mecanica" class="contentIndexTitle mb-1" ">Funciones y mecánica&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Medio</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>Just for the Win ha logrado que la funcionalidad de sus juegos sean de fácil manejo tanto para su uso en PC o dispositivos móviles; las siguientes opciones pueden ser ubicadas a continuación: &nbsp;</p>
<p>En la parte superior derecha de la pantalla visualizaremos 3 puntos que al ingresar nos mostrara un menú expandible de: información de símbolos, pagos, valores, procedimientos de obtención de bonificaciones y combinaciones de líneas ganadoras. Luego encontraremos un elemento de configuración avanzado de giros rápidos y un control de encendido y apagado del sonido.</p>
<p>En la parte derecha de la pantalla también encontraremos las opciones de Auto juego el cual nos permitirá configurar de 10 hasta 100 giros y monto de apuesta por giro. Una flecha dentro de un circulo nos indicara la opción de giro o jugar. Por último, en la parte inferior ubicaremos la información sobre nuestro balance actual, monto de&nbsp; última ganancia obtenida y apuesta del último giro.</p>
<h2 id="tematica" class="contentIndexTitle mb-1" ">Temática y diseño&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Medio</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>La sociedad de los desarrolladores <a href="/proveedor/just-for-the-win/">Just for the Win</a> y <a href="/proveedor/microgaming/">Microgaming</a> nos ha dado varios títulos los cuales pueden cumplir una función específica y en el caso del tragamonedas Gemas Heladas que fue lanzada en noviembre del año 2018 su labor es la de hacer honor al nombre de la compañía sueca… solo por la ganancia! Otras colaboraciones conjuntas que valen la pena probar son <a href="/juego/tragamonedas-tweet-hearts/">Tweet Hearts</a> o <a href="/juego/tragamonedas-reel-talent/">Reel Talent</a>.</p>
<p>Nos encontraremos con un juego básico y sencillo con una temática enfocada en resaltar los símbolos del juego que son las Gemas, las cuales brillan rodeadas de un diseño visual frío de tono azul el cual cambia de color durante la parte más emocionante del juego que es la bonificación Superspin, acompañado de un fondo musical muy relajante que casi llega a lo monótono.</p>
