---
slugOverride: tragamonedas-peaky-blinders
tags: [slot]
title: "Peaky Blinders"
description: "Los chicos malos de Birmigham llegaron de la mano de Pragmatic Play y el tragamonedas Peaky Blinders ofreciéndonos una ganancia de hasta 202,200 créditos y un 96.5% de RTP."
launch: 2020
provider:
    name: "Pragmatic Play"
    url: "/proveedor/pragmatic-play/"
game:
    ranking: 167
    score: 4
    maxWin: 2022
    paylines: 20
    volatility: "Alta"
    rtp: "96.5%"
areas:
    prizes: "average"
    functions: "average"
    theme: "average"
iframe: https://demogamesfree.pragmaticplay.net/gs2c/openGame.do?lang=es&amp;cur=USD&amp;gameSymbol=vs20pblinders&amp;websiteUrl=https%3A%2F%2Fdemogamesfree.pragmaticplay.net&amp;jurisdiction=99&amp;lobbyURL=https://www.betizen.org/juego/tragamonedas-peaky-blinders/
---

<p>Tragamonedas Peaky Blinders es una propuesta del desarrollador <a href="/proveedor/pragmatic-play/">Pragmatic Play</a> basada en la popular serie de televisión británica del mismo nombre. Un juego de alta volatilidad, un <a href="/blog/que-es-el-rtp-en-las-tragamonedas/">RTP</a> del 96.5% y la posibilidad de ganar hasta 202,200 créditos. &nbsp;</p>
<h2 id="premios" class="contentIndexTitle mb-1">Premios, RTP y volatilidad&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Medio</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>El tragamonedas Peaky Blinders es un juego de 5 rodillos y 3 líneas con el que podríamos obtener hasta 2022 veces nuestra apuesta jugando hasta un total de 20 líneas de pago y es considerado como uno de los juegos de más alta <a href="/blog/que-es-la-volatilidad-de-las-tragamonedas/">volatilidad</a> que ofrece Pragmatic Play. </p>
<p>El RTP o retorno de dinero al jugador es de 96.5% el cual nos da un grado de confianza que, al momento de recibir una combinación ganadora, será significativa. Si bien la apuesta mínima de US$ 0.20 supone sea accesible para todos, es recomendable que antes de intentar una apuesta probemos el juego en su modo gratuito y nos familiaricemos con su funcionalidad.</p>
<p>El tragamonedas Peaky Blinders nos presenta los siguientes símbolos: A, K, Q, J, 10. Además de los cuatro miembros de la familia Shelby: los hermanos Tommy y Arthur Shelby, Polly Gray y su hijo Michael Gray. El símbolo con la descripción WILD es el comodín, el cual podrá sustituir todos los símbolos con excepción de los scatters o dispersores.</p>
<p>Los 2 símbolos scatters o dispersores activaran una bonificación de giro al azar y solo aparecerán en el rodillo 5. El scatter “Shelby Betting Shop” otorgara premios solo a los símbolos de los 4 personajes del tragamonedas Peaky Blinders y adicionara los premios a las combinaciones ganadoras obtenidas. El scatter “By Order of the Peaky Blinders” mantendrá los símbolos de los 4 personajes que hayan aparecido y remplazara a todos por solo uno de los personajes elegido al azar obteniendo una ganancia de acuerdo a la combinación obtenida. &nbsp;</p>
<p>El juego cuenta con un símbolo “Peaky Blinder Bonus” el cual activara la bonificación de giros gratuito en los siguientes casos:</p>
<p>El primer caso se activara cuando aparezca en el rodillo 1 y 3 además del scatter “Shelby Betting Shop” en el rodillo 5 que otorgara 8 giros gratuitos. Durante los giros gratuitos aparecerán scatters “Shelby Betting Shop” adicionales los cuales premiaran y serán añadidas al total de la bonificación.</p>
<p>El segundo caso se activara cuando el “Peaky Blinder Bonus” aparezca en el rodillo 1 y 3 además del scatter “By Order of the Peaky Blinders” en el rodillo 5 que otorgara 10 giros gratuitos, en caso aparecieran scatters adicionales mantendrá los símbolos de los 4 personajes que hayan aparecido y remplazara a todos por solo uno de los personajes elegido al azar obteniendo una ganancia de acuerdo a la combinación obtenida. &nbsp;</p>
<h2 id="funciones-y-mecanica" class="contentIndexTitle mb-1" ">Funciones y mecánica&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Medio</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>En la parte inferior izquierda encontraremos la opción de configuración del juego que incluye el monto de apuesta por giro y opciones de sonido, efectos en incluso si se desea desactivar la opción de nuestra historia de juego. Dentro de la opción de Información se detallan los símbolos del juego y sus pagos, las reglas y detalles de líneas de pagos por combinaciones obtenidas y una guía detallada de la funcionalidad del juego. Además podremos ubicar el saldo actual de créditos y el monto apostado por giro.</p>
<p>En la parte inferior derecha encontraremos la opción de auto juego con el cual podremos seleccionar entre 10 hasta 100 giros automáticos , además de opciones tales como detener el auto juego en caso nuestro saldo disminuya a un monto establecido, detener el juego cuando se gana un monto o cuando nuestra banca se incrementa. Adicional encontramos los símbolos de apuestas en el lado derecho inferior, detallando la cantidad, valor y total de apuesta por línea a jugar. &nbsp;</p>
<p>El tragamonedas Peaky Blinder puede ser jugado desde cualquier dispositivo móvil y en el caso de ser utilizado desde una PC podrá utilizar las tecla barra espaciadora para iniciar o detener los giros durante el juego y manteniendola presionada podremos activar el modo de juego turbo spin.</p>
<h2 id="tematica" class="contentIndexTitle mb-1" ">Temática y diseño&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Medio</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>El tragamonedas Peaky Blinders de Pragmatic Play fue uno de los juegos más esperados de este año 2020 por los seguidores de series de acción e incluye bien trabajadas locaciones de la serie ambientada en la ciudad británica de Birmingham durante la época de la gran guerra. Si eres seguidor de las series de acción, no te olvides de darle unos giros a <a href="/juego/tragamonedas-narcos/">Narcos</a> de <a href="/proveedor/netent/">Netent</a>. </p>
<p>Los efectos de sonidos son bien complementados con el fondo musical que, si bien no es la banda sonora original de la serie, ayuda a que sea asociada con el tema del juego. Pero es el momento de las bonificaciones el cual nos hará sentir que estamos viendo un episodio de la serie, ya que podremos escuchar la característica voz del personaje principal Tommy Shelby siguiendo la obtención de ganancias. </p>
