---
slugOverride: tragamonedas-encantada-3d
tags: [slot]
title: "Encantada 3D"
description: "El tragamonedas Encantada 3D de Betsoft es un video slot de 5x3, 30 líneas de pago, volatilidad baja y RTP de 89.40% con el que podremos ganar 5000x veces nuestras apuestas."
launch: 2010
provider:
    name: "Betsoft"
    url: "/proveedor/betsoft/"
game:
    ranking: 103
    score: 4
    maxWin: 5000
    paylines: 30
    volatility: "Baja"
    rtp: "89.40%"
areas:
    prizes: "good"
    functions: "good"
    theme: "good"
iframe: https://democasino.betsoftgaming.com/cwguestlogin.do?gameId=350&lang=es
---

<p>El tragamonedas Encantada 3D de <a href="/proveedor/betsoft/">Betsoft</a> nos traslada a un bosque encantado, donde hadas, gnomos, ogros y magos se junta para lanzar sus conjuros y encantos dándonos la oportunidad de ganar giros adicionales y gratuitos, un jackpot y variados <a href="/bonos/">bonos</a> interactivos. El formato del juego es de 5&#215;3 con 30 líneas de pagos, de baja volatilidad y un RTP de 89.40% con el cual podremos obtener hasta 5000x veces nuestras apuestas.</p>
<h2 id="premios" class="contentIndexTitle mb-1">Premios, RTP y volatilidad&nbsp;<span class="badge badge-success badge-pill">&#10003; Bueno</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>El tragamonedas Encantada 3D es un video slot con RTP o retorno de dinero para el jugador de 89.40% y clasificación de volatilidad baja. El formato del juego es de 5 rodillos, 3 filas y 30 líneas de pago, el cual contiene, un generosos jackpot, rondas de giros gratuitos, bonificaciones extras por combinación de símbolos, giros adicionales, multiplicadores, y un bono de que nos proveerá de comodines. Tendremos hasta 15 denominaciones de crédito (0.01, 0.02, 0.03, 004, 0.05, 0.06, 0.07, 0.08, 0.09, 0.10, 0.15, 0.20, 0.25, 0.50 y 1)siendo apuesta mínima USD$ 0.01 y su máxima apuesta USD$ 150 por giro, siendo 5000x nuestra apuesta la máxima exposición del juego.</p>
<p>Son 12 símbolos los que encontraremos en el tragamonedas Encantada 3D, de los cuales 9 son de valor y están representados de la siguiente manera: un anillo dorado, un cayado de madera, una copa dorada, una bola cerámica de color azul, un búho, Tonk el gnomo, Rufus el ogro, el hada Feera y el mago Elrid. Además, encontraremos 3 símbolos scatter o dispersores, los cuales activaran 3 diferentes bonificaciones: con la llave dorada podremos acceder al Tonk&#8217;s Tinkering Doors o Puertas del Gnomo Tonk, el sombrero loco con el cual activaremos el Crazy Hat´s Crazy Reels o los rodillos locos del sombrero loco y con el libro de conjuros accederemos a la bonificación Spellbook Free Spins o el libro de magia de giros gratuitos. A continuación te detallamos la tabla de pagos:</p>
<ul><li>El anillo dorado pagara por 3 símbolos 10:1, por 4 – 30:1 y por 5 – 1000:1.</li><li>El cayado de madera, por 3 – 15:1, por 4 – 50:1 y por 5 – 200:1.</li><li>La copa dorada, por 3 – 20:1, por 4 -60:1 y por 5 – 300:1.</li><li>La bola cerámica azul, por 3 – 25:1, por 4 -80:1 y por 5 – 500:1.</li><li>El búho, por 3 – 30:1, por 4 -100:1 y por 5 – 1000:1.</li><li>Tonk el gnomo, por 3 – 40:1, por 4 -200:1 y por 5 – 2000:1.</li><li>Rufus el ogro, 3 – 60:1, por 4 -300:1 y por 5 – 3000:1.</li><li>La hada Feera por 2 – 2:1, 3 – 75:1, por 4 -400:1 y por 5 – 4000:1.</li><li>El mago Elrid, por 2 – 5:1, 3 – 200:1, por 4 -1000:1 y por 5 – 5000:1.</li></ul>
<h2 id="funciones-y-mecanica" class="contentIndexTitle mb-1">Funciones y mecánica&nbsp;<span class="badge badge-success badge-pill">&#10003; Bueno</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>El tragamonedas Encantada 3D cuenta con 30 líneas de pago, estas contaran como ganadoras a las combinaciones de 3 símbolos iguales (desde dos símbolos en el caso de la hada Feera y el mago Elrdi) que deberán aparecer durante el mismo giro, iniciando desde el primer rodillo del lado izquierdo. Adicional, podremos acceder a una bonificación luego de obtener la combinación de símbolos compuesta por la hada Feera y Rufus el ogro (deberán estar ubicadas lado a lado en cualquiera de la líneas de pago). Esta ronda interactiva podremos sumar créditos, seleccionando la posición de ataque de la hada Feera, quien tendrá que enviar conjuros a Rufu el ogro hasta convertirlo en un sapo.</p>
<p>La bonificación Spellbook Free Spins o libro de magia de giros gratuitos se activara cuando 3 scatter de libro de magia aparezcan en los cualquier posición de los rodillos 1, 3 o 5, otorgándonos 10 giros, además podremos ganar giros adiciónales, activar multiplicadores de ganancias y un rodillo entero podría convertirse en comodín WILD durante el ultimo giro gratuito. Tomaremos en cuenta que nos se activaran las bonificaciones Tonk&#8217;s Tinkering Doors o Crazy Hat´s Crazy Reels durante la ronda de giros gratuitos.</p>
<p>Tonk&#8217;s Tinkering Doors o Puertas del Gnomo Tonk es una bonificación que obtendremos luego de haber recibido las llaves doradas hasta en 3 oportunidades en el rodillo numero 5. Una pantalla adicional aparecerá ofreciéndonos 3 cerraduras los cuales nos podrán revelar sorprendentes premios.</p>
<p>El Crazy Hat´s Crazy Reels o los rodillos locos del sombrero loco nos dará hasta 3 giros adicionales, luego de obtener los sombreros en los rodillos 1 y 5 durante el mismo giro. Además los sombreros se convertían en comodines WILD dándonos mas oportunidades de recibir combinaciones ganadoras, Las bonificaciones Spellbook Free Spins y Tonk&#8217;s Tinkering Doors no podrán ser activados durante esta ronda. Por ultimo, el jackpot del slot encantada 3D será otorgado cuando obtengamos 5 símbolos del mago Elrin durante el mismo giro, solo apostando el máximo de créditos por linea.</p>
<h2 id="tematica" class="contentIndexTitle mb-1">Temática y diseño&nbsp;<span class="badge badge-success badge-pill">&#10003; Bueno</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>Iniciamos con las opciones de información del tragamonedas Encantada 3D los cuales encontraremos sobre los rodillos del juego. Sobre el lado izquierdo ubicaremos <strong>BALANCE</strong> el cual contiene el monto actual de nuestra banca, <strong>CREDITS</strong> nos indica la cantidad de créditos con los que contamos dependiendo de la denominación de valor que eligiéramos jugar, <strong>BET</strong> nos muestra nuestra apuesta a realizar y <strong>WIN </strong>nos indicara el total de nuestra ultima ganancia obtenida. El monto del jackpot, ubicado por debajo de las opciones de información, podrá variar dependiendo del monto de nuestra apuesta.</p>
<p>En la parte izquierda del juego visualizaremos un menú retráctil tipo sándwich, en el cual ubicaremos la opción <strong>SOUND</strong> para activar o desactivar el sonido, <strong>VIEW PAYTABLE</strong> incluye información sobre los símbolos y tablas de pagos del juego, así como las líneas de pago y la descripción de funciones y bonificaciones que encontraremos en el juego.</p>
<p><strong>CHANGE BET</strong> nos mostrara las alternativas de apuestas que podremos realizar, iniciando con <em>COIN DENOMINATION</em> para seleccionar la denominación de créditos (0.01, 0.02, 0.03, 004, 0.05, 0.06, 0.07, 0.08, 0.09, 0.10, 0.15, 0.20, 0.25, 0.50 y 1), en <em>BET PER LINE</em> elegiremos la cantidad de créditos por linea a jugar (de 1 a 5 por linea) y en <em>NUMBERS OF LINES</em> decidiremos la cantidad de líneas de pago apostaremos por giro (desde 1 hasta 30 líneas de pago).</p>
<p>Podremos acceder a la configuración de la función <strong>AUTOPLAY</strong> o de juego automático desde las 2 ultimas opciones mencionadas previamente, iniciando con la activación de la opción <em>AUTO SPIN</em> y a continuación elegiremos la cantidad de giros (desde 5 hasta 100 giros) desde <em>NUMBER OF AUTOSPINS</em>. Opcional, podremos configurar alternativas de cancelación de la función de juego automático mediante las opciones <em>MAXIMUM LOSS IN CASH</em> para establecer un limite de perdida permitida, <em>STOP ON JACKPOT</em> para detener la función de auto juego luego de obtener el pozo acumulado y <em>STOP ON WIN IN CASH </em>para establecer un monto de ganancia. La opción para activar o desactivar la función QUICK SPIN o juego rápido también se encontrara disponible en esta sección. Por ultimo, encontraremos la opción <strong>SPIN</strong> o giro en la parte derecha del juego base con el cual iniciaremos una partida.</p>
<p>El tragamonedas Enchanted 3D es uno de los juegos representativos del conocido <a href="/proveedores/">proveedor</a> Betsoft, que fue lanzado a inicios del 2010, así 11 años atrás, y que aun impacta a los jugadores con sus gráficos 3D y bonificaciones interactivas que nos mantendrán expectantes durante nuestras sesiones. El juego se desarrolla dentro de un bosque encantado en el cual habitan los personajes principales de del juego, Tonk el gnomo, Rufus el ogro, el hada Feera y el mago Elrid quienes mediante conjuros y hechizos nos otorgaran provechosas ganancias. Podremos disfrutar este juego en plataformas como <a href="/casino/jambo-casino/">Jambo Casino</a>, al igual que oros títulos como <a href="/juego/tragamonedas-2-million-bc/">2 Million Bc</a> o <a href="/juego/tragamonedas-una-noche-en-paris/">Una noche en Paris</a> del mismo desarrolador. </p>
