---
date: "2023-04-24T13:25:52+00:00"
slugOverride: tragamonedas-gonzos-quest
tags: [slot]
title: "Gonzo&#8217;s Quest"
description: "El tragamonedas Gonzo's Quest marcó un antes y un después en la industria de juego online con sus multiplicadores y función especial avalancha. ¡Veamos!"
launch: 2011
provider:
    name: "Netent"
    url: "/proveedor/netent/"
game:
    ranking: 2
    score: 4
    paylines: 20
    volatility: "Media/Alta"
    rtp: "95.97%"
areas:
    prizes: "good"
    functions: "good"
    theme: "good"
iframe: https://plaingaming-static.casinomodule.com/games/eldorado_mobile_html/game/eldorado_mobile_html.xhtml?gameId=eldorado_not_mobile_sw&disableDeviceDetection=true&flashParams.allowFullScreen=false&server=https%3A%2F%2Fplaingaming-game.casinomodule.com%2F&lang=es&sessId=DEMO-49159915-USD&operatorId=verajohn
---

<p>Dada su alta popularidad mantenida en el tiempo, Gonzo&#8217;s Quest sigue siendo un tragamonedas altamente aceptado y presente en los <a href="/casinos/">casinos en linea</a>, siendo destacado en varias promociones. La volatilidad de este tragamonedas es un término importante a la hora de elegirlo, en el caso de Gonzo quiere decir que el juego paga menos seguido que otros juegos pero tiende a pagar premios mas grandes, por lo que tendrás que tener mas paciencia a la hora de apostar.</p>
<blockquote class="wp-block-quote"><p>Un buén método para entender la volatilidad de un juego es claro, consultar con su proveedor o el creador del software, suponiendo que sea serio, como es el caso de Netent, podemos pasar a revisar su tabla de pagos. Pero ya hablaremos mas sobre cómo elegir nuestras tragamonedas segunda su volatilidad dependiendo de nuestro estilo de juego.</p></blockquote>
<p>Como novedad decir que Netent piensa lanzar el tragamonedas Gonzo&#8217;s Quest para realidad virtual. Esto quiere decir que si dispones de lentes de VR (&#8220;Virtual Reality&#8221; o &#8220;Realidad Virtual&#8221;) vas a poder divertirte con Gonzo de una manera inmersiva.</p>
<p>Cuenta con un <strong>RTP de 95,97%</strong> y una <strong>volatilidad Media/Alta</strong> de acuerdo a Netent, con 20 lineas de apuestas no configurables (a pesar lo que dicen otros sitios) y 3 hileras, dispone además de comodines y de la funcionalidad de Free Falls (caídas libres). En vez de rodada o giro, este juego hace uso de un término relacionado con la temática y si innovación, ya que como dijimos los símbolos no estan dispuestos en rodillos sino que son piedras que caen, por eso el juego denomina lo que en otras tragamonedas serían giros gratis, como &#8220;free falls&#8221; o caídas grátis. Gonzo&#8217;s Quest dispone de una versión de escritorio y otra mobile.</p>
<blockquote class="wp-block-quote"><p>Recuerda que si no entiendes algunos de estos términos tenemos un <a href="/glosario/">Glosario de consulta</a>.</p></blockquote>
<h2 class="wp-block-heading">Reseña del tragamonedas Gonzo&#8217;s Quest</h2>
<ol><li><a href="#tematica">Temática</a></li><li><a href="#mecanica">Mecánica</a></li><li><a href="#premios">Premios, RTP y volatilidad</a></li><li><a href="#diseno">Diseño del tragamonedas</a></li></ol>
<h2 class="wp-block-heading" id="tematica">Temática</h2>
<p>El video introductorio del juego nos cuenta la historia. Comienza en el año 1541, frente a las costas de Perú. Los exploradores españoles con la galera anclara están en labúsqueda de oro; pero Gonzo, el personaje principal basado en el conquistador del imperio Inca Francisco Pizarro tiene otros planes. Roba el mapa del capitán y durante la noche se lanza en solitario a la búsqueda del ElDorado, aquella mítica ciudad perdida donde los españoles esperaban encontrar inmesas riquezas en oro.</p>
<h2 class="wp-block-heading" id="mecanica">Mecánica</h2>
<p>El valor de la apuesta es controlado como en muchas otras máquinas de Netent utilizando dos controles. El valor de moneda y el&nbsp; Nivel de apuesta. <strong>Gonzo&#8217;s Quest o La Búsqueda de Gonzo dispone de la funcionalidad de autojuego</strong>, donde el jugador puede seleccionar el número de giros automáticos a realizar entre 10, 25, 50, 100, 250, 500, 750 y 1000 giros; en esta modalidad además las animaciones tienen una velocidad considerablemente mayor que en un giro normal. Esto resulta agradable para algunos jugadores mientras que para otros esto puede llegar a resultar molesto. Dependerá de cada jugador.</p>
<p><strong>La innovación mas grande en su momento de este tragamonedas fue sustituir los rodillos tradicionales por la función avalancha que hace que los símbolos caigan individualmente en las hileras de lo que antes sería carretes</strong>, generando diferentes combinaciones y desintegrándose cuando lo hacen, generando además la caída de símbolos extras que a su vez .<br>Estamos hablando de la posibilidad de generar varias combinaciones ganadoras y aumentos del nivel del multiplicador con el mismo gasto de un giro. Sin dudas una innovación muy interesante que ha sido replicada con los años por muchas otras máquinas tragamonedas.</p>
<h2 class="wp-block-heading" id="premios">Premios, RTP y volatilidad</h2>
<p>Otra característica importante de Gonzo es que no vas a poder elegir la cantidad de líneas a apostar que va a estar fija en 20. Como dijimos, con los controles del &#8220;Valor de la moneda&#8221; y el &#8220;Nivel de apuesta&#8221; vas a poder elegir el nivel de riesgo y posibilidad de premios de esas 20 lineas. Hay 5 &#8220;rodillos&#8221;, con bloques o símbolos cada uno; habiendo un total de 9 símbolos diferentes en todo el juego, 7 símbolos normales, 1 comodín y 1 símbolo de Free Fall o Caídas Grátis. Con 3 de estos últimos simbolos en una de las 20 líneas, activarás la funcionalidad de 10 giros grátis (llamados caídas gratis en el caso de Gonzo&#8217;s Quest).</p>
<p> Tabla de pagos de Gonzo&#8217;s Quest</p>
<p>El tragamonedas además cuenta con multiplicadores. En el juego normal estos multiplicadores van de x1, x2, x3, x4, pudiendo llegar a multiplicar x5 el premio de las lineas ganadoras. Durante los Free Falls o Caídas Gratis estos multiplicadores aumentan considerablemente x3, x6, x9, x15. Si, vas a poder multiplicar hasta 15 veces los premios de todas las lineas ganadoras.</p>
<p><strong>La opción de Caídas Gratis si bien nos va a permitir ganar grandes premios es la única función realmente especial de Gonzo&#8217;s Quest y es dificil de conseguirla ya que para activarla los símbolos de Caídas Gratis o Free Falls deben estar en una de las lineas ganadoras previstas en el juego y no en cualquier posición.</strong> Esto deja al tragamonedas rezagado sobre todo en vista a la competencia actual con juegos llenos de funciones especiales, variadas y que aparecen mas facilmente a lo largo del juego.</p>
<p><strong>El RTP o el Retorno de dinero al jugador del tragamonedas Gonzo&#8217;s Quest es de 95,97%.</strong> El RTP puede ser un término dificil de entender en el mundo de las tragamonedas pero es importante que sepas de qué se trata. Puedes fijarte en el <a href="/glosario/">Glosario</a>, además pronto vamos a realizar una guía definitiva del asunto, ya que junto con la volatilidad del juego es uno de los puntos claves a entender el mundo de las máquinas tragamonedas. Por el momento decir que 95,97% de RTP significa que por cada dólar apostado, la máquina está programada para pagar (a largo plazo) 0,96 dólares. Un RTP medio, para una máquina que hoy en día está en un nivel medio. Lo mismo ocurre con la volatilidad.</p>
<h2 class="wp-block-heading" id="diseno">Diseño del tragamonedas</h2>
<p>Gonzo&#8217;s Quest está bien diseñado, tiene gráficos en 3D, (aunque por suerte a diferencia de otros juegos de Netent no es tan pesado de descargar), y si bien tiene animaciones estas son rápidas y no interfieren con el juego. Cuenta con un video de introducción. Durante la pantalla de Caídas Gratis o Free Falls, la única gran función especial del juego, Gonzo ingresará por entre los bloques libres del juego principal e ingresaremos a una nueva pantalla, con los multiplicadores especiales de esta función y un entorno diferente.</p>
