---
slugOverride: tragamonedas-secreto-del-mar-gamebeat
tags: [slot]
title: "El secreto del mar"
description: "El Secreto del Mar o Sea Secret es otro slot de Gamebeat con la funcionalidad de Hold & Win que nos permite premios instantáneos."
launch: 
provider:
    name: "Gamebeat Studio"
    url: "/proveedor/gamebeat-studio/"
game:
    ranking: 8
    score: 4
    paylines: 20
    volatility: "Media/Alta"
    rtp: "96.34%"
areas:
    prizes: "good"
    functions: "good"
    theme: "good"
iframe: https://avocado.prod.gamebeat.cloud/gamebeat/?home=https://prod.gamebeat.cloud&clientType=desktop&lang=es&game=sea_secret
---

