---
date: "2020-09-25T20:24:05+00:00"
slugOverride: tragamonedas-dead-or-alive-2
tags: [slot]
title: "Dead or Alive 2"
description: "Basado en uno de los tragamonedas de alta volatilidad mas populares de Netnet, Dead or Alive 2 (Vivo o muerto 2), lanzado en el 2019, nos trae, con sus 5 rieles y 9 líneas de premios, la última tecnología gráfica con la posibilidad de ganar grandes premios característica de los juegos con este nivel de volatilidad."
launch: 2019
provider:
    name: "Netent"
    url: "/proveedor/netent/"
game:
    ranking: 244
    score: 4
    paylines: 9
    volatility: "Alta"
    rtp: "96.82%"
areas:
iframe: https://netent-static.casinomodule.com/games/dead-or-alive-2-client/game/dead-or-alive-2-client.xhtml?flashParams.bgcolor=000000&amp;gameId=deadoralive2_not_mobile&amp;mobileParams.lobbyURL=https%3A%2F%2Fgames.netent.com%2Fvideo-slots%2Fdead-or-alive-2%2F&amp;server=https%3A%2F%2Fnetent-game.casinomodule.com%2F&amp;lang=es&amp;sessId=DEMO-596480297-USD&amp;operatorId=netent
---

<h2 class="wp-block-heading">Reseña del tragamonedas Dead or Alive 2</h2>
<ul><li><a href="#premios">Premios, RTP y volatilidad</a></li><li><a href="#funciones-en-dead-or-alive-2">Funciones y mecánica</a></li><li><a href="#tematica">Temática y diseño</a></li></ul>
<h2 class="wp-block-heading" id="premios">Premios, RTP y volatilidad</h2>
<p>Con un premio máximo por giro de 100.000 lo primero que debemos saber de Dead or Alive 2, tanto como del primer <a href="/juego/tragamonedas-dead-or-alive/">Dead or Alive</a> de la saga es que estamos ante tragamonedas de RTP levemente por encima del promedio pero con altísima volatilidad, tal vez de la mas alta del mercado. ¿Qué significa esto? </p>
<p>Significa que es un juego en el que debemos estar preparados para ganar y para perder a lo grande. Tragamonedas de alto riesgo y de alta satisfacción para los ganadores.</p>
<p>De hecho en el 2019, <strong>Dead or Alive 2</strong> pagó a un jugador 30.000x veces su dinero apostado en un giro y el video de esa proeza quedó registrada en <a href="https://www.youtube.com/watch?v=kis42BKEw18">este video</a>. El afortunado, ganó mas de £12.000 (doce mil libras esterlinas) eso es mas de 14.000 dólares, durante el bono de giros gratuitos, con una apuesta de tan solo £0.36.</p>
<p>Sin dudas un ejemplo con el que queda explicado porqué los de la saga de Dead or Alive, con su altísima volatilidad son juegos tan destacados entre quienes se toman las tragamonedas en serio.</p>
<p>Dead or Alive 2 es un juego de tan solo 9 líneas de pago fijas y 2 niveles de apuesta (normalmente los tragamonedas de Netent suelen tener 10 niveles de apuesta diferentes). </p>
<p>Esto nos permite una apuesta mínima de $0.09 y una apuesta máxima de $9, con valores de moneda de $0.01 y $0.5. Un costo interesante si tenemos en cuenta lo que son las grandes posibilidades del juego.</p>
<h2 class="wp-block-heading" id="funciones-en-dead-or-alive-2">Funciones y mecánica</h2>
<p>A pesar de tener únicamente 9 líneas de pago Dead or Alive 2 viene con algunas funciones interesantes. Particularmente el centro de la acción gira en torno a los símbolos Scatter y las pantallas de giros gratuitos. </p>
<p>Son estos símbolos los que nos van a permitir acceder a las 3 pantallas de giros gratuitos que tiene el juego, y las responsables de las ganancias mas grandes del tragamonedas. Repasemos.</p>
<p>En Dead or Alive 2 los hay 5 símbolos diferentes de comodines. Estos sustituyen a todos los símbolos menos al Scatter. Y cuando gracias a ellos obtenemos una combinación ganadora, nos pagarán la combinación mas alta posible. </p>
<p>Obtener 5 comodines nos en Dead or Alive nos va a pagar valores de hasta 1500 monedas.</p>
<p>Por su parte el símbolo Scatter, la estrella de la función, solo en la pantalla principal y puede pagarnos hasta 2500 monedas si sale 5 veces en una linea ganadora. </p>
<p>Tres o mas de estos símbolos nos concede el juego de bono, que consiste en que podremos elegir 3 juegos diferentes de giros gratuitos o free spins.</p>
<p>Estos son el Old Saloon, el High Noon Saloon y el Train Heist. En cada uno de estos juegos se nos concederá 12 giros gratuitos inicialmente. </p>
<p>En el Old Saloon todas las ganancias, es decir la de cada una de los giros gratuitos se multiplican x2. Y adicionalmente uno o mas sticky wilds, o comodines pegajosos activa 5 giros gratuitos adicionales.</p>
<p>En el High Noon Saloon, cuando dos símbolos Wild caen en el mismo rodillo se transforman en símbolos Double Multiplier Wild, Comodines de Doble Multiplicación y se transforman en Comodines de Triple Multiplicación cuando 3 símbolos Wild caen en un mismo rodillo. </p>
<p>Al igual que en el Old Saloon uno o mas comodines o comodines de doble y triple multiplicación nos dará 5 giros gratuitos extra.</p>
<p>El mas curioso de todos sea tal vez el Train Heist donde hay una barra multiplicadora que llega hasta x16 y cuando un símbolo de comodín cae en cualquier posición de los rodillos el multiplicador aumenta en 1 y se concede 1 giro gratuito.</p>
<p>Si el multiplicador llega a x16 se conceden además 5 giros gratuitos adicionales.</p>
<h2 class="wp-block-heading" id="tematica">Temática y diseño</h2>
<p>Tanto el Dead or Alive original como Dead or Alive 2 son juegos ambientados en el <a href="/tag/lejano-oeste/">lejano oeste</a>. Una de las temáticas mas populares en el mundo de tragamonedas, junto con Egipto. En estos casos particularmente el ambiente transcurre en el mundo de los pistoleros del lejano oeste.</p>
<p>Con un diseño rústico y moderno, entre botellas de whiskey, pistolas, botas y sombreros de vaqueros, estrellas de sheriff y una música y ambientación sonora sugerente, entre ladridos de perros y el viento, el ruido de espuelas y armas que se cargan o caballos que corren al realizar los giros, no podemos pedir mas a Dead or Alive 2 y sus desarrolladores en el intento de ambientarnos correctamente.</p>
<p>Además de esta excelente ambientación y diseño el juego no sigue ninguna historia particular y tampoco la necesita. Un tragamonedas para quienes juegan por diversión pero también buscando esas combinaciones ganadores de alta volatilidad y de premios elevados como las que ya ha pagado Dead or Alive 2 en varias oportunidades desde su lanzamiento</p>
