---
slugOverride: tragamonedas-african-simba
tags: [slot]
title: "African Simba"
description: "Con el tragamonedas African Simba de Novomatic de 5 rodillos, 243 lineas de pago, media volatilidad y RTP 95.2% obtendremos hasta 2500x nuestras apuestas."
launch: 2012
provider:
    name: "Novomatic"
    url: "/proveedor/novomatic/"
game:
    ranking: 123
    score: 4
    maxWin: 2500
    paylines: 243
    volatility: "Media"
    rtp: "95.2%"
areas:
    prizes: "average"
    functions: "good"
    theme: "good"
iframe: https://demo.monkeyboxsrv.com/demo/fullstate/html5/novomatic/africansimba
---

<p>El tragamonedas African Simba de Novomatic nos traslada al continente africano, donde el personaje principal, Simba el rey león nos ayudara a obtener grandes ganancias en un vídeo slot de media volatilidad y RTP de 95.2%, 5 rodillos, 3 filas y 243 lineas de pago. </p>
<h2 id="premios" class="contentIndexTitle mb-1">Premios, RTP y volatilidad&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Medio</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>El tragamonedas African Simba de <a href="/proveedor/novomatic/">Novomatic</a> cuenta con símbolos comodín WILD y scatter el cual activara la ronda de bonificaciones de giros gratuitos con multiplicadores, ademas de la función GAMBLE con el cual podremos aumentar nuestras ganancias. El vídeo slot cuenta con 5 rodillos, 3 filas y hasta 243 lineas de pago. </p>
<p>El juego cuenta con una clasificación de media volatilidad y un RTP o retorno de dinero para el jugador de 95.2%, con una frecuencia de obtención de ganancia de 29%. Con respecto a los rangos de apuestas, encontraremos diferencias entre los casinos en linea que ofrecen el juego, fluctuando entre mínimas apuestas de USD $ 0.01 y apuestas máximas de USD$ 100. Debemos tomar en cuenta que los pagos de las combinaciones de símbolos ganadores así como los limites máximos de la función GAMBLE variaran automáticamente de acuerdo al monto apostado.</p>
<p>Un total de 8 serán los símbolos que encontraremos en el tragamonedas African Simba son: los símbolos de menor valor A, K, Q, J, 10 y 9. Los símbolos de mayor valor están representados por el Flamenco, una pareja de Suricatas, un Bufalo Cafre y una Jirafa. El símbolo comodín WILD este representado por Simba el León, personaje principal del juego y por ultimo el símbolos scatter o dispersor que lleva la figura de la famosa montaña africana Kilimanjaro. Las jugadas ganadoras serán contabilizadas cuando aparezcan al menos 3 símbolos en forma adyacente durante el mismo giro y sobre una linea de las lineas de pago empezando desde el primer rodillo del lado izquierdo. </p>
<ul><li>Los símbolos J, 10 y 9 pagaran por 3 símbolos 5:1, 4 símbolos 20:1 y 5 símbolos 100:1.</li><li>Los símbolos A, K,y Q pagaran por 3 símbolos 10:1, 4 símbolos 25:1 y 5 símbolos 125:1.</li><li>El Flamenco pagara por 3 símbolos 25:1, por 4 símbolos 75:1 y 5 símbolos 250:1.</li><li>Las Suricatas pagaran por 3 símbolos 25:1, 4 símbolos 75:1 y 5 símbolos 250:1.</li><li>El Búfalo Cafre pagara por 3 símbolos 50:1, 4 símbolos 150:1 y 5 símbolos 750:1.</li><li>La Jirafa pagara por 3 símbolos 100:1, 4 símbolos 500:1 y 5 símbolos 2,500:1.</li></ul>
<p>Los símbolos comodines WILD apareceran solo en los rodillos 2, 3 y 4 y podrán reemplazar todos los símbolos del juego durante el juego base y las rondas de bonificaciones con excepción de los símbolos scatters. En el tragamonedas African Simba los símbolos comodines WILD no podrán conformar una combinación ganadora y su función en el juego es exclusivamente para sustituir y completar combinaciones de los símbolos de valor.</p>
<p>Al igual que los comodines WILD , los símbolos scatter o dispersores no cuentan con una combinación ganadora y su función sera únicamente la de activar la ronda de bonificaciones de giros gratuitos, luego de que 3 símbolos scatter aparezcan en los rodillos 1, 3 y 5 durante el mismo giro. Se nos otorgaran 12 giros gratuitos, ademas las ganancias obtenidas durante la ronda de bonificacion serán multiplicadas por 3x. Por ultimo, sera posible obtener giros gratuitos durante la ronda de bonificacion en caso 3 símbolos scatters vuelvan a aparecer, otorgándonos 12 giros gratuitos adicionales con multiplicadores de 3x por la ganancias obtenidas durante la bonificacion. </p>
<p>Encontraremos la función GAMBLE, al igual que en los títulos de Novomatic, como una opción alternativa para aumentar nuestras ganancias, el cual se activara luego de obtener una combinación ganadora. Si deseamos jugar seleccionaremos la opción y nos llevara a una pantalla de bonificacion donde elegiremos si la carta oculta es de color ROJO (RED) o NEGRO (BLACK) en caso elijamos correctamente doblaremos nuestras ganancias y podremos doblar el monto cuantas veces deseemos. Para retirar nuestras ganancias solo elegiremos COLLECT y los créditos obtenidos serán transferidos a nuestro balance de creditos. La función GAMBLE no sera activada durante la función AUTOPLAY.</p>
<h2 id="funciones-y-mecanica" class="contentIndexTitle mb-1">Funciones y mecánica&nbsp;<span class="badge badge-success badge-pill">&#10003; Bueno</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>Los controles y opciones de funcionalidad del tragamonedas Africa Simba se encuentran ubicados en la parte inferior del juego. Por debajo de los rodillos, empezando la descripción desde el lado izquierdo, se detallara nuestro balance actual en la opción CREDIT. A continuación en el espacio donde se describe PLEASE PLACE YOUR BET aparecerá el monto de ganancia obtenida durante el giro y en la sección LAST WIN estará especificado el monto de nuestra ultima ganancia. </p>
<p>La opción AUTOPLAY o Auto Juego nos permitirá configurar el juego de giros automáticos, sin tener un numero predeterminado de giros (como lo podremos encontrar en la mayoría de juegos de otros proveedores) el cual podrá ser cancelado al presionar nuevamente AUTOPLAY. La opción PLAYTABLE o Tabla de Pagos nos mostrara todos los símbolos disponibles con sus respectivos pagos, ademas presionando la opción MORE INFO conoceremos los detalles de las bonificaciones, descripción de las lineas d pagos y reglas generales del juego.</p>
<p>Seleccionaremos la opción BET MULTIPLIER para programar la cantidad de lineas de pago que deseemos jugar (lo cual también podremos realizar señalando los rodillos del juego con el mouse). Con BASE BET podremos seleccionar la cantidad de créditos por linea deseamos jugar (mínimo 1 máximo 5,000). BET nos indicara cuantos créditos en total jugaremos por giro en base a nuestra selección en las opciones BET MULTIPLIER y BASE BET, lo cuales podremos modificar antes de iniciar rl juego con los controles &#8211; y + que se encuentran en los extremos de las opciones. </p>
<p>La función GAMBLE estará disponible luego de obtener una ganancia, durante el juego base así como para la ronda de bonificacion pero sera desactivada cuando la función AUTOPLAY se este ejecutando. Con START iniciaremos el juego y también podrá ser utilizado como opción giro rápido, durante la función GAMBLE sera activada como COLLECT y sera utilizada para obtener las ganancias obtenidas (en caso estuviéramos jugando desde un ordenador o laptop podremos reemplazar el uso de START con la barra espaciador del teclado). Por ultimo en la parte superior derecha del juego localizaremos la opción para activar/ desactivar los efectos de sonido. </p>
<h2 id="tematica" class="contentIndexTitle mb-1">Temática y diseño&nbsp;<span class="badge badge-success badge-pill">&#10003; Bueno</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>El tragamonedas African Simba de Novomatic lanzada en el año 2012 es otra colaboración del <a href="/proveedores/">proveedor</a> de juegos de <a href="/casinos/">casino</a> Greentube, el cual nos presenta a Simba, el León rey de la Selva y otros animales característicos de la selva, al igual que en juegos como <a href="/juego/tragamonedas-mega-moolah/">Mega Moolah</a> de <a href="/proveedor/microgaming/">Microgaming</a> o <a href="/juego/tragamonedas-jungle-giants/">Jungle Giants</a> de <a href="/proveedor/playtech/">Playtech</a>.</p>
<p>El juego esta ambientado en una sabana africana, rodeada de pastos y verdes arboles bajo un muy claro cielo azul. Novomatic aun continua complementando sus juegos con efectos de sonido que nos hacer recordar las antiguas maquinas tragamonedas, pero esta vez introdujo algunos tímidos sonidos africanos cuando obtenemos alguna combinación ganadora o accedemos a la ronda de bonificaciones.</p>
