---
slugOverride: tragamonedas-lost-tomb-of-karamses
tags: [slot]
title: "Lost Tomb of Karamses"
description: "Con el tragamonedas Lost Tomb of Karamses podremos ganar hasta USD$ 240,000 en un vídeo slot de 5x3, 243 lineas de pago y un RTP de 93.09%"
launch: 2020
provider:
    name: "Microgaming"
    url: "/proveedor/microgaming/"
game:
    ranking: 129
    score: 4
    maxWin: 20000
    paylines: 243
    volatility: "'-'"
    rtp: "93.09%"
areas:
    prizes: "average"
    functions: "good"
    theme: "good"
iframe: https://redirector3.valueactive.eu/Casino/Default.aspx?applicationid=4023&amp;serverid=1867&amp;gameid=lostTombOfKaramsesDesktop&amp;sext1=demo&amp;sext2=demo&amp;variant=MAL-Demo&amp;allowmixedmode=1&amp;bypassflashprompt=1&amp;ul=es&amp;bankingURL=
---

<p>El tragamonedas Lost Tomb of Karamses es uno de los últimos lanzamientos del 2020 del reconocido <a href="/proveedores/">proveedor</a> de software de juegos de <a href="/casinos/">casino</a> en linea Microgaming. Con una temática de aventuras egipcias, recorreremos las tumbas ocultas de Karamses, junto a un loro explorador llamado Tookie, a través de un vídeo slot con RTP de 93.09%, 5 rodillos, 3 filas y 243 lineas de pago que incluye comodines, multiplicadores y una bonificacion de giros gratuitos con 4 formas de ganar hasta USD$ 240,000. </p>
<h2 id="premios" class="contentIndexTitle mb-1">Premios, RTP y volatilidad&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Medio</span></h2><h3 class="contentIndexSubTitle"></h3>
<p><a href="/proveedor/microgaming/">Microgaming</a> nos presenta uno de sus últimos juegos, símbolos comodines WILD, scatters que nos multiplicaran nuestras ganancias en forma aleatoria y bonificaciones de giros gratuitos a través de 4 alternativas que podremos elegir y con las cuales podremos obtener hasta 20,000x veces nuestras apuestas.</p>
<p>El juego tiene un RTP o retorno de dinero para el jugador de 93.09%, la cual es una de las mas bajas, no solamente del portafolio de Microgaming sino también del mercado de juegos de azar en linea. Aunque aun no contamos con mayor información acerca de volatilidad, podremos decir que con el RTP que ofrece tendremos una baja frecuencia de obtención de combinaciones ganadoras. Una alternativa de mayor volatilidad y RTP es <a href="/juego/tragamonedas-lara-croft-templos-y-tumbas/">Lara Croft Templos y Tumbas</a>, del mismo proveedor. La apuesta mínima requerida es de USD$ 0.30 y la apuesta máxima sera de USD$ 12.</p>
<p>El tragamonedas Lost Tomb of Karamses contiene un total de 10 símbolos: As, K, Q y J con formas de jeroglíficos egipcios son los de menor valor, seguidos de los símbolos de mayor valor representados por Tutankamon, Cleopatra, Anubis y Ra. El símbolo comodín WILD esta representado por una gema de color verde con la letra K inscrita en el. Por ultimo un loro explorador llamado Tookie sera el símbolo scatter o dispersor. Las combinaciones ganadoras estarán conformadas por al menos 3 simbolos iniciando en el primer rodillo del lado izquierdo del juego. </p>
<p>El símbolo comodín WILD podra reemplazar cualquier símbolo del juego y completar una combinación ganadora, con excepción de los símbolos scatters. Ademas los símbolos WILD pueden formar una combinación ganadora en caso aparezcan en una linea de pago, obteniendo por 3 símbolos 20 créditos, por 4 símbolos 40 créditos y por 5 símbolos 200 créditos.</p>
<p>El símbolo scatter o dispersor también podrá conformar combinaciones ganadoras, en caso obtuviéramos 3 símbolos scatter en una linea de pago, la ganancia sera de 12 créditos, por 4 símbolos ganaremos 240 créditos y por 5 símbolos scatters 2,400 créditos. Ademas de activar la ronda de bonificacion , 2 símbolos scatters podrán aparecer en forma aleatoria durante un giro y premiarnos con 1x, 2x, 3x o 50x veces la apuesta jugada durante el giro.</p>
<p>La ronda de bonificacion de giros gratuitos se activara cuando aparezcan 3, 4 o 5 símbolos scatters en cualquier posición de los rodillos e incluira multiplicadores. Nos encontraremos con 4 alternativas de las cuales debemos seleccionar una iniciar la bonificacion. Las opciones a escoger son las siguientes empezando desde el primero del lado izquierdo del juego:</p>
<ul><li>El dios Ra, nos otorgara 8 giros gratuitos y multiplicara nuestras ganancias obtenidas durante la bonificacion por 5x veces. </li><li>Anubis nos premiara con 10 giros gratuitos y multiplicara nuestras ganancias por 4x veces.</li><li>Cleopatra otorga 14 giros gratuitos y nuestras ganancias ser verán multiplicadas por 3x veces. </li><li>El faraon Tutankamon nos premiara con 18 giros gratuitos y nuestras ganancias se multiplicaran 2x veces. </li></ul>
<p>La bonificacion de giros gratuitos podrá ser reactivada en caso logremos obtener 3, 4 o 5 símbolos scatter en cualquiera de los rodillos durante la bonificacion. </p>
<h2 id="funciones-y-mecanica" class="contentIndexTitle mb-1" ">Funciones y mecánica&nbsp;<span class="badge badge-success badge-pill">&#10003; Bueno</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>Las opciones de información y funcionalidad del tragamonedas Lost Tomb of Karamses se encuentran ubicados en la parte izquierda inferior del juego dentro de un meno retráctil donde encontraremos: configuraciones de activación/desactivan de sonido, Quick Spin o Juego rápido y Show Mini Paytables o Mostrar mini tabla de pagos. </p>
<p>La opción con el icono de información nos describirá los símbolos contenidos en el juego con sus respectivos pagos, información de las bonificaciones y descripción de lineas de pago. Por ultimo el icono con el símbolo de interrogación nos ofrece detalles sobre el juego tales como especificaciones técnicas, reglas del juego, descripción de controles, sus funciones y porcentajes de RTP.</p>
<p>Sobre el lado derecho ubicaremos la opción AUTOPLAY o Juego automático, inscrita con un símbolo +, con el cual podremos programar de 10 a 100 jugos automáticos, y podrá ser cancelado al volver a presionar la opción AUTOPLAY; por debajo encontraremos el control de inicio de juego y el icono QUICK SPIN (⚡) o Giro rápido.</p>
<p>Por ultimo la opción de selección de apuestas nos ofrece la alternativa de jugar la apuesta máxima con MAX BET, ademas de poder elegir el monto de la apuesta a través de regulador de USD$ 0.30 a USD$ 12 o 6 alternativas fijas de: 0.30, 1.5, 3, 4.8, 9 y 10.50.&nbsp;</p>
<p>Encontraremos información adicional en la parte inferior del juego como nuestro monto actual de créditos disponibles, ultimo monto ganado y la última apuesta realizada.</p>
<h2 id="tematica" class="contentIndexTitle mb-1" ">Temática y diseño&nbsp;<span class="badge badge-success badge-pill">&#10003; Bueno</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>El tragamonedas Lost Tomb of Karamses fue lanzado en Octubre del 2020 por Microgaming como uno de los juegos exclusivos para el casino en linea Karamba. Como mencionamos al inicio, la temática del juego es sobre el antiguo Egipto y algunos de sus personajes mas representativos, como sus divinidades Anubis y Ra, así como de personajes como Cleopatra y Tutankamon, quienes estarán acompañados del ave exploradora llamada Tookie. Otros títulos relacionados a la temática y recomendamos son <br><a href="/juego/tragamonedas-valle-de-los-dioses/">Valle de los Dioses</a> de <a href="/proveedor/yggdrasil/">Yggdrasil</a> y <a href="/juego/tragamonedas-pharaohs-fortune/">Pharaoh’s Fortune</a> de <a href="/proveedor/igt/">IGT</a>.</p>
<p>Resaltan sus diseños audiovisuales y la recreación del ambiente donde se desarrolla el juego en general tanto en su juego base, con una representación de las orillas del río Nilo rodeado de frondosa vegetación y una vista a distancia de la pirámides, así como en los momentos de desarrollo de la bonificacion, donde nos ubicara en el interior de una tumba subterránea llena de tesoros.</p>
