---
date: "2020-12-22T11:00:45+00:00"
slugOverride: tragamonedas-duende-de-la-suerte
tags: [slot]
title: "Duende de la Suerte"
description: "Con el tragamonedas Duende de la Suerte de Microgaming de media volatilidad, 5 rodillos, 20 lineas de pago y RTP de 95.5% podremos ganar hasta USD$ 100,000!"
launch: 2015
provider:
    name: "Microgaming"
    url: "/proveedor/microgaming/"
game:
    ranking: 130
    score: 4
    maxWin: 1000
    paylines: 20
    volatility: "Media"
    rtp: "95.5%"
areas:
    prizes: "average"
    functions: "good"
    theme: "average"
iframe: https://mobile2.gameassists.co.uk/MobileWebServices_40/casino/game/launch/Betsson-Betsson.com/luckyLeprechaun/en?casinoID=1867&isPracticePlay=true&loginType=VanguardSessionToken&authToken=&isRGI=true
---

<p>Con el tragamonedas Duende de la Suerte de <a href="/proveedor/microgaming/">Microgaming</a> podremos ganar hasta USD$ 100,000 a través de giros gratuitos, multiplicadores y comodines WILD, ademas de contar con la <a href="/bonos/">bonificacion</a> del Camino de la Fortuna, con el cual obtendremos multiplicadores para nuestras ganancias. El juego es de media volatilidad y un RTP de 95.5% y cuenta con 5 lineas, 3 filas y 20 lineas de pago. </p>
<h2 id="premios" class="contentIndexTitle mb-1">Premios, RTP y volatilidad&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Medio</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>El tragamonedas Duende de la Suerte de Microgaming es un vídeo slot de <a href="/casinos/">casino</a> en linea compuesta por 5 rodillos, 3 filas y 20 lineas de pago que incluye una función de giros gratuitos, comodines WILD y multiplicadores con los que podemos ganar hasta 1,000x nuestras apuestas.</p>
<p>El RTP o retorno de dinero para el jugador es de 95.5% y tiene una clasificación media de volatilidad. La mínima apuesta es de USD$ 0.20 y la máxima apuesta es de USD$ 100.</p>
<p>Hay un total de 11 símbolos, son nueve de valor, un símbolo scatter o dispersor y un símbolo comodín WILD, los cuales describiremos a continuación, los símbolos de menor valor están representados por: A, K, Q, J y 10, los símbolos de mayor valor son: una pipa humeante, 3 vasos de cerveza stout o malta, un violín y el símbolo de mayor valor que es un duende de la suerte con el cual podremos obtener hasta 4,000 créditos en caso obtengamos 5 símbolos durante el mismo giro.</p>
<p>Una combinación ganadora estará compuesta por al menos 3 símbolos iguales que hayan aparecido en el mismo giro, ademas de ser subyacentes en una linea valida de pago. Las combinaciones ganadoras deberán iniciar en el primer rodillo del lado izquierdo del juego.</p>
<p>El símbolo comodín WILD tiene la inscripción <strong>LUCKY LEPRECHAUN</strong>, el cual podrá sustituir todos los símbolos con excepción del scatter, ademas al obtener 5 WILD podremos obtener 5,000 créditos. Durante las bonificaciones el símbolo WILD se convertirá en como comodín permanente, dándonos la oportunidad de obtener mayores ganancias. Existen dos símbolos scatter o dispersor, uno representado por un trébol verde de 4 hojas y otro scatter representado por una olla de color verde lleno de oro con la inscripción BONUS. </p>
<p>La bonificacion de giros gratuitos sera otorgada cuando obtengamos el scatter con la hoja de trébol verde, el cual aparecerá en forma aleatoria únicamente en el quinto rodillo y nos premiara con 5 giros gratuitos y empezara la ronda con un multiplicador 2x. Los símbolos A, K, Q, J y 10 pueden aparecer con tréboles pegados a ellos, los cuales se convertirán en giros adicionales si son de color verde o premiara con un multiplicador adicional si es de color amarillo. Durante la bonificacion el símbolo del duende se convierte en un comodín WILD adicional.</p>
<p>La bonificacion Trail of Fortune o Camino de fortuna sera activado cuando obtengamos al menos tres símbolos scatter BONUS durante el mismo giro y nos premiara con 4 giros, por cuatro símbolos BONUS recibiremos 5 giros y por 6 símbolos seremos premiados con 6 giros. Aparecerá un camino de color verde con 30 casillas, cada una indicando una cifra multiplicadora que va ascendiendo. Elegiremos SPIN o Girar para activar la rueda, el cual nos indicara cuantas casillas avanzaremos e incluso si tenemos suerte podremos cruzar el arco iris para adelantarnos casillas o encontrarnos una esmeralda para obtener mas giros, siendo el objetivo poder llegar al final del camino y obtener el mutilplicador 1,000x. </p>
<h2 id="funciones-y-mecanica" class="contentIndexTitle mb-1">Funciones y mecánica&nbsp;<span class="badge badge-success badge-pill">&#10003; Bueno</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>Los controles de información y funcionalidad del tragamonedas Duende de la Suerte se encuentran en la parte derecha del juego; sobre la parte superior la opción <strong>HELP </strong>nos ofrece detalles sobre el juego tales como especificaciones técnicas, reglas del juego, descripción de controles y sus funciones y porcentajes de RTP. </p>
<p>En el menú retráctil, encontraremos el icono de información donde se incluye detalles de las bonificaciones y pagos, ademas de los símbolos de valor que encontraremos en el juego y trazos de las lineas de pago. A continuación el control de activar/ desactivar la opción de sonido y un símbolo check que nos informara acerca de nuestro historial de juego. </p>
<p>Un icono con tres flechas circulares sera la opción de <strong>AUTOPLAY</strong> o Auto Juego con el cual podremos programar desde 10 hasta 100 giros automáticos y podrá ser cancelado luego de obtener un ganancia o si volviéramos a presionar la opción <strong>AUTOPLAY</strong>; por debajo encontraremos el control de juego y el icono<strong> QUICK SPIN</strong> (⚡) o Giro rápido. Por ultimo la opción de selección de apuestas nos ofrece la alternativa de jugar la apuesta máxima con <strong>MAX BET</strong>, elegir el monto de la apuesta a través de regulador de 0.20 a 100 o 6 alternativas fijas de: 0.20, 2, 7, 20, 45 y 90. </p>
<p>Encontraremos información adicional en la parte inferior del juego como nuestro monto actual de créditos disponibles y la ultima apuesta realizada y por ultimo sobre la parte superior del lado izquierdo del juego un acceso directo a la opción de historial de juego. </p>
<h2 id="tematica" class="contentIndexTitle mb-1">Temática y diseño&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Medio</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>El tragamonedas Duende de la Suerte fue lanzado por Microgaming a inicios del 2015 y se unió a otros <a href="/proveedores/">proveedores </a>de software de vídeo slots quienes también apuestan con la temática referida al conocido personaje mitológico de la cultura irlandesa, el cual es sinónimo de suerte y buena fortuna. Otros buenos títulos con personajes de leyenda son <a href="/juego/tragamonedas-hades/">Hades</a> de <a href="/proveedor/yggdrasil/">Yggdrasil</a> o <a href="/juego/thunderstruck-2/">Thunderstruck 2</a> de Microgaming.</p>
<p>Al igual que en otros juegos de Microgaming, Duende de la Suerte se caracteriza por ofrecer una funcionalidad simple con características y detalles referidos a la temática del juego, con un fondo musical donde los violines y flautas resaltan la música céltica, diseños gráficos muy coloridos con la ambientación de un valle y un pacifico cielo azul de un muy típico paisaje irlandés, ademas de símbolos relacionados con su cultura y la presencia del Duende, personaje principal quien celebrara nuestras ganancias obtenidas mientras cruzamos el Camino de la Fortuna. </p>
