---
date: "2021-05-01T02:49:27+00:00"
slugOverride: tragamonedas-jolly-fruits
tags: [slot]
title: "Jolly Fruits"
description: "El tragamonedas Jolly Fruits de Novomatic de 5 rodillos, 10 lineas de pago, volatilidad media baja y RTP de 93.94% ofrece 2 Jackpots y la función GAMBLE."
launch: 2014
provider:
    name: "Novomatic"
    url: "/proveedor/novomatic/"
game:
    ranking: 120
    score: 4
    maxWin: 2000
    paylines: 10
    volatility: "Baja/Media"
    rtp: "93.94%"
areas:
    prizes: "average"
    functions: "good"
    theme: "good"
iframe: //casinomass.com/data/demos/desktop/jolly-fruits-novomatic.html
---

<p>El tragamonedas Jolly Fruits de <a href="/proveedor/novomatic/">Novomatic</a> es un vídeo slot de 5 rodillos, 3 filas, 10 lineas de pago, de media baja volatilidad Y RTP 93.94% DE que incluye los clásicos símbolos de frutas, campanas, 7s y símbolos Bar de las primeras <a href="/juegos/tragamonedas/">tragamonedas</a> presentes en los <a href="/casinos/">casinos</a> presenciales. Incluye dos Jackpots y la función GAMBLE con los que podremos aumentar nuestras ganancias.</p>
<h2 id="premios" class="contentIndexTitle mb-1">Premios, RTP y volatilidad&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Medio</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>El tragamonedas Jolly Fruits incluye 5 rodillos, 3 filas y 10 lineas de pago. En esta oportunidad Novomatic dejo de lado bonificaciones de giros gratuitos y multiplicadores y los reemplazo con 2 Jackpots ademas de los símbolos comodines WILD y scatter y la función GAMBLE con el que podremos duplicar nuestras ganancias. El RTP o retorno de dinero para el jugador es de 93.94% y su clasificación de volatilidad es media baja. El rango de limites de apuestas podrán variar de acuerdo al casino en linea donde decidamos jugar variando entre apuesta mínima de USD$ 0.01 y apuesta máxima de USD$ 50.</p>
<p>Encontramos un total de 13 símbolos en el tragamonedas Jolly Fruits, empezando por los símbolos de frutas que son de menor valor como naranja, cereza, limón, ciruela, sandia, uvas y la campana. Los símbolos de mayor valor incluyen el símbolo BAR rojo, el doble BAR azul, el triple BAR verde y el símbolo 7 Rojo. El símbolo comodín WILD esta representado por el personaje bufón y el símbolo scatter o dispersor es una estrella dorada. Todas las combinaciones ganadoras iniciaran desde el primer rodillo del lado izquierdo y deberán estar conformadas al menos de 3 símbolos del mismo tipo.</p>
<ul><li>Naranja, Cereza, Limón y Ciruela pagaran por 3 símbolos 1:1, por 4 símbolos 5:1 y 5 símbolos 20:1.</li><li>Uvas, Sandia y Campana pagaran por 3 símbolos 2:1, por 4 símbolos 10:1 y 5 símbolos 40:1.</li><li>Bar Rojo pagara por 3 símbolos 4:1, por 4 símbolos 12:1 y 5 símbolos 60:1.</li><li>Doble Bar Azul pagara por 3 símbolos 6:1, por 4 símbolos 16:1 y 5 símbolos 80:1.</li><li>Triple Bar Verde pagara por 3 símbolos 8:1, por 4 símbolos 20:1 y 5 símbolos 100:1.</li><li>Estrella Dorada pagara por 3 símbolos 10:1, por 4 símbolos 100:1 y 5 símbolos porcentaje Star Jackpot (porción varia dependiendo del tipo de apuesta). </li><li>Bufón WILD pagara por 2 símbolos 2:1, 3 símbolos 20:1, por 4 símbolos 200:1 y 5 símbolos ganara el 100% Jolly Jackpot. </li></ul>
<p>El símbolo comodín WILD podrá reemplazar todos los símbolos y completar una combinación ganadora que aparezca durante el mismo giro, con excepción del símbolo scatter, ademas el comodín podrá formar su propia combinación ganadora sobre una linea de pago. Ademas, en caso estuviéramos jugando la apuesta máxima y obtuviéramos 5 símbolos WILD ganaremos el 100% del Jolly Jackpot el cual se encuentra en el lado izquierdo del juego. </p>
<p>El símbolo scatter también podrá conformar su propia combinación ganadora, en caso estuviéramos jugando la apuesta máxima 5 símbolos scatters aparecieran durante el mismo giro nos premiara con el 20% del monto actual del Star Jackpot el cual se encuentra sobre el lado derecho del juego. En el caso de apuestas menores se pagara parte del Jackpot dependiendo de la apuesta realizada durante el giro.</p>
<p>La función GAMBLE nos dará la oportunidad de incrementar ganancias obtenidas durante el giro y podrá ser utilizada al finalizar el pago y antes de iniciar el próximo giro. Luego de recibir la ganancia se activaran las opciones COLLECT para cobrar y continuar con el siguiente giro y GAMBLE si deseamos acceder a esta función. Al elegirlo nos llevara a una pantalla de bonificacion donde se presentan 8 niveles representadas por lineas doradas horizontales y ascendentes, indicándonos el monto ganado y el monto a ganar. El primer nivel estará parpadeando y elegiremos GAMBLE para continuar con la función, en caso ganemos se mostrara el nuevo monto a ganar y podremos elegir entre GAMBLE para seguir jugando o COLLECT para finalizar la bonificacion y regresar al juego base. Debemos tener en consideración que la función GAMBLE no podrá ser jugado en caso estemos utilizando la función AUTOPLAY, ademas no podremos acceder a GAMBLE luego de obtener alguno de los Jackpots.</p>
<h2 id="funciones-y-mecanica" class="contentIndexTitle mb-1">Funciones y mecánica&nbsp;<span class="badge badge-success badge-pill">&#10003; Bueno</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>La opciones de información y configuración del tragamonedas Jolly Fruit se encuentran en la parte inferior del juego, empezando con CREDIT donde se detalla información de los créditos con los que contamos, en el cuadro donde se encuentra el anuncio PLEASE PLACE YOUR BETS se incluirá información del monto de la ganancia que se haya obtenido durante el giro y LAST WIN nos informara sobre el ultimo monto ganado.</p>
<p>La opción de funcionalidad AUTOPLAY o Auto Juego activara la función de giros automáticos con el cual no necesitaremos usar la opción de giros, tendremos en cuenta que el juego no ofrece una cantidad de giros pre determinados y para desactivar la función de Auto juego debemos elegir nuevamente AUTOPLAY. En PAYTABLE o Tabla de Pagos encontraremos información referente a los símbolos del juego y sus respectivos pagos, ademas al elegir la opción MORE INFO nos detalla características de los Jackpots y reglas del juego adicionales. </p>
<p>LINES nos muestra la cantidad de lineas que jugaremos durante cada giro y BET/LINE cuantos créditos por lineas serán apostados (desde 0.01 hasta 5 créditos por linea). Ambas opciones podrán ser modificadas utilizando los indicadores &#8211; y + que se encuentran en ambos lados de las opciones de apuestas. BET nos indicara el total de apuesta que realizamos tomando en cuenta nuestra configuración de apuesta. </p>
<p>La opción GAMBLE sera activada luego de la obtención de ganancias y lo usaremos en caso deseemos jugar la bonificacion, de lo contrario elegiremos la opción COLLECT para cobrar nuestras ganancias. Tendremos en consideración que la opción GAMBLE no podrá ser activada durante el modo AUTOPLAY. Con START podremos iniciar el juego y también podremos utilizarlo para el modo de giro rápido, en caso estuviéramos jugando desde un computador desktop podremos utilizar la barra espaciador para iniciar los giros. Finalmente, encontraremos en la parte superior derecha la opción de activar/desactivar volumen y efectos de sonido del juego. </p>
<h2 id="tematica" class="contentIndexTitle mb-1">Temática y diseño&nbsp;<span class="badge badge-success badge-pill">&#10003; Bueno</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>El tragamonedas Jolly Fruits es uno de los juegos mas populares de Novomatic, desarrollado por su socio <a href="/proveedores/">proveedor</a> Greentube y lanzado el año 2014. Nos presenta un juego con temática retro con símbolos de frutas, bar, campanas y el conocido bufón muy característicos las clásicas maquinas tragamonedas. Destacan los colores vivos del diseño del juego, bien complementado por sus efectos de sonido que mantiene el juego entretenido. Otros juegos con características similares que nos podría interesar es <a href="/juego/tragamoneds-reel-king/">Reel KIng</a> del mismo Novomatic y <a href="/juego/tragamonedas-deco-diamonds/">Deco Diamonds</a> de <a href="/proveedor/just-for-the-win/">Just for the Win</a>. </p>
