---
layout: layouts/base.njk
eleventyComputed:
    pageTitle: "{{metadata.title}} - {{ title }}"
    description: "{{ languages[page.lang].texts.tagline }}: {{ languages[page.lang].texts.tagline2 }}"
---

{% js %}
  document.addEventListener("DOMContentLoaded", ()=>{

    showToast(
      getTranslation("texts.spreadKarma"),
      "success",
      5000,
      "toast-center",
      true
    );

  });
{% endjs %}

<section class="pl-2">
    <div class="max-w-6xl mx-auto">
        {%- include "components/bz-carrousel.njk" -%}
    </div>
</section>

{# Home banner #}
{% if config.showHomeBanner %}
    <section class="max-w-6xl mx-auto px-5 mt-12">
        {%- include "components/bz-banner-hero.njk" -%}
    </section>
{% endif %}

<section class="max-w-6xl mx-2 md:mx-auto {% if not config.showHomeBanner %}mt-16{% endif %}">
    <div>

        <div class="flex flex-col items-start justify-between md:mb-4 prose prose-xs md:prose-lg min-w-full prose-p:my-[10px] px-6 md:px-12 mt-12 relative">

            {# Site Tagline Header #}
            <a href="{{ '/nosotros/' | locale_url }}" class="-top-1 md:top-0 right-2 md:right-1 scale-90 btn btn-secondary btn-xs md:btn-sm text-white shadow-lg z-50 rounded-xl text-xs md:text-sm absolute px-3 hover:border cursor-pointer">
                {{ languages[page.lang].texts.howWorks }}
            </a>


            <h1 class="!mb-2">{{ languages[page.lang].texts.tagline2 }}</h1>
            <h2 class="text-gray-400 !mt-0 !mb-6">
                {{ languages[page.lang].texts.tagline }}:
                <strong class="font-bold">{{ languages[page.lang].texts.tagline2 }}</strong>.
                    {# {{ languages[page.lang].texts.tagline3 }} #}
            </h2>

        </div>


        {# Site tagline #}
        {# <div class="mb-2 mb-md-4 relative">

            <a href="{{ '/nosotros/' | locale_url }}" class="-top-1 md:top-0 right-2 md:right-1 scale-90 btn btn-secondary btn-xs md:btn-sm text-white shadow-lg z-50 rounded-xl text-xs md:text-sm absolute px-3 hover:border cursor-pointer">
                {{ languages[page.lang].texts.howWorks }}
            </a>

            <div role="alert"
            class="my-4 mx-2 alert alert-info alert-soft flex flex-col justify-star items-start !py-4 !pb-5 !px-6 gap-0 md:!px-10 md:!py-5">
                <h2
                    id="top-casinos"
                    class="text-lg md:text-3xl text-left font-bold first-letter:uppercase text-neutral/80 mt-2"
                >
                   {{ languages[page.lang].texts.tagline2 }}
                </h2>
                <h3 class="mt-2 md:mt-3 text-xs md:text-2xl text-gray-400">
                    {{ languages[page.lang].texts.tagline }}:
                    <strong class="font-bold">{{ languages[page.lang].texts.tagline2 }}</strong>.
                    {{ languages[page.lang].texts.tagline3 }}
                </h3>
            </div>
        </div> #}

        {# Casino list #}
        <div>

            {# Actual casino list #}
            <div class="overflow-x-auto rounded-box border border-base-300 dark:border-gray-700 bg-base-100 p-2 md:px-5 md:mt-6">

                {%- set postsList = collections.casinos | forLang( page.lang ) | sortByOrder | head(20) %}
                {% include "components/casinos/casinos-list.njk" %}

            </div>

            {# Load more button #}
            <div class="w-full my-2">
                <a
                    href="{{ '/casinos/' | locale_url }}"
                    class="btn btn-lg rounded-xl btn-soft bg-transparent btn-block hover:bg-base-200"
                    >
                   {{ languages[page.lang].texts.loadMore }}
                </a>
            </div>

        </div>
    </div>
</section>

{# User list #}
<section class="max-w-6xl px-6 md:px-12 md:mx-auto mt-10 md:mt-16">
    <div class="flex flex-col items-start justify-between md:mb-4 prose prose-xs md:prose-lg min-w-full prose-p:my-[10px]">
        <h1>{{ languages[page.lang].texts.supporters }} 💪</h1>
        <h2 class="text-gray-400 !mt-0">{{ languages[page.lang].texts.supportersText }}</h2>
         <a onclick="alert('{{languages[page.lang].texts.soon }}')" href="{{ config.links.sponsor }}" class="btn md:btn-lg btn-soft btn-secondary">
            {{ languages[page.lang].texts.becomeSponsor }}
        </a>

    </div>

    {# Sponsors #}
    <div class="mt-6">
        <div class="avatar-group -space-x-6">
            <div class="avatar">
                <div class="w-12">
                <img src="https://img.daisyui.com/images/profile/demo/batperson@192.webp" />
                </div>
            </div>
            <div class="avatar">
                <div class="w-12">
                <img src="https://img.daisyui.com/images/profile/demo/spiderperson@192.webp" />
                </div>
            </div>
            <div class="avatar">
                <div class="w-12">
                <img src="https://img.daisyui.com/images/profile/demo/averagebulk@192.webp" />
                </div>
            </div>
            <div class="avatar">
                <div class="w-12">
                <img src="https://img.daisyui.com/images/profile/demo/wonderperson@192.webp" />
                </div>
            </div>
        </div>
    </div>
</section>




{# <section class="section pt-0">
    <div class="container">
        <div class="theme-cards-holder" style="border-bottom: 0">
            <div class="theme-cards__heading mt-1">
                <div>
                    <h5
                        id="top-games"
                        class="home-titles bz-title theme-cards__title"
                    >
                        {{ languages[page.lang].texts.latestGames }}
                    </h5>
                    <p class="home-subtitles bz-subtitle">
                         {{ languages[page.lang].texts.latestGamesTeaser }}
                    </p>
                </div>
                 <a
                    class="theme-cards__heading__button btn btn-outline-brand btn-sm"
                    href="{{ '/juegos/tragamonedas/' | locale_url }}"
                    >{{ languages[page.lang].texts.seeAll }}</a>
            </div>
            <ul class="row games-table-body mb-0 pl-3 pl-md-0">
                {%- set gamesList = collections.games | head(40) | forLang( page.lang ) -%}
                {%- include "components/games/games-list.njk" -%}
            </ul>

            <br />

            <a
                class="btn btn-light btn-loadmore loadmore-games-button btn-block"
                ><i class="fa fa-plus fa-2x fa-fw"></i
            ></a>
            <div class="theme-cards-holder" style="border-bottom: 0">
                <div class="theme-cards__heading mt-4">
                    <div>
                        <h5
                            id="top-games"
                            class="home-titles bz-title theme-cards__title"
                        >
                            {{ languages[page.lang].texts.featuredProviders }}
                        </h5>
                        <p class="home-subtitles bz-subtitle">
                            {{ languages[page.lang].texts.featuredProvidersText }}

                        </p>
                    </div>
                    <a
                        class="theme-cards__heading__button btn btn-outline-brand btn-sm"
                        href="{{ '/proveedores/' | locale_url }}"
                        >{{ languages[page.lang].texts.seeAll }}</a
                    >
                </div>
                <ul class="row providers-table-body mb-0">
                    {%- set providersList = collections.provider | featured | forLang(page.lang)  -%}
                    {%- include "components/providers/providers-list.njk" -%}
                </ul>
            </div>
            <br />

            <br />

            <div class="betizen-foot-text post-content">
                {{ content | safe }}
            </div>
        </div>
    </div>
</section> #}
