---
layout: layouts/base.njk
---

<div class="container mt-3">
    <div class="row">
        <div id="container">
            <div id="content" role="main">
                <h1 class="page-title mb-2 mb-md-0 mb-3">{{ title }}</h1>
                <div class="row">
                    <div class="Xcol-lg-8 Xmb-md-0 Xmb-3 col">
                        <div
                            class="product type-product status-publish has-post-thumbnail product_cat-landing-corporate first instock downloadable shipping-taxable purchasable product-type-simple">
                            <div class="theme-description catalog-description pt-2">
                                <p>{{ description | safe }}</p>
                                <div>
                                    <div class="row align-items-end">
                                        <div class="col-md-8">&nbsp;</div>
                                        <div
                                            class="col-md-4 mb-4 text-right providers-list-view-selector"
                                        >
                                            <div
                                                class="btn-group"
                                                role="group"
                                                aria-label="Visualization type"
                                            >
                                                <button
                                                    type="button"
                                                    class="btn btn-light btn-galleryview active"
                                                    data-toggle="tooltip"
                                                    data-placement="top"
                                                    data-original-title="Gallery view"
                                                >
                                                    <i
                                                        class="fa fa-th"
                                                        aria-hidden="true"
                                                    ></i>
                                                </button>
                                                <button
                                                    type="button"
                                                    class="btn btn-light btn-listview"
                                                    data-toggle="tooltip"
                                                    data-placement="top"
                                                    data-original-title="List view"
                                                >
                                                    <i
                                                        class="fa fa-th-list"
                                                        aria-hidden="true"
                                                    ></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="theme-cards-holder"
                                    style="border-bottom: 0">
                                    <ul class="row list-galleryview">
                                        {%- set providersList = collections.provider | forLang(page.lang) -%}
                                        {%- include "components/providers/providers-list.njk" -%}
                                    </ul> 
                                </div>
                                {{ content | safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
