---
title: "Video Poker"
description: "El póker puede ser catalogado como un juego social donde los participantes participan de rondas de apuestas que contribuyen a un pozo, el cual será otorgado al ganador de la partida."
permalink: /juegos/video-poker/
gamesFrom: poker
---

<p>El póker y su variante como video póker y sus variaciones son uno de los juegos de azar más populares que podremos encontrar tanto en <a href="/casinos/">casinos</a> presenciales así como en plataformas de juego en línea. El póker puede ser catalogado como un juego social donde los participantes participan de rondas de apuestas que contribuyen a un pozo, el cual será otorgado al ganador de la partida. El objetivo principal del juego es reunir la más alta combinación de cartas las cuales serán comparadas entre los jugadores al final de las rondas de apuestas, dando como ganador la mejor combinación o mano. Para una mejor comprensión de las manos les ponemos a continuación una descripción de cada una de ellas:</p>
<ul>
<li><strong>Escalera real (Royal Flush):</strong> es la mejor mano que podremos obtener en Póker, compuesta por una escalera del mismo palo o símbolo compuesta por 10, J, Q, K, As.</li>
<li><strong>Escalera de color (Straight Flush):</strong> es la segunda mejor mano en el ranking de jugadas y está formada por 5 cartas consecutivas del mismo palo o símbolo.</li>
<li><strong>Póker</strong>: es la mano de póker de 5 cartas que incluye 4 cartas del mismo valor.</li>
<li><strong>FULL (Full House):</strong> es la mano de póker de 5 cartas conformada por la combinación de un trio con un par.</li>
<li><strong>Color (Flush):</strong> es la mano de 5 cartas los cuales son del mismo palo o símbolo.</li>
<li><strong>Escalera (Straight):</strong> es la mano de póker que está conformada por 5 cartas consecutivas. El As podrá tener un valor en mano de 1 o 14 pudiendo conformar escaleras del As al 5 o del 10 al As.</li>
<li><strong>Trio (Three of a Kind):</strong> mano de póker de 5 cartas que incluye 3 cartas del mismo valor.</li>
<li><strong>Dos Pares (Two Pair):</strong> mano de póker de 5 cartas que incluye 2 parejas de cartas del mismo valor.</li>
<li><strong>Par (Pair):</strong> mano de póker de 5 cartas que incluye 1 pareja de carta del mismo valor.</li>
<li><strong>Carta mayor (High Card)</strong>: mano de póker de 5 cartas las cuales tienen diferente valor donde la carta más alta (de mayor valor) será la que defina la mano.</li>
</ul>
<p>Los juegos de video póker fueron creados inicialmente para atraer a los jugadores de <a href="../tragamonedas/">tragamonedas</a> de casinos presenciales quienes prefieren el tipo de juego unipersonal, convirtiéndose y manteniéndose hasta en la actualidad en un juego de alta preferencia y no es sorpresa que esta popularidad se haya trasladado a las plataformas de juegos de azar donde podremos encontrar muchas variaciones de <a href="/proveedores/">proveedores</a> que están constantemente innovando sus juegos. Antes de continuar debemos tener en cuenta que en algunos juegos de video póker podremos encontrar términos en ingles u otros con los que simplemente no conocemos, a continuación les detallamos los más comunes:</p>
<ul>
<li><strong>MANO: </strong>la definición más simple seria que es la combinación de 5 cartas con las que buscaremos formar una jugada ganadora.</li>
<li><strong>BET: </strong>o apuesta es la opción con la que seleccionaremos el monto de nuestra apuesta. Adicional podríamos ubicar las alternativas BET UP para aumentar nuestras apuestas o BET DOWN para reducirlas.</li>
<li><strong>DEAL o PLAY:</strong> esta opción nos permitirá iniciar una partida luego de seleccionar nuestras apuestas.</li>
<li><strong>HOLD o HELD:</strong> o mantener, con esta opción seleccionaremos las cartas que deseamos conservar.</li>
<li><strong>DISCARD:</strong> o descartar, son las cartas que serán cambiadas por nuevas luego de seleccionar la opción HOLD.</li>
<li><strong>FACE CARD:</strong> se refiere a las cartas Js, Q’s y K’s.</li>
<li><strong>DOUBLE UP o GAMBLE: </strong>son las descripciones de las opciones que utilizaremos doblar nuestras ganancias. Normalmente se presentan mediante el mecanismo de elección de cartas altas o bajas, adivinar el color de cartas o su símbolo.</li>
<li><strong>MULTI HAND: </strong>o multi mano, referido a que el video póker nos ofrece posibilidad de jugar más de una mano por partida.</li>
</ul>
<p>Cuando juguemos un juego de video póker nos daremos cuenta que el mecanismo inicial de juego es el mismo que el de una maquina tragamonedas. El objetivo del juego es el de obtener una combinación ganadora conformada por las 5 cartas que se nos entregaran, las cuales tendremos la opción de cambiar por la cantidad de cartas que deseemos en búsqueda de mejorarla. Antes de iniciar depositaremos créditos en nuestro <a href="/blog/bankroll-y-gestion-de-apuestas/">bankroll</a>, luego seleccionaremos la denominación de créditos y la cantidad de apuesta que jugaremos (en el caso de video póker multi manos seleccionaremos adicionalmente la cantidad de manos que jugaremos).</p>
<p>Para iniciar seleccionaremos las opciones de inicio DEAL o PLAY y se nos entregara las 5 cartas iniciales, luego seleccionaremos las cartas que deseemos mantener (aparecerán la descripción HOLD o HELD sobre ellas para marcar nuestra elección) y por ultimo seleccionaremos la opción DEAL o PLAY para que nuestras nuevas cartas se nos entregue y finalice la partida. Dependiendo de la combinación que hayamos obtenido y si se encuentra incluida en el ranking de manos del juego recibiremos nuestras ganancias. En caso el juego cuente con la función para doblar nuestras ganancias podremos utilizarlo con la opción DOUBLE UP o GAMBLE luego de haber terminado cada partida, en caso ganemos el doble de la ganancia obtenida en la partida será adherida a nuestro balance de lo contrario perderemos la ganancia de la partida.</p>
<h2><strong>Tipos de apuestas, RTP y ranking de manos</strong></h2>
<p>Los límites de apuestas varían dependiendo del proveedor de video póker así como del casino en línea que lo ofrece, siendo los rangos de apuestas más comunes de US$D 0.10 hasta USD$ 500, además de ofrecer diferentes denominaciones de créditos los cuales hacen que el juego pueda ser accesible a jugadores que recién están familiarizándose con el juego así como para los más expertos. Al igual que en las tragamonedas, cada video póker nos ofrece un valor de RTP o retorno de dinero para el jugador el cual debemos considerar antes de iniciar un juego. Podremos mencionar que existen variaciones de video póker que pueden ofrecer un RTP de casi el 100%, como en el juego <a href="/juego/triple-play-draw-poker/">Triple Play Draw Póker</a> de <a href="/proveedor/igt/">IGT</a> el cual ofrece un RTP de 98.98% en su variación de Double Double Bonus Póker.</p>
<p>Si bien en los juegos de Video Poker no nos enfrentamos contra ningún jugador, si debemos conocer el ranking de manos tradicional, el cual mencionamos anteriormente, ya que dependiendo la combinación que obtengamos recibiremos una ganancia, además tendremos en cuenta que dependiendo de las variaciones de video póker las manos mínimas requeridas para ganar así como la tabla de pagos podrá variar. Esta información está siempre disponible y es fácilmente ubicada en los juegos. Adicional podremos encontrar incluidas en el ranking de manos jugadas adicionales como: Póker con cartas Wild o comodines, Escaleras de color y Real con cartas Wild o comodines los cuales tendrán un pago diferente dependiendo de la variación que estemos jugando.</p>
<h2><strong>Variaciones del Video Póker</strong></h2>
<p>Al igual que en el juego original, el video póker nos muestra variaciones que son creadas por los proveedores para darle más emoción y entretenimiento al juego. Antes de mencionar algunas variaciones es importante mencionar que existen dos tipos de video póker, el video póker <strong>SINGLE HAND</strong> que es la que se juega una sola mano por partida y el video póker <strong>MULTI HAND</strong> o multi manos donde podremos 1, 5, 10, 25, 50 y hasta 100 manos por partida. La diferencia más notoria entre ambos tipos es el la cantidad de manos que se puede jugar por partida, además de los pagos que también serán diferente dependiendo de la variación que elijamos jugar.</p>
<p>Lo que si debemos tener en cuenta es que en ambos tipos se juegan de la misma manera y que las cartas que seleccionaremos para mantener en el video póker <strong>MULTI HAND</strong> serán replicadas en todas las manos que hayamos elegido jugar. <a href="/proveedor/microgaming/">Microgaming</a>, IGT, <a href="/proveedor/playtech/">Playtech</a>, Real Time Gaming o <a href="/proveedor/betsoft/">Betsoft</a> son algunos de los desarrolladores de software de juegos de azar que han creado variaciones de video póker en las que incluso ofrecen la opción de doblar nuestras ganancias con la opción DOBLAR o GAMBLE, además de POZOS PROGRESIVOS. A continuación les mencionamos algunas de las variaciones más populares:</p>
<ul>
<li><strong>Jack or Better,</strong> es el más conocido de los juegos de video póker y con el cual la mayoría de jugadores se iniciaron. En esta variación la mínima mano para acceder a una ganancia es la de una pareja de Jacks o Jotas. El tradicional ranking de manos es utilizado y no incluye manos adicionales como en algunas variaciones. Esta es el la variación recomendada para iniciar a jugar video póker por su sencilla y practica mecánica de juego.</li>
<li><strong>Deuces Wild</strong>, esta variación nos ofrece cuatro comodines con las 4 cartas con valoración 2, las cuales podrán completar una combinación ganadora En la mayoría de variaciones la mínima mano ganadora será un trio y también encontraremos manos adicionales en el ranking de manos como póker de 2’s o póker de 5 cartas, entre otras.</li>
<li><strong>Joker Póker</strong>, esta variación incluirá las cartas Joker en el paquete de cartas y tendrán la función de comodines, con los cuales podremos completar combinaciones ganadoras. El ranking de manos y la tabla de pagos también serán modificados e incluirá manos como escalera de color con joker.</li>
<li><strong>Double Bonus Póker</strong>, el juego base de esta variación es la de Jack or Better pero se incluirá manos adicionales en el ranking de jugadas así como se modificara la tabla de pagos. Podremos encontrar que pagos específicos para cierto rango de cartas como por ejemplo en el Póker de Ases pagara más que Póker que sean formadas con las cartas de 2, 3, 4 o 5.</li>
</ul>
<h2><strong>Recomendaciones para jugar Video Poker</strong></h2>
<ul>
<li>Al igual que todos los juegos debemos buscar las opciones de juego con un RTP atractivo, este tipo de información es un factor importante para nuestra elección, así que solo deberíamos jugar en juegos de video póker que muestren esta información.</li>
<li>Si bien es cierto que encontrar un juego con decente RTP es un buen inicio para maximizar nuestras apuestas, tenemos que conocer la mecánica de juego y crear una estrategia de apuesta. Los juegos de video póker con alternativas juegos gratuitos o de demostración como los ofrecidos por <a href="/proveedor/netent/">Netent</a> con <a href="/juego/video-poker-jacks-or-better-double-up/">Jacks or Better Double Up</a> son una buena opción para conocer sus funciones y pagos antes de utilizar dinero real.</li>
<li>El conocimiento del ranking de manos es importante ya que en ocasiones tendremos que decidir por cual mano elegiremos mantener nuestras cartas, especialmente en variaciones que incluyen comodines.</li>
<li>Los Video Poker MULTI HAND pueden ser una buena opción de juego, dependiendo de la variación que se elija. Iniciar con apuestas modestas al inicio de las sesiones y aumentarlas en forma progresiva, dependiendo de nuestros resultados es una alternativa que debemos probar.</li>
<li>Al igual que en todos los juegos de azar las apuestas adicionales tienen un porcentaje favorable de ganancia para los casinos, en el caso de los juegos de Video Poker estas son representadas por la función DOBLAR o GAMBLE, del cual es recomendable mantenernos alejados.</li>
</ul>
<h2><strong>Preguntas y respuestas frecuentes Video Poker en Línea</strong></h2>
<p>P: ¿Son confiables los juegos de Video Poker?</p>
<p>R: Al igual que todos los juegos de azar, debemos confiar en juegos de proveedores reconocidos, que muestren su información técnica y sean operados por casinos en línea de buena reputación. El sistema que se utiliza en los juegos de video póker es el de generador de números aleatorios, utilizados también en <a href="../blackjack/">blackjack</a>, <a href="../ruleta/">ruleta</a> o <a href="../baccarat/">baccarat</a> y que nos garantiza que no habrá trampa.</p>
<p>P: ¿Los juegos de Video Poker son mejores que los juegos de póker en línea?</p>
<p>R: Ambos son juegos que encontraremos en los casinos en línea pero tienen mecánicas de juego completamente diferentes. Mientras que el Video Poker es un juego unipersonal donde no tenemos oponentes, el póker en línea son juegos donde al menos se requiere 2 jugadores para que exista una partida, además de contar con rondas de apuestas y se utilizan estrategias de juego contra cada oponente. Dependerá de nuestra preferencia para elegir el juego ya que en ambos jugados de manera adecuada se podrá conseguir ganancias.</p>
<p>P: ¿Que casinos ofrecen juegos de Video Poker con modalidad de demostración?</p>
<p>R: Existen casinos que nos ofrecen esta modalidad de prueba como es el caso de <a href="/casino/leovegas/">LeoVegas</a>, <a href="/casino/22bet/">22bet</a>, <a href="/casino/1xbet/">1xBet</a>, <a href="/casino/slottica/">Slottica,</a> <a href="/casino/loki/">Loki</a>, entre otros. Tendremos en consideración que algunos casinos requieren que tengamos una cuenta de jugador para poder acceder a su modalidad de juego de demostración.</p>
<p>P: ¿Podremos utilizar las bonificaciones de los casinos en los juegos de Video Poker?</p>
<p>R: Dependiendo del casino y sus condiciones podremos utilizar los <a href="/bonos/">bonos</a> de bienvenida o por depósitos en juegos seleccionados y en algunos casos otorgándonos juegos gratuitos en sus Video Poker. Es recomendable que revisemos los términos de las bonificaciones ya que estos incluyen <a href="/blog/que-es-el-rollover-de-los-bonos-y-como-funciona-no-te-dejes-enganar/">rollovers</a> minimos antes de retirar las ganancias obtenidas del bono.</p>
